<div class="bg-white pt-2 header">
  <tabset [ngClass]="{'invisible': collapsed}">
    <tab heading="Explorer" active="true"></tab>
  </tabset>
  <ul class="list-group">
    <li>
      <button type="button" (click)="onDirSelect(homeDir)"
        class="btn btn-light list-group-item border-0 rounded-0 w-100 text-left"
        [ngClass]="{'active': selectedPath.includes(homeDir.path) }">
        <i class="fa fa-fw fa-home"></i>
        <span class="ml-1" *ngIf="!collapsed">Home</span>
      </button>
    </li>
  </ul>
  <ul class="list-group">
    <li *ngFor="let dir of groups">
      <button type="button" (click)="onDirSelect(dir)"
        class="btn btn-light list-group-item border-0 rounded-0 w-100 text-left"
        [ngClass]="{'active': selectedPath.includes(dir.path) }">
        <i class="fa fa-fw fa-folder"></i>
        <span class="ml-1" *ngIf="!collapsed">{{dir.name}}</span>
      </button>
    </li>
  </ul>
</div>
