<aside class="left-side sidebar sidebar-offcanvas"
       [ngClass]="{'collapse-left' : collapsed}">
    <div class="menu-toggle">
        <button class="minimise-btn btn pull-right"
                [ngClass]="{'inactive': !collapsed}"
                (click)="onToggle($event)"
                tooltip="{{collapsed ? 'Expand sidebar' : 'Collapse sidebar'}}"
                container="body"
                placement="right">
            <i class="fa fa-fw fa-lg"
               [ngClass]="{'fa-toggle-left': !collapsed, 'fa-toggle-right': collapsed}"></i>
        </button>
        <tabset [ngClass]="{'invisible': collapsed}">
            <tab heading="Explorer" active="true"></tab>
        </tabset>
    </div>
    <ul class="sidebar-menu">
        <li *ngFor="let dir of dirs" class="sidebar-item success" [ngClass]="{'active': dir.path === selectedPath}">
            <a *ngIf="collapsed"
               (click)="onDirSelect(dir)">
                <i class="fa fa-fw fa-folder"></i>
            </a>
            <a *ngIf="!collapsed"
               (click)="onDirSelect(dir)">
                <i class="fa fa-fw fa-folder"></i><span>{{dir.name}}</span>
            </a>
        </li>
    </ul>
</aside>