<aside class="left-side sidebar sidebar-offcanvas"
       [ngClass]="{'collapse-left' : collapsed}">

    <form novalidate
          #form="ngForm"
          (ngSubmit)="onSubmit(form)">
        <ul class="sidebar-menu">
            <li class="sidebar-item sidebar-edit-btn-item menu-toggle">
                <a (click)="onToggle($event)">
                    <button class="minimise-btn btn btn-primary btn-xs"
                            [ngClass]="{'inactive': !collapsed}">
                        <i class="fa fa-bars fa-fw"></i>
                    </button>
                </a>
                <button class="sidebar-edit-btn btn btn-primary btn-xs btn-flat"
                        *ngIf="!editing && !collapsed"
                        (click)="onEditModeToggle($event)">
                    <i class="fa fa-fw fa-pencil"></i>
                </button>
                <span class="sidebar-edit-btn"
                     *ngIf="editing && !collapsed">
                    <button class="btn btn-primary btn-xs btn-flat"
                            type="submit"
                            [disabled]="form.invalid">
                        Save
                    </button>
                    <button class="btn btn-default btn-xs btn-flat"
                            (click)="onCancel($event)">
                        Cancel
                    </button>
                </span>
            </li>
            <li>
                <div class="sidebar-item success" *ngFor="let item of items; let i = index">
                    <a *ngIf="!editing" (click)="item.onClick($event)"
                       [tooltip]="item.label"
                       placement="right"
                       container="body">
                        <i class="fa fa-fw" [ngClass]="item.icon"></i>
                        <span *ngIf="!collapsed">Add&nbsp;{{item.feature.typeName}}</span>
                    </a>
                    <a [ngClass]="{'has-error': itemType.invalid}"
                       *ngIf="editing && !item.isDeleted">
                        <span class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-fw" [ngClass]="item.icon"></i>
                            </span>
                            <input type="text"
                                   class="form-control input-sm form-control-auto"
                                   [disabled]="item.isReadOnly()"
                                   [ngModel]="item.feature.typeName"
                                   name="{{item.feature.id}}"
                                   #itemType="ngModel"
                                   unique
                                   required />
                            <span class="input-group-btn">
                                <button class="item-delete btn btn-danger btn-sm btn-flat"
                                        [disabled]="item.isReadOnly()"
                                        tooltip="delete"
                                        (click)="onItemDelete($event, item.feature.id, form.controls, i)">
                                    <i class="fa fa-trash-o fa-fw"></i>
                                </button>
                            </span>
                        </span>
                        <label [hidden]="!itemType.errors?.unique || !itemType.touched"
                               class="control-label small">
                            Type name must be unique
                        </label>
                        <label [hidden]="!itemType.errors?.required || !itemType.touched"
                               class="control-label small">
                            Type name cannot be blank
                        </label>
                    </a>
                </div>
            </li>
            <li *ngIf="!editing" class="sidebar-item success">
                <a (click)="onAddClick($event)">
                    <i class="fa fa-fw fa-plus"></i>
                    <span *ngIf="!collapsed">Add...</span>
                </a>
            </li>
        </ul>
    </form>
</aside>
<subm-add-dialog
        #addDialog
        (okClick)="onAdd($event)">
</subm-add-dialog>
<confirm-dialog #confirmDialog
                title="Delete items"
                body="Some of the items have been deleted. If you proceed, they cannot be recovered."
                confirmLabel="Delete">
</confirm-dialog>