.row-input, .row-submit {
    padding: 12px 10px 12px 10px;
}

/* Types tab - list mode */
.sidebar-item {
    line-height: 30px;
}
.sidebar-item.type-control .fa-lg {
    font-size: 1.7em;
    margin-left: -.8px;
}
.sidebar-item.type-control {
    background: #fff;
}
.sidebar-item.type-control a {
    color: #317181;
}
.sidebar-item.type-control a:hover {
    color: #fff;
}
.sidebar-item.type-control a:hover .fa-inverse {
    color: #3c8b9f;
}
.fa-lg {
    vertical-align: middle;
}
.fa-stack {
    margin-left: -2.5px;
    font-size: 12px;
}

/* Types tab - edit mode */
.edit-type-form {
    background: #fff;
}

.control-label {
    margin-bottom: 0;
}

.type-input {
    cursor: default;
    background: none;
}

.input-group {
    margin-left: -5px;
}

.input-group-addon {
    min-width: 41px;
    padding-left: 3px;
    background: none;
    border: none;
    color: #3c8b9f;
}

/* Review tab */
.no-error-msg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
.no-error-msg h4 {
    font-weight: 400;
}
.collapse-left .no-error-msg {
    width: 100%;
}
.collapse-left .no-error-msg h4 {
    display: none;
}
.label {
    font-size: 80%;
}
.collapse-left .label {
    padding: .2em .17em .5em;
}