/*sidebar edit button */

.sidebar-edit-btn-item {
    position: relative !important;
}

.sidebar-edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    z-index: 10000;
}

.sidebar-edit-btn > a {
    width: 100%;
    background: transparent;
}

.sidebar-edit-btn > a:hover > i {
    color: black;
    cursor: pointer;
}

.sidebar-edit-btn > a > i {
    margin-top: 50%;
    margin-left: 20%;
}

/* item editor*/

.sidebar-item-editor {
    position: relative !important;
}

.sidebar-item-editor .item-icon-left {
    position:absolute;
    top:28%;
    width:20px;
}

.sidebar-item-editor .item-editbox-wrap {
    margin-left:20px;
    position:relative;
}

.item-editbox-wrap .item-editbox {
    margin-right:20px;
}

.item-editbox-wrap .item-icon-right {
    position:absolute;
    top:20%;
    right:0;
    width:20px;
}