:host ::ng-deep .ck-editor__editable_inline {
  background-color: #ffffff;
  border-radius: 0.25rem !important;
  border: 1px solid #ccc;
  padding: 6px 12px;
}

:host ::ng-deep .ck.ck-editor__editable_inline > :last-child {
  margin: 0;
}

:host ::ng-deep .ck.ck-editor__editable_inline > :first-child {
  margin: 0;
}

:host ::ng-deep .ck.ck-editor__editable_inline p {
  margin: 0;
}

:host ::ng-deep .is-readonly .ck-editor__editable_inline {
  border: 0;
}

:host ::ng-deep .is-grouped .ck-editor__editable_inline {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

:host ::ng-deep .is-invalid .ck-editor__editable_inline {
  border-color: #C05F5D;
}
