<div class="row-offcanvas row-offcanvas-left"
     [ngClass]="{'readonly': readonly, 'grayout': isReverting}">
    <subm-sidebar *ngIf="!readonly"
                  (toggle)="sideBarCollapsed=!sideBarCollapsed"
                  [collapsed]="sideBarCollapsed"
                  [sectionForm]="sectionForm">
    </subm-sidebar>

    <subm-navbar *ngIf="sectionForm" class="navbar-subm-fixed navbar-default"
            [ngClass]="{'collapse-left': !readonly && sideBarCollapsed}"
            [readonly]="readonly"
            [accno]="accno"
            [sectionForm]="sectionForm"
            (sectionClick)="onSectionClick($event)"
            (revertClick)="onRevertClick($event)"
            (submitClick)="onSubmitClick($event)"
            (editClick)="onEditBackClick($event)">
    </subm-navbar>

    <div *ngIf="sectionForm" class="container-fluid">
        <aside [ngClass]="{'collapse-left' : !readonly && sideBarCollapsed, 'right-side': !readonly}">
            <div class="navbar-subm-margin">

                <div class="panel">
                    <div class="panel-body">
                        <div *ngIf="hasJustCreated && sectionForm.invalid">
                            <h4>New submission</h4>
                            <p>
                                Please fill in the form below. The <span class="font-bold">Check</span> tab on the
                                left-hand side lists those fields still incomplete or incorrect. Use the
                                <span class="font-bold">Add</span> tab to quickly add new rows or tables.
                            </p>
                            <div class="alert alert-warning">
                                <div class="pull-left">
                                    <i class="fa fa-hand-o-right fa-lg"></i>
                                    <strong>Please note</strong>
                                </div>
                                <p class="text-block text-black">
                                    All fields are required unless with a
                                    <span class="text-dashed">&nbsp;dashed outline&nbsp;</span> or marked as "<i>Optional</i>"
                                </p>
                            </div>
                        </div>

                        <div *ngIf="!hasJustCreated && !readonly && sectionForm.invalid">
                            <h4>Incomplete submission</h4>
                            <p>
                                Some information in this submission is still missing or incorrect. Refer to the
                                <span class="font-bold">Check</span> tab on the left-hand side for the
                                list of fields that need updating.
                            </p>
                            <div class="alert alert-warning">
                                <div class="pull-left">
                                    <i class="fa fa-hand-o-right fa-lg"></i>
                                    <strong>Please note</strong>
                                </div>
                                <p class="text-block text-black">
                                    All fields are required unless with a
                                    <span class="text-dashed">&nbsp;dashed outline&nbsp;</span> or marked as "<i>Optional</i>"
                                </p>
                            </div>
                        </div>

                        <div *ngIf="sectionForm.valid && !readonly">
                            <div *ngIf="isTemp && !isSubmitting">
                                <h4>Study ready for submission</h4>
                                <p>
                                    You may submit the data on this form now. After submission, your study will be allocated
                                    a permanent accession number under which it will be published.
                                </p>
                            </div>

                            <div *ngIf="!isTemp && !isSubmitting">
                                <h4>Study ready for re-submission</h4>
                                <p>
                                    You may re-submit the data on this form now. Your study will retain
                                    the same accession number under which it was registered.
                                </p>
                            </div>

                            <div *ngIf="isSubmitting">
                                <h4>Submitting study...</h4>
                                <p>Please wait while the data in the form is being submitted and validated.</p>
                            </div>
                        </div>

                        <div *ngIf="!isTemp && readonly">
                            <h4>Study
                                <span *ngIf="submitOperation.isUnknown">entry</span>
                                <span *ngIf="submitOperation.isCreate">created</span>
                                <span *ngIf="submitOperation.isUpdate">updated</span>
                            </h4>
                            <p>
                                The study with accession number <strong>{{accno}}</strong>
                                <span *ngIf="releaseDate">
                            and release date <strong>{{releaseDate | date: 'dd MMMM yyyy'}}</strong>
                        </span>
                                <span *ngIf="submitOperation.isUnknown">is present on the BioStudies database with the data shown below.</span>
                                <span *ngIf="submitOperation.isCreate">has been successfully added to the BioStudies database.</span>
                                <span *ngIf="submitOperation.isUpdate">has been successfully updated.</span>
                                It {{submitOperation.isCreate ? 'will be available in the next 24 hours' : 'is available' }} at
                                <a target="_blank" href="{{location.origin}}/biostudies/studies/{{accno}}">
                                    {{location.hostname}}/biostudies/studies/{{accno}}</a>.
                            </p>
                            <strong>
                                <a target="_blank" href="https://www.ebi.ac.uk/biostudies/about.html">
                                    Citing my study
                                    <i class="fa fa-fw fa-external-link-square"></i>
                                </a>
                            </strong>
                            <blockquote class="blockquote">
                                Data are available in the BioStudies database (http://www.ebi.ac.uk/biostudies)
                                under accession number {{accno}}.
                            </blockquote>
                            <strong>
                                <a target="_blank" href="http://europepmc.org/abstract/MED/26700850">
                                    Citing the BioStudies database
                                    <i class="fa fa-fw fa-external-link-square"></i>
                                </a>
                            </strong>
                            <blockquote class="blockquote">
                                McEntyre J, Sarkans U, Brazma A (2015) The
                                BioStudies database. <i>Mol. Syst. Biol.</i> 11(12):847.
                                https://doi.org/10.15252/msb.20156658.
                            </blockquote>
                        </div>
                    </div>
                </div>

                <subm-form [sectionForm]="sectionForm"
                           (keyup.enter)="onSubmitClick($event, true)"
                           [readonly]="readonly">
                </subm-form>

                <div *ngIf="sectionForm.subsectionForms.length > 0" class="list-group form-group">
                    <label class="control-label">Pages</label>
                    <div *ngFor="let subsectionForm of sectionForm.subsectionForms" class="list-group-item" style="cursor: pointer"
                        (click)="onSectionClick(subsectionForm)">
                        {{subsectionForm.section.typeName}}
                        <span *ngIf="subsectionForm.section.accno">
                            : {{subsectionForm.section.accno}}
                        </span>
                        <span class="btn-toolbar pull-right">
                            <button type="button" *ngIf="!readonly && sectionForm.isSectionRemovable(subsectionForm)" class="section-delete btn btn-danger btn-xs btn-flat"
                                    tooltip="Delete page &quot;{{subsectionForm.typeName}}&quot;"
                                    container="body"
                                    placement="left"
                                    (click)="$event.stopPropagation(); onSectionDeleteClick(subsectionForm)">
                                <i class="fas fa-trash-alt fa-fw"></i>
                            </button>
                        </span>
                        <span class="label label-danger pull-right" style="margin-right: 10px"
                              *ngIf="subsectionForm.invalid">{{subsectionForm.errorCount | plural: 'error' }}</span>
                    </div>
                </div>

                <div *ngIf="!readonly" class="row row-submit">
                    <p class="col-xs-2">
                        <button type="button" class="btn-submit btn btn-primary"
                                [disabled]="isSubmitting || isSaving"
                                tooltip="Send to the BioStudies database"
                                placement="top"
                                container="body"
                                (click)="onSubmitClick($event)">
                            {{isTemp ? 'S' : 'Re-s'}}ubmit
                        </button>
                    </p>
                    <p class="text-muted col-xs-9">
                        <i *ngIf="isSaving" class="fa fa-cog fa-spin"></i>
                        <span *ngIf="isSaving">Backing up study data...</span>
                    </p>
                </div>
            </div>
        </aside>
    </div>
</div>