<ul class="treeview" *ngIf="loaded; else loadingBlock">
  <li *ngFor="let node of nodes">
    <a (click)="onNodeClick(node)">
      <span *ngIf="node.isDir">
        <i class="fas" [ngClass]="{ 'fa-folder-open': node.expanded, 'fa-folder': !node.expanded }"></i>
      </span>
      {{node.name}}
    </a>
    <div *ngIf="node.expanded">
      <st-file-tree [root]="node" (select)="onChildTreeClick($event)"></st-file-tree>
    </div>
  </li>
</ul>
<ng-template #loadingBlock>
  <div class="treeview loading">
    <i class="fa fa-refresh fa-spin" style="font-size:10px"></i> Loading...
  </div>
</ng-template>
