<ul class="treeview list-group-flush" *ngIf="loaded; else loadingBlock">
  <li *ngFor="let node of nodes">
    <a *ngIf="node.isDir" (click)="onParentClick(node)" class="dir">
      <i class="far" [ngClass]="{ 'fa-minus-square': node.expanded, 'fa-plus-square': !node.expanded }"></i>
    </a>
    <a class="node pl-2" (click)="onNodeClick(node)">
      {{node.name}}
    </a>
    <div *ngIf="node.expanded">
      <st-file-tree [root]="node" (fileTreeSelect)="onChildTreeClick($event)"></st-file-tree>
    </div>
  </li>
</ul>
<ng-template #loadingBlock>
  <div class="treeview loading">
    <i class="fa fa-refresh fa-spin" style="font-size:10px"></i> Loading...
  </div>
</ng-template>
