<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-bsst navbar-fixed-top" role="navigation">
  <st-error-toast></st-error-toast>
  <div class="container-fluid" [ngClass]="{'logged': userLoggedIn}">
    <div class="navbar-header" [ngClass]="{'pull-left': !userLoggedIn}">
      <button type="button" [ngClass]="{'navbar-toggle': userLoggedIn}" [hidden]="!userLoggedIn"
        (click)="toggleCollapsed()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" routerLink="/submissions">
        <img src="images/logo.png" class="logo" alt="Submission tool" />
      </a>
    </div>

    <div [ngClass]="{'collapse navbar-collapse': userLoggedIn}" [collapse]="userLoggedIn && navCollapsed">
      <ul class="nav navbar-right" [ngClass]="{'navbar-nav': userLoggedIn, 'pull-right': !userLoggedIn}">
        <li *ngIf="userLoggingIn">
          <button class="btn navbar-btn" routerLink="/signup" routerLinkActive="active" tooltip="Register as new user"
            placement="bottom" container="body" (click)="toggleCollapsed()">
            <i class="fa fa-user-plus fa-fw fa-lg"></i>
            <span>Register</span>
          </button>
        </li>
        <li *ngIf="!userLoggedIn && !userLoggingIn">
          <button class="btn navbar-btn" routerLink="/signin" tooltip="Log in to access studies" placement="bottom"
            container="body" (click)="toggleCollapsed()">
            <i class="fas fa-sign-in-alt fa-fw fa-lg"></i>
            <span>Log in</span>
          </button>
        </li>

        <li *ngIf="userLoggedIn">
          <button class="btn navbar-btn" routerLink="submissions" routerLinkActive="active"
            tooltip="List of submissions" placement="bottom" container="body" (click)="toggleCollapsed()">
            <i class="fas fa-fw fa-lg fa-cloud-upload-alt"></i>
            <span>Submissions</span>
          </button>
        </li>

        <li *ngIf="userLoggedIn">
          <button class="btn navbar-btn" routerLink="files" routerLinkActive="active"
            tooltip="Upload or list your files" placement="bottom" container="body" (click)="toggleCollapsed()">
            <i class="fa fa-fw fa-folder-open fa-lg"></i>
            <span>Files</span>
          </button>
        </li>

        <li *ngIf="userLoggedIn">
          <button class="btn navbar-btn" routerLink="/help" routerLinkActive="active" tooltip="How to use this tool"
            placement="bottom" container="body" (click)="toggleCollapsed()">
            <i class="fa fa-fw fa-question-circle fa-lg"></i>
            <span>Help</span>
          </button>
        </li>
        <li>
          <button class="btn navbar-btn" tooltip="Submit feedback" placement="bottom" container="body"
            (click)="submitFeedback()">
            <i class="fa fa-fw fa-paper-plane fa-lg"></i>
            <span>Feedback</span>
          </button>
        </li>
        <li [class.hidden]="!userLoggedIn" dropdown>
          <button dropdownToggle type="button" class="btn navbar-btn dropdown-toggle" [disabled]="isBusy"
            [tooltip]="profileTooltip" placement="bottom" container="body" (mouseenter)="changeProfileTooltip()" #user
            aria-controls="dropdown-basic">
            <i *ngIf="!isBusy" class="fa fa-fw fa-user-circle fa-lg"></i>
            <i *ngIf="isBusy" class="fa fa-fw fa-cog fa-spin fa-lg"></i>
            <i *ngIf="!isBusy" class="fa fa-fw fa-caret-down"></i>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" tooltip="Log out" placement="bottom" container="body" href="/"
                (click)="signOut($event); false">
                Log out
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="loading-bar" [ngClass]="{'animate': isPendingReq}"></div>
</nav>
