/* Logo area */
.logo {
  height: 95%;
}

/* Overrides Safari's default grey background for buttons. */
.navbar-btn {
  background: #fafafa;
}

/* Hides nav button text when logged out and on mobile */
/* NOTE: Button number is restricted to a single one on guest mode */
.navbar-btn span {
  display: none;
}
.logged .navbar-btn span {
  display: inline;
}
@media screen and (min-width: 425px) {
  .nav .navbar-btn span{
    display: inline;
  }
}

/* Indeterminate progress bar */
.navbar-fixed-top {
  border-width: 0 0 2px;
  border-color: #ededed;
}
.loading-bar {
  position: absolute;
  background: #25a9e0;
  height: 2px;
  width: 0%;
}
.animate {
  -webkit-animation: progress 10s infinite linear;
  -moz-animation: progress 10s infinite linear;
  animation: progress 10s infinite linear;
}
@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
