<div class="bg-white pt-2 header">
  <tabset *ngIf="!collapsed">
    <tab [active]="isCheckTabActive" (selectTab)="onCheckTabClick()">
      <ng-template tabHeading>
        Validation
        <span *ngIf="numInvalid" class="badge badge-danger">
          {{numInvalid}}
        </span>
      </ng-template>
    </tab>
    <tab heading="Add" [active]="isEditTabActive" (selectTab)="onAddTabClick()"></tab>
  </tabset>
</div>
<st-subm-check-sidebar *ngIf="isCheckTabActive" [collapsed]="collapsed" [invalidControls]="invalidControls"
  [serverError]="serverError" (review)="onReviewClick($event)">
</st-subm-check-sidebar>
<st-subm-edit-sidebar *ngIf="isEditTabActive" [isAdvancedVisible]="showAdvanced" [collapsed]="collapsed">
</st-subm-edit-sidebar>
