<div *ngIf="areInvalidControlsEmpty || isLoading || isSubmitting" class="p-3">
  <div *ngIf="!serverError && !isLoading && !isSubmitting" class="text-center text-white"
    [ngClass]="{'col-xs-12': !collapsed}">
    <i aria-hidden="true" class="fa fa-check-circle mb-2" [ngClass]="{'fa-2x': collapsed, 'fa-3x': !collapsed}"></i>
    <ng-container *ngIf="!collapsed">
      <ng-container *ngIf="isRootSection">
        <h5 >All fields are valid</h5>
        <h5 class="action-title">You may submit your study now</h5>
      </ng-container>
      <ng-container *ngIf="!isRootSection">
        <h5 >All fields are valid for this section</h5>
        <h5 class="action-title">Click 'Back to overview' to review any missing fields and submit.</h5>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="serverError" class="text-center text-danger" [ngClass]="{'col-xs-12': !collapsed}">
    <i aria-hidden="true" class="fa fa-times-circle mb-2" [ngClass]="{'fa-2x': collapsed, 'fa-3x': !collapsed}"></i>
    <h5 *ngIf="!collapsed">{{errorMsg()}}</h5>
  </div>
  <div *ngIf="!serverError && isLoading" class="text-center text-white" [ngClass]="{'col-xs-12': !collapsed}">
    <i aria-hidden="true" class="fa fa-cog fa-spin mb-2" [ngClass]="{'fa-2x': collapsed, 'fa-3x': !collapsed}"></i>
    <h5 *ngIf="!collapsed">Loading submission...</h5>
  </div>
  <div *ngIf="!serverError && isSubmitting" class="text-center text-white" [ngClass]="{'col-xs-12': !collapsed}">
    <i aria-hidden="true" class="fa fa-cog fa-spin mb-2" [ngClass]="{'fa-2x': collapsed, 'fa-3x': !collapsed}"></i>
    <h5 *ngIf="!collapsed">Submitting...</h5>
  </div>
</div>
<div *ngFor="let controlGroup of invalidControls" class="list-group">
  <div *ngIf="!controlGroup[0].ref.isRootSection"
    class="list-group-item bg-transparent text-white border-top-0 border-bottom">
    <span>{{collapsed ? '' : controlGroup[0].ref.sectionName}}</span>
  </div>
  <ng-container *ngFor="let control of controlGroup">
    <button type="button" *ngIf="control.invalid" (click)="onReviewClick(control)"
      class="btn btn-light list-group-item d-flex justify-content-between align-items-center border-0 text-white rounded-0 bg-blue">
      <div class="text-truncate pr-2">
        <i class="entry-item fas {{control.ref.icon}}"></i>
        {{!collapsed ? '&nbsp;' + control.ref.displayName + '&nbsp;' : ''}}
      </div>
      <span *ngIf="!collapsed" class="badge badge-danger"
        tooltip="{{collapsed ? '&quot;' + control.ref.name + '&quot; field is ' + tipText(control.errors) : 'Highlight field on the form'}}"
        placement="{{collapsed ? 'right' : 'top'}}" #labelEl>
        {{tipText(control.errors)}}
      </span>
    </button>
  </ng-container>
</div>
