<ng-select class="select-input"
  (add)="onAdd()"
  (change)="onChange"
  (change)="onSelectChange($event)"
  (close)="onClose()"
  (focus)="onTouched"
  (search)="onSearch($event)"
  [(ngModel)]="selectedValue"
  [addTag]="addValue"
  [inputAttrs]="{'class': inputId}"
  [labelForId]="inputId"
  [markFirst]="false"
  [multiple]="multiple"
  [ngClass]="{'is-grouped': isInputGroup, 'is-invalid': formControl.invalid && formControl.touched}"
  [readonly]="readonly"
  [selectOnTab]="false"
  appendTo="body"
  placeholder="Please select or enter"
  >
  <ng-option *ngFor="let value of values" [value]="value">{{value}}</ng-option>
</ng-select>
