<div class="card mt-4" *ngIf="tableForm && !tableForm.isEmpty">
  <div class="card-header d-flex align-items-center">
    <div class="d-flex align-items-center flex-grow-1">
      <i class="fa fa-lg {{tableForm.icon}}"></i>
      <div class="pl-3">
        <h6 class="d-flex align-items-center m-0">
          {{tableForm.prettyName | lowercase | titlecase}}
          <span class="small text-muted ml-1"
            *ngIf="!readonly && !tableForm.isRequired && !tableForm.isReadonly && tableForm.hasRequiredGroups">
            (Required at least one {{tableForm.requiredGroups.join(' or ')}})
          </span>
        </h6>
        <span class="text-muted" [innerHTML]="tableForm.description"></span>
      </div>
    </div>
    <div class="text-muted"
      *ngIf="!readonly && !tableForm.isRequired && !tableForm.isReadonly && !tableForm.hasRequiredGroups">
      <i>Optional</i>
    </div>
  </div>

  <div class="card-body">
    <div class="d-flex align-items-center justify-content-end pb-2">
      <h6 class="card-subtitle text-muted flex-grow-1"
        *ngIf="tableForm.columnNamesAvailableCached.length && userData.isPrivileged && !readonly && !tableForm.isReadonly">
        <strong>{{tableForm.hasUniqueColumns ? 'More' : 'Available'}}
          {{tableForm.canHaveMultipleRows ? 'column' : 'key'}}s</strong>:
        <i>{{tableForm.columnNamesAvailableCached.join(', ')}}.</i>
      </h6>
      <div class="badge badge-danger" *ngIf="tableForm.invalid">{{tableForm.errorCount}}
        error{{tableForm.errorCount > 1 ? 's' : ''}}</div>
    </div>

    <st-table *ngIf="tableForm.canHaveMultipleRows; else featureList" [tableForm]="tableForm"
      [readonly]="readonly">
    </st-table>
    <ng-template #featureList>
      <st-single-column-table [tableForm]="tableForm" [readonly]="readonly">
      </st-single-column-table>
    </ng-template>
  </div>
</div>
