<button type="button" class="btn btn-primary btn-sm" (click)="openModal(template)">FTP/Aspera</button>

<ng-template #template>
  <div class="modal-header bg-primary">
    FTP/Aspera Upload
  </div>
  <div class="modal-body">
    <markdown>
      You can upload directories to your BioStudies filespace via FTP or Aspera. Please click on the relevant
      method below.
      Your secret directory is: `{{secretId}}`
    </markdown>
    <accordion closeOthers="true">
      <accordion-group  #group [isOpen]="true">
        <div accordion-heading class="clearfix">
           <span class="float-right pull-right">
             <i class="fa" [ngClass]="!group?.isOpen ? 'fa-chevron-down': 'fa-chevron-up'"></i>
           </span>
          Upload using FTP
        </div>
        You can use any FTP client such as **FileZilla**, or issue FTP commands via a common line, e.g.,
        <markdown ngPreserveWhitespaces>
          ```
          ftp ftp-private.ebi.ac.uk
          Name: bsftp
          Password: bsftp1
          ftp> cd xx/xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxx
          ftp> put testFile
          ```
          where
          - `ftp-private.ebi.ac.uk` is the FT server.
          - `bsftp` is the username.
          - `bsftp1` is the password.
          - `xx/xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxx` is your secret directory shown above.
        </markdown>
      </accordion-group>
      <accordion-group #group2 [isOpen]="false">
        <div accordion-heading class="clearfix">
           <span class="float-right pull-right">
             <i class="fa" [ngClass]="!group2?.isOpen ? 'fa-chevron-down': 'fa-chevron-up'"></i>
           </span>
          Upload using Aspera
        </div>
        <div class="aspera-header">
          <h4>Instructions for</h4>
          <div class="aspera-header-select">
            <select [ngModel]="osOption.name" (ngModelChange)="onOSChange($event)">
              <option *ngFor="let option of osOptions"
                [value]="option.name"
                [selected]="option.name === osOption.name">
                {{option.displayName}}
              </option>
            </select>
          </div>
        </div>
        <hr class="divider" />
        <p>
          The <strong>Aspera</strong> <em>ascp</em> command line client is distributed as part of the <strong>Aspera CLI</strong>
          high-performance transfer browser plug-in which can be downloaded from
          <a target="_blank" [href]="osOption.link">
            here
          </a>
        </p>
        <markdown *ngIf="osOption.name === 'Mac' || osOption.name === 'Linux'">
          You will need to execute the downloaded file and switch to the CLI folder, e.g.,
          ```
          $ sh ~/Documents/ibm-aspera-cli-3.9.1.1401.be67d47-mac-10.7-64-release.sh
          $ cd ~/Applications/Aspera\ CLI/bin
          $ ./ascp -P33001 -i ../etc/asperaweb_id_dsa.openssh -d &lt;directory to upload&gt; bsaspera_w@hx-fasp-1.ebi.ac.uk:&lt;secret directory>
          ```
        </markdown>
        <markdown *ngIf="osOption.name === 'Win'">
          You will need to extract the downloaded zip file to a directory of your choice and then switch to
          the subdirectory bin, e.g.,
          ```
          C:\>cd C:\cli\bin
          C:\cli\bin>ascp.exe -P33001 -i ..\etc\asperaweb_id_dsa.openssh -d &lt;directory to upload&gt; bsaspera_w@hx-fasp-1.ebi.ac.uk:.&lt;secret directory&gt;
          ```
        </markdown>
        <markdown>
          where
          - `-P33001` and `bsaspera_w@hx-fasp-1.ebi.ac.uk` defines port, user and server for **Aspera** connection.
          - `&lt;directory to upload&gt;` is the path of the directory to be uploaded.
          - `&lt;secret directory&gt;` looks like `xx/xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxx` and is shown above.
        </markdown>
      </accordion-group>
    </accordion>
  </div>
  <div class="modal-footer">
    <form class="pull-right">
      <button type="button" class="btn btn-primary btn-xs" (click)="modalRef.hide()" autofocus>Ok</button>
    </form>
  </div>
</ng-template>
