.mono {
  font-family: Consolas, monospace, 'Courier New';
  font-size: 10pt;
  color: #58585a;
}

pre {
  font-family: Consolas, monospace, 'Courier New';
  font-size: 9pt;
  white-space: pre-line;
  color: #58585a;
  padding: 10pt;
  background-color: #eee;
}

.aspera-header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.aspera-header-select {
  padding-left: 10px;
}

.divider {
  margin: 5px 0;
}
