<div class="row-offcanvas row-offcanvas-left"
     [ngClass]="{'readonly': readonly, 'grayout': isReverting}">
    <subm-sidebar *ngIf="!readonly"
                  (toggle)="sideBarCollapsed=!sideBarCollapsed"
                  [collapsed]="sideBarCollapsed"
                  [section]="section"
                  [formControls]="formControls"
                  [errors]="errors">
    </subm-sidebar>

    <subm-navbar class="navbar-subm-fixed navbar-default"
            [ngClass]="{'collapse-left': !readonly && sideBarCollapsed}"
            [readonly]="readonly"
            [accno]="accno"
            [isTemp]="subm?.isTemp"
            [isRevised]="subm?.isRevised"
            [sectionPath]="sectionPath"
            (sectionClick)="onSectionClick($event)"
            (revertClick)="onRevert($event)"
            (submitClick)="onSubmit($event)">
    </subm-navbar>

    <div class="container-fluid">
        <aside [ngClass]="{'collapse-left' : !readonly && sideBarCollapsed, 'right-side': !readonly}">
            <div *ngIf="subm"
                 (change)="onChange($event)"
                 class="navbar-subm-margin">

                <div *ngIf="isNew && errors.total()" class="panel">
                    <div class="panel-body">
                        <h4>New submission</h4>
                        <p>
                            Please fill in the form below. All fields are required unless with a
                            <span class="text-dashed">&nbsp;dashed outline&nbsp;</span> or
                            marked as "<i>Optional</i>".<br> The <span class="font-bold">Check</span> tab on the
                            left-hand side lists those form fields still incomplete or incorrect. Use the
                            <span class="font-bold">Add</span> tab to quickly add new rows or tables.
                        </p>
                    </div>
                </div>

                <div *ngIf="!isNew && errors.total()" class="panel">
                    <div class="panel-body">
                        <h4>Incomplete submission</h4>
                        <p>
                            Some information in this submission is still missing or incorrect. Please note that all
                            fields are required unless with a <span class="text-dashed">
                            &nbsp;dashed outline&nbsp;</span> or marked as "<i>Optional</i>".
                            You can find the list of fields that need updating under the
                            <span class="font-bold">Check</span> tab on the left-hand side.
                        </p>
                    </div>
                </div>

                <div *ngIf="!errors.total() && !readonly">
                    <div *ngIf="subm.isTemp && !isSubmitting" class="panel">
                        <div class="panel-body">
                            <h4>Study ready for submission</h4>
                            <p>
                                You may submit the data on this form now. After submission, your study will be allocated
                                a permanent accession number under which it will be published.
                            </p>
                        </div>
                    </div>

                    <div *ngIf="!subm.isTemp && !isSubmitting" class="panel">
                        <div class="panel-body">
                            <h4>Study ready for re-submission</h4>
                            <p>
                                You may re-submit the data on this form now. Your study will retain
                                the same accession number under which it was published.
                            </p>
                        </div>
                    </div>

                    <div *ngIf="isSubmitting" class="panel">
                        <div class="panel-body">
                            <h4>Submitting study...</h4>
                            <p>Please wait while the data in the form is being submitted and validated.</p>
                        </div>
                    </div>
                </div>

                <div *ngIf="!subm.isTemp && readonly" class="panel">
                    <div class="panel-body">
                        <h4>Submitted study</h4>
                        <p>The study has been added to the BioStudies database with accession number <strong>{{accno}}</strong>.</p>
                    </div>
                </div>

                <subm-form #submForm
                           [section]="section"
                           (keyup.enter)="onSubmit($event, true)"
                           [readonly]="readonly">
                </subm-form>

                <div *ngIf="section.sections.list().length > 0" class="list-group form-group">
                    <label class="control-label">Sections</label>
                    <div *ngFor="let subsection of section.sections.list()"
                          class="list-group-item">
                        {{subsection.typeName}}
                        <span *ngIf="subsection.accno">
                            : {{subsection.accno}}
                        </span>
                        <span class="btn-toolbar pull-right">
                            <button type="button" class="section-edit btn btn-link btn-xs btn-flat"
                                    tooltip="Edit section &quot;{{subsection.typeName}}&quot;"
                                    container="body"
                                    (click)="onSectionClick(subsection)">
                                <i class="fa fa-pencil fa-fw fa-lg"></i>
                            </button>
                            <button type="button" *ngIf="section.sections.isRemovable(subsection)" class="section-delete btn btn-danger btn-xs btn-flat"
                                    tooltip="Delete section &quot;{{subsection.typeName}}&quot;"
                                    container="body"
                                    placement="left"
                                    (click)="onSectionDelete(subsection)">
                                <i class="fa fa-trash-o fa-fw"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div *ngIf="!readonly" class="row row-submit">
                    <p class="col-xs-2">
                        <button type="button" class="btn-submit btn btn-primary"
                                [disabled]="isSubmitting || isSaving"
                                tooltip="Send to the BioStudies database"
                                placement="top"
                                container="body"
                                (click)="onSubmit($event)">
                            {{subm.isTemp ? 'S' : 'Re-s'}}ubmit
                        </button>
                    </p>
                    <p class="text-muted col-xs-9">
                        <i class="fa fa-cog fa-spin" *ngIf="isSubmitting || isSaving"></i>
                        <span *ngIf="isSubmitting">Submitting study...</span>
                        <span *ngIf="isSaving">Backing up study data...</span>
                    </p>
                    <p class="col-xs-2 text-right">
                        <button *ngIf="!readonly && errors && !errors.empty()" class="btn btn-default btn-sm btn-log"
                                tooltip="Show validation log"
                                placement="left"
                                container="body"
                                (click)="onViewLog($event)">
                            View log
                        </button>
                    </p>
                </div>
            </div>
        </aside>
        <confirm-dialog #confirmSectionDel
                        headerTitle="Delete section"
                        body="You are about to permanently delete the section"
                        confirmLabel="Delete">
        </confirm-dialog>
        <confirm-dialog #confirmRevert
                        headerTitle="Revert to released version"
                        confirmLabel="Revert"
                        body="You are about to discard all changes made to this submission since it was last released. This operation cannot be undone.">
        </confirm-dialog>
        <confirm-dialog #confirmSubmit
                        headerTitle="Submit the study"
                        confirmLabel="Submit"
                        body="You have hit the enter key while filling in the form. If you continue, the study data will be submitted.">
        </confirm-dialog>
    </div>
</div>