<div class="row-offcanvas row-offcanvas-left">
    <subm-sidebar *ngIf="!readonly"
                  (toggle)="sideBarCollapsed=!sideBarCollapsed"
                  [collapsed]="sideBarCollapsed"
                  [section]="section">
    </subm-sidebar>

    <subm-navbar
            [class.collapse-left]="!readonly && sideBarCollapsed"
            [accno]="accno"
            [errors]="errors"
            [sectionPath]="sectionPath"
            (sectionClick)="onSectionClick($event)">
    </subm-navbar>

    <div class="container-fluid">
        <aside class="right-side content"
               [ngClass]="{'collapse-left' : !readonly && sideBarCollapsed}">

            <div *ngIf="subm"
                 class="panel navbar-subm-margin"
                 [ngClass]="{'panel-danger': !submValid, 'panel-info': submValid}">

                <div class="panel-body">
                    <subm-form [section]="section">
                    </subm-form>

                    <div class="list-group">
                        <a *ngFor="let section of section.sections.list()"
                           class="list-group-item"
                           (click)="onSectionClick(section)">
                            <!-- TODO: [ngClass]="{'list-group-item-danger': ...}" -->
                            {{section.typeName}}
                            <div *ngIf="section.accno" style="display: inline-block;">
                                : {{section.accno}}
                            </div>
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>

                    <div>
                        <button *ngIf="!readonly && submValid"
                                type="button"
                                class="btn btn-primary btn-lg"
                                (click)="onSubmit($event)">Submit
                        </button>
                        <span *ngIf="submitting"><i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                </div>

            </div>

        </aside>
    </div>
</div>