.st-status-sidebar-content {
  color: #fff;
  margin-top: 200px;
}

.st-status-sidebar-content h4 {
  overflow: hidden;
  line-height: inherit;
  font-weight: 400;
  word-break: break-word;
  text-overflow: ellipsis;
}

.st-check-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.st-check-item-collapsed {
  display: flex;
  justify-content: center;
}
