<div [ngSwitch]="valueType.name">
    <input *ngSwitchCase="ValueTypeNameEnum.text"
           type="text" class="form-control"
           tooltip="{{isOverflow() && !ahead._container ? value : ''}}"
           container="body"
           placement="bottom"
           [ngClass]="{'input-sm': isSmall}"
           [(ngModel)]="value"
           [readonly]="readonly"
           (blur)="onBlur()"
           [typeahead]="readonly ? [] : autosuggest"
           [typeaheadMinLength]="suggestThreshold"
           [typeaheadOptionsLimit]="200"
           [typeaheadScrollable]="true"
           [typeaheadOptionsInScrollableView]="suggestLength"
           (keyup.enter)="ahead._container ? $event.stopPropagation() : return"
           (typeaheadOnSelect)="onSuggestSelect($event)"
           #ahead="bs-typeahead"/>

    <textarea *ngSwitchCase="ValueTypeNameEnum.largetext"
              class="form-control"
              [(ngModel)]="value"
              [readonly]="readonly"
              autosize="200"
              (keyup.enter)="$event.stopPropagation()"
              (blur)="onBlur()"></textarea>

    <date-input *ngSwitchCase="ValueTypeNameEnum.date"
                [isSmall]="isSmall"
                [(ngModel)]="value"
                [readonly]="readonly"
                [maxDate]="nowInNyears()"
                [allowPast]="allowPast"
                (focusout)="onBlur()">
    </date-input>

    <id-link *ngSwitchCase="ValueTypeNameEnum.idLink"
             [isSmall]="isSmall"
             [readonly]="readonly"
             [(ngModel)]="value"
             [suggestThreshold]="suggestThreshold"
             [suggestLength]="suggestLength"
             (focusout)="onBlur()"
             (selected)="onSuggestSelect($event)"></id-link>

    <orcid-input-box *ngSwitchCase="ValueTypeNameEnum.orcid"
                     [isSmall]="isSmall"
                     [readonly]="readonly"
                     [isPopupButton]="false"
                     [(ngModel)]="value"
                     (focusout)="onBlur()">
    </orcid-input-box>

    <file-select *ngSwitchCase="ValueTypeNameEnum.file"
                 [(ngModel)]="value"
                 (ngModelChange)="onSuggestSelect($event)">
    </file-select>

    <pubmedid-search *ngSwitchCase="ValueTypeNameEnum.pubmedid"
                     [(ngModel)]="value"
                     [readonly]="readonly"
                     (found)="asyncData($event)">
    </pubmedid-search>
</div>