<ng-include src="'templates/partials/header.html'"></ng-include>


<div class="wrapper row-offcanvas row-offcanvas-left">

    <!--<aside class="right-side" ng-class="{strech: toggleSidebar}">-->
    <aside class="right-side strech">

        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content-header">
            <h1>
                {{error.status}} Error Page
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">

            <div class="error-page">
                <h2 class="headline text-red">{{error.status}}</h2>
                <div class="error-content">
                    <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>
                    <p ng-if="error.status!=400">
                        {{error.message}}
                        {{pathPrefixMessage}} <a ng-href="{{path}}">{{pathMessage}}</a>.
                    </p>
                </div>
            </div><!-- /.error-page -->

        </section><!-- /.content -->

        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div><!-- ./wrapper -->

