.build/
*.iml
.gen/
dist/
.DS_Store
tmp/
temp/
public_old/
jspm_packages/
*/jspm_packages/
npm-debug.log
server/public

# Dependency directories
node_modules

# Editors
.idea
.vscode

# Env variables files
.env
