<div class="overflow-auto container-fluid" *ngIf="featureForm" [formGroup]="featureForm.form">
  <div class="row flex-nowrap mt-0">
    <div class="col-sm-1 col-md-1 border-bottom">
      <button *ngIf="featureForm.canAddColumn() && !isReadOnly"
          class="btn btn-link text-truncate" type="button" tabindex="-1"
          [ngClass]="{'invisible': isReadOnly || !userData.isPrivileged}"
          [tooltip]="'Add a new ' + featureForm.featureTypeName.toLowerCase() + ' attribute'"
          container="body"
          placement="right"
          (click)="featureForm.addColumn()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Column
      </button>
    </div>
    <div *ngFor="let column of columns; let idx = index" class="col-sm-1 col-md-1 col-lg-3 col-xl-3 border-bottom"
       [ngClass]="{'optional': featureForm.canRemoveColumn(column), 'has-error': column.hasErrors}">
      <st-inline-edit placement="bottom"
              container="body"
              containerClass="text-danger"
              popover="{{column.hasErrors ? column.errors : ''}}"
              triggers="focus"
              emptyValue="{{'Column ' + (idx + 1)}}"
              [autosuggestSource]="featureForm.columnNamesAvailable"
              [canEdit]="column.canEditName && userData.isPrivileged && !isReadOnly"
              [formControl]="column.control"
              [isOptional]="!column.isRequired"
              [readonly]="isReadOnly"
              [removable]="featureForm.canRemoveColumn(column) && !isReadOnly"
              (remove)="featureForm.removeColumn(column)"
              stValidateOnblur>
      </st-inline-edit>
    </div>
  </div>
  <div [sortablejs]="rows" [sortablejsOptions]="sortableJsOptions">
    <div *ngFor="let row of rows; let rowIdx = index;"
      (mouseenter)="onMouseEnterRow(rowIdx)"
      (mouseleave)="onMouseLeaveRow()">
      <div *ngIf="!isReadOnly || !row.isEmpty" class="row flex-nowrap">
        <div class="col-sm-1 col-md-1">
          <div class="row-heading">
            <i class="fas fa-grip-vertical grip" [ngClass]="{ 'grip-visible': rowIdx === hoveredRowIndex && isSortable }"></i>
            <span container="body" [tooltip]="featureForm.canRemoveRow() ? '' : 'The table must contain one row at least'">
              <button class="btn btn-danger btn-sm" type="button"
                  [ngClass]="{'invisible': isReadOnly}"
                  [disabled]="!featureForm.canRemoveRow()"
                  (click)="featureForm.removeRow(rowIdx)"
                  [tooltip]="featureForm.canRemoveRow ? 'Delete ' + featureForm.featureTypeName.toLowerCase() + ' ' + (rowIdx + 1) : ''"
                  placement="right"
                  container="body">
                <i class="far fa-trash-alt"></i>
              </button>
            </span>
            {{rowIdx+1}}
          </div>
        </div>
        <div class="column-entry col-sm-1 col-md-1 col-lg-3 col-xl-3" *ngFor="let column of columns">
          <div [ngClass]="{'readonly': isReadOnly || column.isReadonly, 'has-error': row.hasErrorsAt(column.id)}">
            <st-input-value placement="top"
                    container="body"
                    containerClass="{{featureForm.isRequired ? 'text-danger' : 'text-warning'}}"
                    popover="{{row.hasErrorsAt(column.id) ? row.errorsAt(column.id) : ''}}"
                    triggers="focus"
                    [autosuggestSource]="featureForm.cellValuesTypeaheadFunc(rowIdx, column.id)"
                    [autosuggest]="column.autosuggest"
                    [formControl]="row.cellControlAt(column.id).control"
                    [isSmall]="false"
                    [readonly]="isReadOnly || column.isReadonly"
                    [valueType]="column.valueType"
                    (inputValueSelect)="onInputValueSelect($event, rowIdx)"
                    stValidateOnblur>
            </st-input-value>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button *ngIf="featureForm && featureForm.canAddRow() && !isReadOnly" type="button" class="btn-add btn btn-link" tabindex="-1"
    [tooltip]="'Add a new ' + featureForm.prettyName"
    container="body"
    (click)="featureForm.addRow()">
  <i class="fa fa-lg fa-plus-circle"></i>
  Add {{featureForm.prettyName}} row
</button>
