<div *ngIf="featureForm" [formGroup]="featureForm.form">
  <div class="row border-bottom">
    <div class="col-sm-3 text-muted">Key</div>
    <div class="col-sm-9 text-muted">Value</div>
  </div>
  <div class="row mt-3" *ngFor="let column of columns; let idx = index">
    <div class="col-sm-3">
      <div class="form-group m-0" [ngClass]="{'has-error': column.hasErrors}">
        <div [ngClass]="{'input-group': featureForm.canRemoveColumn(column), 'readonly': column.isReadonly || featureForm.isReadonly}">
          <div class="input-group-prepend" *ngIf="featureForm.canRemoveColumn(column) && !featureForm.isReadonly && !readonly">
            <button type="button"
                class="btn btn-danger"
                tabindex="-1"
                (click)="featureForm.removeColumn(column)"
                [disabled]="!featureForm.canRemoveColumn(column)"
                [tooltip]="'Delete &quot;' + column.name + '&quot; entry'"
                placement="bottom"
                container="body">
                <i class="fas fa-trash-alt"></i>
            </button>
          </div>
          <input type="text" class="form-control input-sm"
                placement="top"
                container="body"
                containerClass="text-danger"
                popover="{{column.hasErrors ? column.errors : ''}}"
                triggers="focus"
                [formControl]="column.control"
                [readonly]="!column.canEditName || featureForm.isReadonly || readonly"
                [typeahead]="featureForm.columnNamesTypeahead(column)"
                [typeaheadMinLength]="0"
                [typeaheadOptionsLimit]="200"
                [typeaheadScrollable]="true"
                [typeaheadOptionsInScrollableView]="suggestLength"
                stValidateOnblur>
        </div>
      </div>
    </div>
    <div class="col-sm-9" *ngFor="let cell of [featureForm.cellControlAt(0, column.id)]">
      <div class="form-group m-0"
          [ngClass]="{'readonly': column.isReadonly || featureForm.isReadonly,
                'optional': !column.isRequired,
                'has-error': cell.hasErrors}">
        <st-input-value placement="top"
                container="body"
                containerClass="{{featureForm.isRequired ? 'text-danger' : 'text-warning'}}"
                popover="{{cell.hasErrors ? cell.errors : ''}}"
                triggers="focus"
                [valueType]="column.valueType"
                [readonly]="readonly || column.isReadonly || featureForm.isReadonly"
                [formControl]="cell.control"
                [autosuggestSource]="featureForm.cellValuesTypeaheadFunc(column.id)"
                [isSmall]="false"
                stValidateOnblur>
        </st-input-value>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4" *ngIf="featureForm && featureForm.canAddColumn()">
  <button *ngIf="!readonly && !featureForm.isReadonly"
      type="button"
      class="btn btn-link"
      [tooltip]="'Add a new ' + featureForm.prettyName"
      container="body"
      (click)="featureForm.addColumn()">
    <i class="fa fa-lg fa-plus-circle"></i>
    Add {{featureForm.prettyName}} row
  </button>
</div>
