
.st-edit-form-subsections {
  list-style: none;
  padding: 0;
}

.st-edit-form-subsections-item {
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-top: 1rem;
  padding: 1rem;
}

.st-edit-form-subsections-item:hover {
  background-color: #6d9fc1;
  color: #fff;
  text-decoration: underline;
}

.st-edit-status-message {
  min-height: 17rem;
}
