.sidebar-expanded {
  padding: 0 0 0 var(--sidebar-expanded-width);
}

.sidebar-collapsed {
  padding: 0 0 0 var(--sidebar-collapsed-width);
}

.read-only-body {
  padding: 0;
}

.text-dashed {
  border: 1px dashed;
  border-radius: var(--border-radius-small);
}
