<div class="st-edit-page" [ngClass]="{'readonly': readonly, 'grayout': isReverting}">
  <st-subm-sidebar *ngIf="!readonly"
           (toggle)="sideBarCollapsed=!sideBarCollapsed"
           [collapsed]="sideBarCollapsed"
           [sectionForm]="sectionForm">
  </st-subm-sidebar>
  <st-subm-navbar *ngIf="sectionForm"
    class="navbar-subm-fixed navbar-default"
    [ngClass]="{'collapse-left': !readonly && sideBarCollapsed}"
    [readonly]="readonly"
    [accno]="accno"
    [sectionForm]="sectionForm"
    (sectionClick)="onSectionClick($event)"
    (revertClick)="onRevertClick($event)"
    (submitClick)="onSubmitClick($event)"
    (editClick)="onEditBackClick($event)">
  </st-subm-navbar>

  <div *ngIf="sectionForm" class="container-fluid">
    <aside class="st-submission-edit-body" [ngClass]="{'collapse-left' : !readonly && sideBarCollapsed, 'right-side': !readonly}">
      <div class="navbar-subm-margin">
        <st-subm-validation-errors [errors]="submissionErrors"></st-subm-validation-errors>
        <div *ngIf="method === 'FILE'" class="alert alert-info">
          <div class="pull-left">
            <i class="fa fa-hand-o-right fa-lg"></i>
            <strong>Please note</strong>
          </div>
          <p class="text-block text-black">
            You are about to edit a submission which was created by Direct Upload. Any updates to this submission will be available on
            BioStudies but will not be reflected in the initially submitted file.
          </p>
        </div>
        <div *ngIf="sectionForm.isRootSection" class="panel">
          <div class="panel-body st-edit-status-message">
            <div *ngIf="hasJustCreated && sectionForm.invalid">
              <h4>New submission</h4>
              <p>
                Please fill in the form below. The <span class="font-bold">Check</span> tab on the
                left-hand side lists those fields still incomplete or incorrect. Use the
                <span class="font-bold">Add</span> tab to quickly add new rows or tables.
              </p>
              <div class="alert alert-warning">
                <div class="pull-left">
                  <i class="fa fa-hand-o-right fa-lg"></i>
                  <strong>Please note</strong>
                </div>
                <p class="text-block text-black">
                  All fields are required unless with a
                  <span class="text-dashed">&nbsp;dashed outline&nbsp;</span> or marked as "<i>Optional</i>"
                </p>
              </div>
            </div>

            <div *ngIf="!hasJustCreated && !readonly && sectionForm.invalid">
              <h4>Incomplete submission</h4>
              <p>
                Some information in this submission is still missing or incorrect. Refer to the
                <span class="font-bold">Check</span> tab on the left-hand side for the
                list of fields that need updating.
              </p>
              <div class="alert alert-warning">
                <div class="pull-left">
                  <i class="fa fa-hand-o-right fa-lg"></i>
                  <strong>Please note</strong>
                </div>
                <p class="text-block text-black">
                  All fields are required unless with a
                  <span class="text-dashed">&nbsp;dashed outline&nbsp;</span> or marked as "<i>Optional</i>"
                </p>
              </div>
            </div>

            <div *ngIf="sectionForm.valid && !readonly">
              <div *ngIf="isTemp && !isSubmitting">
                <h4>Study ready for submission</h4>
                <p>
                  You may submit the data on this form now.
                </p>
                <div class="alert alert-success">
                  <div class="pull-left">
                    <i class="fa fa-hand-o-right fa-lg"></i>
                    <strong>Please note</strong>
                  </div>
                  <p class="text-block text-black">
                    After submission, your study will be allocated a permanent accession number under which it will be published.
                  </p>
                </div>
              </div>

              <div *ngIf="!isTemp && !isSubmitting">
                <h4>Study ready for re-submission</h4>
                <p>
                  You may re-submit the data on this form now.
                </p>
                <div class="alert alert-success">
                  <div class="pull-left">
                    <i class="fa fa-hand-o-right fa-lg"></i>
                    <strong>Please note</strong>
                  </div>
                  <p class="text-block text-black">
                    Your study will retain the same accession number under which it was registered.
                  </p>
                </div>
              </div>

              <div *ngIf="isSubmitting">
                <h4>Submitting study...</h4>
                <p>Please wait while the data in the form is being submitted and validated.</p>
              </div>
            </div>

            <div *ngIf="isTemp && readonly">
              <h3>
                <i aria-hidden="true" class="fa fa-check-circle"></i>
                Study
                <span *ngIf="submitOperation.isUnknown">entry</span>
                <span *ngIf="submitOperation.isCreate">submitted</span>
              </h3>
              <h5 *ngIf="submitOperation.isUnknown || submitOperation.isCreate">
                The study has been successfully submitted to the BioStudies database and is now being processed.
              </h5>
              <h5>
                <mark>A notification will be dropped to your email as soon as the submission has been processed.</mark>
              </h5>
            </div>
            <div *ngIf="!isTemp && readonly">
              <h3>
                <i aria-hidden="true" class="fa fa-check-circle"></i>
                Study
                <span *ngIf="submitOperation.isUpdate">updated</span>
              </h3>
              <h5 *ngIf="submitOperation.isUpdate">
                The study has been successfully updated and is now being processed.
              </h5>
              <h5>
                <mark>A notification will be dropped to your email as soon as the submission has been processed.</mark>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <st-subm-form [sectionForm]="sectionForm" [readonly]="readonly"></st-subm-form>

      <div *ngIf="sectionForm.subsectionForms.length > 0" class="form-group">
        <label class="control-label">Subsections</label>
        <ul class="st-edit-form-subsections">
          <li *ngFor="let subsectionForm of sectionForm.subsectionForms"
              class="st-edit-form-subsections-item"
              (click)="onSectionClick(subsectionForm)">
            {{subsectionForm.section.displayName}}
            <span *ngIf="subsectionForm.section.accno">
              : {{subsectionForm.section.accno}}
            </span>
            <span class="btn-toolbar pull-right">
              <button type="button" *ngIf="!readonly && !sectionForm.isTypeReadonly && sectionForm.isSectionRemovable(subsectionForm)" class="section-delete btn btn-danger btn-xs btn-flat"
                  tooltip="Delete page &quot;{{subsectionForm.typeName}}&quot;"
                  container="body"
                  placement="left"
                  (click)="$event.stopPropagation(); onSectionDeleteClick(subsectionForm)">
                <i class="fas fa-trash-alt fa-fw"></i>
              </button>
            </span>
            <span class="label label-danger pull-right"
                  style="margin-right: 10px"
                  *ngIf="subsectionForm.invalid">
              {{subsectionForm.errorCount | plural: 'error' }}
            </span>
          </li>
        </ul>
      </div>
      <div *ngIf="!readonly" class="row row-submit">
        <p class="text-muted col-xs-9">
          <i *ngIf="isSaving" class="fa fa-cog fa-spin"></i>
          <span *ngIf="isSaving">Backing up study data...</span>
        </p>
      </div>
    </aside>
  </div>
</div>
