.st-edit-page {
  display: flex;
}

.st-edit-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.st-edit-form-container {
  height: calc(100vh - 116px);
  overflow: auto;
  padding-top: 2rem;
  scroll-behavior: smooth;
}
