<div class="container-fluid">
  <div class="row">
    <st-sidebar (toggle)="onToggle()">
      <st-direct-submit-sidebar (filesChange)="onFilesChange($event)" [collapsed]="collapseSideBar" #sidebar>
      </st-direct-submit-sidebar>
    </st-sidebar>
    <main class="col" [ngClass]="{
      'sidebar-expanded': !collapseSideBar,
      'sidebar-collapsed': collapseSideBar
    }">
      <nav class="navbar navbar-light border-bottom page-navbar bg-white sticky-top">
        <div class="nav-block">
          <a routerLink="{{sidebar.hasRequests && sidebar.isStatus('successful') ? '' : '/draft'}}">
            <i *ngIf="sidebar.hasRequests && sidebar.isStatus('successful')" class="fa fa-database"
              aria-hidden="true"></i>
            {{sidebar.hasRequests && sidebar.isStatus('successful') ? 'Submitted' : 'Submissions'}}
          </a>
          &nbsp;<i class="fa fa-angle-right font-bold"></i>&nbsp;
          <strong>Direct upload</strong>
        </div>
        <div class="nav-block text-center text-muted">
          <span *ngIf="sidebar.pendingFiles > 0">
            <strong>{{sidebar.pendingFiles}}</strong> {{pluralise('files')}} pending to upload
          </span>
          <span *ngIf="sidebar.pendingFiles === 0 && sidebar.hasRequests && uploadedCount()">
            <strong>{{uploadedCount()}}</strong> {{pluralise('files')}} uploaded
          </span>
          <span *ngIf="sidebar.hasRequests && sidebar.isStatus('failed')">
            <strong>{{sidebar.errorFiles}}</strong> failed
          </span>
        </div>
      </nav>
      <div class="content p-3 bg-light">
        <div class="card">
          <div *ngIf="!sidebar.hasRequests" class="card-body">
            <h4>New direct entry</h4>
            <p>Please fill in the form on the left-hand side to upload your studies:</p>
            <ol>
              <li>
                <strong>
                  Provide the study files
                </strong>
                <p>
                  Use the <i>"File Upload"</i> button to pick files from different directories. <br />
                  Use the <i>"Folder Upload"</i> button to upload all the files in a directory.
                </p>
              </li>
              <li>
                <strong>Which collections are you attaching your studies to?</strong>
                <p>Choose the collections all your files will be attached to. If no collection is selected, studies
                  will be uploaded as stand-alone and will be allocated an accession number with format
                  <i>S-BSST&lt;number&gt;</i>.
                </p>
              </li>
              <li>
                <strong>Are you updating existing studies?</strong>
                <p>
                  <mark>
                    To update a study please provide the accession number in the <strong>"Submission"</strong> attribute within the study file (cell B1). If
                    no value for the <strong>"Submission"</strong> attribute is found, a new study will be created, with a new accession number.
                  </mark>
                </p>
              </li>
            </ol>
          </div>
          <div *ngIf="sidebar.hasRequests" class="card-body">
            <ng-container *ngIf="sidebar.isStatus('busy')">
              <h4>Uploading {{pluralise('study')}}...</h4>
              <p>Please wait while the {{pluralise('studies')}} {{pluralise('is')}} being sent
                and validated. Any invalid ones will be highlighted below. Click on them to reveal more details.</p>
            </ng-container>
            <ng-container *ngIf="sidebar.isStatus('failed') && sidebar.isStatus('done')">
              <h4>Error while uploading {{pluralise('study')}}</h4>
              <p>The {{pluralise('study')}} highlighted below {{pluralise('is')}} invalid or an unexpected
                error was encountered. Please try to correct any issues before uploading the affected
                {{pluralise('files')}} again. To show the error log, simply click on the relevant failed file.
              </p>
            </ng-container>
            <ng-container *ngIf="sidebar.isStatus('successful')">
              <h4>{{pluralise('Study')}} uploaded</h4>
              <p>
                The {{pluralise('study')}} specified below with accession {{pluralise('number')}}
                <span *ngFor="let file of sidebar.model.files; let i = index; let last = last">
                  <strong>{{getAccno(i)}}</strong>{{last ? '' : ', '}}
                </span>
                {{pluralise('has')}} been successfully uploaded to the BioStudies database. <br />
                New studies or changes to existing studies will be available in the next 24 hours
                at the following addresses:
              </p>
              <ul>
                <li *ngFor="let file of sidebar.model.files; let i = index;">
                  <a target="_blank" href="{{location.origin}}/biostudies/studies/{{getAccno(i)}}">
                    {{location.hostname}}/biostudies/studies/{{getAccno(i)}}</a>
                </li>
              </ul>
              <strong>
                <a target="_blank" href="https://www.ebi.ac.uk/biostudies/about.html">
                  Citing my {{pluralise('study')}}
                  <i class="fa fa-fw fa-external-link-square"></i>
                </a>
              </strong>
              <p>
                Data are available in the BioStudies database <a target="_blank"
                  href="https://www.ebi.ac.uk/biostudies/">(https://ebi.ac.uk/biostudies/)</a>
                under accession {{pluralise('number')}}
                <span *ngFor="let file of sidebar.model.files; let i = index; let last = last">
                  {{getAccno(i)}}{{last ? '' : ', '}}
                </span>.
              </p>
              <strong>
                <a target="_blank" href="http://europepmc.org/abstract/MED/26700850">
                  Citing the BioStudies database
                  <i class="fa fa-fw fa-external-link-square"></i>
                </a>
              </strong>
              <p>
                Sarkans U, Gostev M, Athar A, et al. <a href="http://doi.org/10.1093/nar/gkx965">The BioStudies
                database-one stop shop for all data supporting a life sciences study. </a>
                <i>Nucleic Acids Res.</i> 2018;46(D1):D1266-D1270. doi:10.1093/nar/gkx965
              </p>
            </ng-container>
          </div>
        </div>

        <div class="st-direct-upload-files-grid mt-3">
          <ng-container *ngFor="let file of studies; let i = index">
            <st-direct-submit-file class="h-100" [accno]="getAccno(i)" [errorLog]="getLog(i)" [error]="getError(i)"
              [file]="file" [fileName]="file.name" [hasSubmitFailed]="isFail(i)" [hasSubmitPassed]="isSuccess(i)"
              [isPending]="isPending()" [isSubmitting]="isBusy(i)" [project]="sidebar.selectedProject"
              [releaseDate]="getRelease(i)" [isStudy]="file.isStudy"
              (fileClick)="handleFileCardClick($event)" (isStudyChange)="handleIsStudyChange($event)">
            </st-direct-submit-file>
          </ng-container>
          <ng-container *ngFor="let file of files; let i = index">
            <st-direct-submit-file class="h-100" [accno]="getAccno(i)" [file]="file" [fileName]="file.name"
              [isStudy]="file.isStudy" (isStudyChange)="handleIsStudyChange($event)"></st-direct-submit-file>
          </ng-container>
        </div>
      </div>
    </main>
  </div>
</div>
