<ng-container *ngIf="file">
  <div class="card h-100" [ngClass]="{'panel-default': !accno, 'text-primary': accno, 'st-has-passed': hasSubmitPassed}"
    [ngStyle]="{'cursor': accno  ? 'pointer' : 'default'}"
    tooltip="accno ? 'Edit this study' : ''"
    placement="top" container="body">
    <div class="card-body">
      <div class="card-title d-flex align-items-center">
        <div>
          <i class="fa fa-2x st-panel-description-icon" *ngIf="!hasSubmitPassed" aria-hidden="true" [ngClass]="{
                'fa-plus': !isPending,
                'fa-caret-square-down text-danger': hasSubmitFailed,
                'fa-edit': hasSubmitPassed,
                'fa-exchange-alt': isSubmitting}">
          </i>
        </div>
        <h5 class="st-direct-submit-file-name m-0">{{file.name}}</h5>
      </div>
      <div *ngIf="hasSubmitPassed">
        <p class="card-title">
          <strong>{{accno}}</strong>
        </p>
        <dl class="row mb-0">
          <dt class="col-sm-6" *ngIf="isStudy">Collection</dt>
          <dd class="col-sm-6" *ngIf="isStudy">{{project ? project : 'No Collection'}}</dd>
        </dl>
      </div>
      <span class="text-danger" *ngIf="hasSubmitFailed">
        {{error}}
      </span>
      <div class="overflow-auto" *ngIf="hasSubmitFailed">
        <st-subm-results-tree [log]="errorLog"></st-subm-results-tree>
      </div>
    </div>
    <div *ngIf="!hasSubmitFailed && !hasSubmitPassed" class="card-footer d-flex align-items-center" [ngClass]="{'st-is-study': isStudy}">
      <div class="flex-grow-1">
        <button *ngIf="showIsStudyOption" class="btn btn-link text-muted d-inline p-0" (click)="handleOnIsStudyChange(!isStudy, fileName)">
          <label class="sr-only" for="is-study-checkbox-'{{file.name}}'">Is {{file.name}} containing the study information?</label>
          <input id="is-study-checkbox-'{{file.name}}'" type="checkbox" [checked]="isStudy">
          Study File
        </button>
      </div>
      <button class="btn btn-outline-danger btn-sm"
        type="button"
        attr.aria-label="Delete file '{{file.name}}'"
        title="Delete file '{{file.name}}'"
        (click)="handleOnDeleteFile(!isStudy, fileName)"
        tooltip="Delete file '{{file.name}}'">
        <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</ng-container>
