.st-panel-description {
  align-items: center;
  display: flex;
}

.st-panel-description-icon {
  padding-right: 10px;
}

.st-direct-submit-file-name {
  word-wrap: anywhere;
}

.st-is-study {
  background-color: var(--yellow-100);
}

.st-has-passed {
  background-color: var(--teal-200);
}
