<div *ngIf="!readonly" class="border-right bg-white pt-2 header">
  <tabset [ngClass]="{'invisible': collapsed}">
    <tab active="true" customClass="badge-parent" heading="Upload files"></tab>
  </tabset>
  <div *ngIf="collapsed && !isStatus('busy')" class="vertical-text text-white">Upload files</div>
  <form class="p-3 bg-white" *ngIf="!collapsed" name="submUploadForm" method="post" (ngSubmit)="onSubmit($event)"
    [hidden]="isStatus('busy')" #uploadForm="ngForm">
    <div class="form-group">
      <div class="border-bottom mb-2 d-flex align-items-center justify-content-between">
        <label class="m-0">1. Files</label>
        <span *ngIf="selectedFileCount" class="badge badge-info">
          {{selectedFileCount}}
        </span>
      </div>
      <div class="d-flex">
        <st-file-upload-button [multiple]="true" [isDirOnly]="false" (fileUploadSelect)="onUploadFilesSelect($event)"
          title="File upload" tooltip="Select files" placement="bottom" #fileEl>
        </st-file-upload-button>
        <st-file-upload-button [multiple]="false" [isDirOnly]="true" title="Folder upload"
          (fileUploadSelect)="onUploadFilesSelect($event)" tooltip="Select a folder" placement="bottom" #fileEl>
        </st-file-upload-button>
      </div>
    </div>
    <div class="form-group">
      <div class="border-bottom mb-2 d-flex align-items-center justify-content-between">
        <label class="m-0">2. Collection</label>
        <span class="text-muted"><i>Optional</i></span>
      </div>
      <p *ngIf="!model.projects.length" class="text-muted">
        <span *ngIf="isProjFetch">
          <i class="fa fa-cog fa-spin"></i>
          Loading collections...
        </span>
        <span *ngIf="!isProjFetch">
          Only generic allowed.
        </span>
      </p>
      <ng-container *ngIf="model.projects.length">
        <div *ngFor="let project of model.projects">
          <label>
            <input type="radio" name="project" value="{{project.value}}" [(ngModel)]="selectedProject">
            {{project.name}}
          </label>
        </div>
      </ng-container>
    </div>
    <div class="btn-group">
      <button id="single-button" type="button" [disabled]="isProjFetch || isStatus('busy')"
        (click)="onSubmit()" class="btn btn-primary btn-submit">
        Upload
      </button>
    </div>
  </form>
  <div *ngIf="isStatus('busy')" class="text-center p-3">
    <i class="fa fa-cog fa-spin text-white" aria-hidden="true" [ngClass]="{'fa-2x': collapsed, 'fa-4x': !collapsed}"></i>
    <div class="progress mt-3" *ngIf="!collapsed">
      <div class="progress-bar" [ngStyle]="{ 'width': progress + '%'}">
        {{progress}}%
      </div>
    </div>
    <h4 class="text-white mt-2" *ngIf="!collapsed">
      Uploading {{selectedFileCount > 1 ? 'studies' : 'study'}}...
    </h4>
    <button class="btn btn-danger btn-sm mt-2" tooltip="Stop all pending uploads" placement="bottom" container="body"
      (click)="onCancelPending($event)">
      <span *ngIf="collapsed"><i class="far fa-times-circle"></i></span>
      <span *ngIf="!collapsed">CANCEL</span>
    </button>
  </div>
</div>
