<div class="container pt-3">
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary mr-2"
        (click)="onUploadSubmClick($event)"
        [disabled]="isBusy"
        tooltip="Create/Update a submission from a file"
        container="body">
      <i class="fa fa-upload" aria-hidden="true"></i>
      Direct upload
    </button>
    <button class="btn btn-primary"
        tooltip="Create a new submission manually"
        container="body"
        stNewSubmissionButton>
      New submission
    </button>
  </div>
  <tabset>
    <tab [active]="showSubmitted" (selectTab)="onSubmTabSelect(true)">
      <ng-template tabHeading>
        <span tooltip="Studies already submitted or revised"
            container="body">
          <i class="fas fa-database" aria-hidden="true"></i>
          Submissions
        </span>
      </ng-template>
    </tab>
    <tab [active]="!showSubmitted" (selectTab)="onSubmTabSelect(false)">
      <ng-template tabHeading>
        <span tooltip="New studies draft submission or incomplete"
            container="body">
          <i class="fas fa-clock" aria-hidden="true"></i>
          Drafts
        </span>
      </ng-template>
    </tab>
  </tabset>
  <section>
    <ag-grid-angular style="width: 100%; height: 580px;" class="ag-theme-fresh"
        [gridOptions]="gridOptions"
        [columnDefs]="columnDefs"
        [suppressMenuHide]="true">
    </ag-grid-angular>
  </section>
  <a href="https://www.ebi.ac.uk/biostudies/studies/" target="_blank">
    Search published submissions <i class="fa fa-fw fa-external-link-square"></i>
  </a>
</div>
