<div class="input-group" dropdown>
  <input id="{{inputId}}" type="text" [ngModel]="value" class="form-control custom-file-input {{inputId}}"
    (click)="openFileSelectModal()" [ngClass]="{'is-grouped': isInputGroup}" [disabled]="pending"
    tooltip="{{value}}" container="body" placement="top" readonly #inputbox />
  <div *ngIf="!readonly" class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="openFileSelectModal()" [disabled]="pending">
      <span *ngIf="pending" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Select File{{allowFolders ? '/Folder' : ''}}
    </button>
  </div>
</div>
