<div class="modal-header">
  <h3 class="modal-title">Did you update any files?</h3>
  <button type="button" class="close" aria-label="Close" (click)="hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>If you are changing only the metadata e.g. Title, Description, Release Date, and other text fields, we will not need to upload and validate the files again and the submission process will be faster.<br /></p>
  <div class="form-check">
    <input
      id="no-files-updated"
      type="radio"
      class="form-check-input"
      name="resubmit-options"
      value="noFilesUpdated"
      (change)="onOptionChange($event['target']['value'])"
    >
    <label class="form-check-label" for="no-files-updated">No, I have not updated any files</label>
  </div>
  <div class="form-check">
    <input
      id="files-updated"
      type="radio"
      class="form-check-input"
      name="resubmit-options"
      value="filesUpdated"
      (change)="onOptionChange($event['target']['value'])"
    >
    <label class="form-check-label" for="files-updated">Yes, one or more files have been updated</label>
  </div>
  <br />
  <div class="modal-footer">
    <button type="submit" class="btn btn-success btn-sm" (click)="resubmit()">Re-submit</button>
  </div>
</div>
