              <p>
                     <input type="text" name="url" ng-model="data.ref[field.name]"
                            class="form-control input-sm"
                            placeholder="{{field.placeholder || 'Enter a value'}}" ng-required="true"
                            uib-tooltip="This field is required" tooltip-class="customClass" tooltip-placement="top-left"
                            tooltip-trigger="mouseenter focus"  tooltip-is-open="atrLinkForm1.attrValue.$error.required"
                            tooltip-enable="!attribute.value">
              </p>

