<form novalidate autocomplete="off" (ngSubmit)="hide(); ok()">
  <div class="modal-header">
    <h4 class="modal-title">New submission</h4>
    <button type="button" class="close" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      To create a blank submission, please select a project from the list below. You may leave the default
      option if the new submission is a stand-alone study or its parent project is not in the list. <br />
    </p>
    <strong>What is the study's parent project?</strong>
    <ng-container *ngFor="let tmpl of templates">
      <div class="form-check">
        <input id="{{tmpl.name}}" type="radio" class="form-check-input" [name]="tmpl.name" [value]="tmpl.name"
          [(ngModel)]="selected">
        <label class="form-check-label" for="{{tmpl.name}}" [tooltip]="tmpl.description"
          placement="right">{{tmpl.name}}</label>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-sm">Add</button>
    <button type="button" class="btn btn-default btn-sm" (click)="hide()">Cancel</button>
  </div>
</form>
