<div class="panel panel-info" ng-if="data.attributes.length > 0">
    <!-- Default panel contents -->
    <div class="panel-heading">Describe your study <span class="badge">{{data.attributes.length}}</span>
        <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group">
                <button class="btn btn-success btn-xs" ng-click="data.addNew()"
                        uib-tooltip="Add a new attribute"
                        tooltip-append-to-body="true"
                        tooltip-placement="bottom">
                    Add
                </button>
            </div>
        </div>
    </div>

    <!-- Table -->

    <table class="table table-condensed">
        <thead>
        <th><label class="control-label">Key<span
                ng-show="attrForm.attrKey.$error.required">: cannot be blank</span></label></th>
        <th><label class=" control-label">Value<span
                ng-show="attrForm.attrValue.$error.required">: cannot be blank</span></label></th>
        </thead>

        <tbody>
        <tr ng-repeat="attr in data.attributes" ng-form name="attrForm">
            <td class="col-md-3 nopadding border-none form-group form-group-sm" ms-form-group-validator
                ng-class="{'has-error' : attrForm.attrKey.$invalid}">
                <input autocomplete="off" type="text" name="attrKey" ng-model="attr.name"
                       uib-typeahead="item.name as item.name for item in dict.attributes | filterDifference:dict.attributes:data.attributes | filter:$viewValue:$emptyOrMatch | limitTo:30"
                       typeahead-append-to-body="true"
                       typeahead-show-hint="true"
                       typeahead-min-length="0"
                       class="form-control control-label input-sm"
                       placeholder="Type a key" ng-required="true"
                       ms-duplicate="data.attributes"
                       ms-attr="attr"
                       ms-view-model="data"
                       required
                       uib-tooltip="Empty or duplicate value" tooltip-class="customClass" tooltip-placement="top-left"
                       tooltip-enable="attrForm.attrKey.$invalid">
            </td>
            <td class="col-md-9 nopadding border-none form-group form-group-sm" ms-form-group-validator
                ng-class="{'has-error' : attrForm.attrValue.$invalid}">

                <p class="input-group">

                    <input type="text" name="attrValue" id="value1" ng-model="attr.value" class="form-control input-sm"
                           placeholder="Enter a value" ng-required="true"
                           uib-tooltip="Empty value" tooltip-class="customClass" tooltip-placement="top-left"
                           tooltip-enable="attrForm.attrValue.$invalid">

                <span class="input-group-btn"> <!--ng-if="!dataModel.requiredAttributes[attr.name].required"-->
                    <button type="button" class="btn btn-sm btn-danger btn-flat"
                            uib-tooltip="Delete this description"
                            tooltip-append-to-body="true"
                            tooltip-placement="bottom"
                            ng-click="data.remove(attr)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </span>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>

