<div class="panel panel-info" ng-if="data.ref.length > 0">
    <!-- Default panel contents "-->
    <div class="panel-heading">Describe your study <span class="badge">{{data.length}}</span>
        <!--<h4 tabindex="0" class="panel-title accordion-toggle">Panel heading
        </h4>-->
        <div class="btn-toolbar pull-right" role="toolbar">

            <div class="btn-group">

                <button class="btn btn-success btn-xs" ng-click="data.add()"
                    uib-tooltip="Add a new description"
                    tooltip-append-to-body="true"
                    tooltip-placement="bottom">
                    Add
                </button>
            </div>
          <!--  <div class="btn-group">

                <button class="btn btn-xs btn-danger"
                    uib-tooltip="Delete all descriptions"
                    ng-click="deleteItem($index, data)"
                    tooltip-append-to-body="true"
                    tooltip-placement="bottom">Delete all <i class="fa fa-trash-o"></i> </button>
            </div>-->
        </div>

    </div>

    <!-- Table -->

    <table class="table table-condensed">
        <thead>
            <th><label class="control-label">Key<span ng-show="atrForm.attrKey.$error.required">: cannot be blank</span></label></th>
            <th>  <label for="value" class=" control-label">Value<span ng-show="atrForm.attrValue.$error.required">: cannot be blank</span></label></th>
        </thead>
        <tbody>
        <tr ng-repeat="attribute in data.ref" ng-form name="atrForm">
            <td class="col-md-3 nopadding border-none form-group form-group-sm" ms-form-group-validator
                    ng-class="{'has-error' : atrForm.attrKey.$invalid}">
                <input autocomplete="off" type="text" name="attrKey" ng-model="attribute.name"
                       uib-typeahead="item.name as item.name for item in typeHead.attributes | filterAttrKeys:typeHead.attributes:data.model | filter:$viewValue:$emptyOrMatch | limitTo:30"
                       typeahead-append-to-body="true"
                       typeahead-show-hint="true"
                       typeahead-min-length="0"
                       class="form-control control-label input-sm"
                       placeholder="Type a key" ng-required="true" ms-duplicate="data.model" required
                       uib-tooltip="Empty or duplicate value" tooltip-class="customClass" tooltip-placement="top-left"
                       tooltip-enable="atrForm.attrKey.$invalid"
                       ng-if="!data.requiredAttributes[attribute.name].required || data.model[attribute.name] != attribute">
                <p class="form-control-static pull-right" name="attrKey" ng-if="data.requiredAttributes[attribute.name].required && data.model[attribute.name] == attribute">{{attribute.name}}</p>

                <!--<p class="form-control-static pull-right" name="attrKey" ng-if="data.requiredAttributes[attribute.name]">{{attribute.name}}</p>-->

            </td>
            <td class="col-md-9 nopadding border-none form-group form-group-sm" ms-form-group-validator
                ng-class="{'has-error' : atrForm.attrValue.$invalid}">

                <p ng-class="{'input-group' : !data.requiredAttributes[attribute.name].required}">

                <input type="text" name="attrValue" id="value1" ng-model="attribute.value" class="form-control input-sm"
                           placeholder="Enter a value" ng-required="true"
                       uib-tooltip="Emty value" tooltip-class="customClass" tooltip-placement="top-left"
                       tooltip-enable="atrForm.attrValue.$invalid"

                       ng-if="attribute.name !='Description'">
                    <textarea name="attrValue" id="value" ng-model="attribute.value" class="form-control input-sm"
                              required
                              uib-tooltip="Empty value"
                              tooltip-append-to-body="true"
                              tooltip-placement="bottom"
                              tooltip-class="customClass"
                              tooltip-enable="atrForm.attrValue.$invalid"
                              ng-if="attribute.name ==='Description'"></textarea>
                <span class="input-group-btn" ng-if="!data.requiredAttributes[attribute.name].required">
                    <button type="button" class="btn btn-sm btn-danger btn-flat"
                            uib-tooltip="Delete this description"
                            tooltip-append-to-body="true"
                            tooltip-placement="bottom"
                            ng-click="data.remove(attribute)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </span>
                </p>
            </td>
        </tr>

        </tbody>

    </table>
    <!-- <div class="panel-footer"> &nbsp;
         <div class="btn-toolbar pull-right" role="toolbar">

             <div class="btn-group pull-right">
                 <button class="btn btn-success btn-xs" ng-click="onAdd(data)"
                     uib-tooltip="Add a new description"
                     tooltip-append-to-body="true"
                     tooltip-placement="bottom">Add a description

                 </button>
             </div>
             <div class="btn-group pull-right">
                 <button class="btn btn-xs btn-danger"
                         uib-tooltip="Delete all descriptions"
                         ng-click="deleteItem($index, data)"
                         tooltip-append-to-body="true"
                         tooltip-placement="bottom">Delete all <i class="fa fa-trash-o"></i> </button>

             </div>

        </div>

    </div> -->


</div>

