    <uib-accordion-group id="ac1org" is-open="true" ng-if="(data|filter:{type:'Organization'}).length >0">
        <uib-accordion-heading>
            Organizations <span class="badge">{{(data|filter:{type:'Organization'}).length}}</span>
        </uib-accordion-heading>

        <uib-tabset>
        <uib-tab ng-repeat="organization in data | filter:{type:'Organization'}" select="selectTab()" >
            <uib-tab-heading>
                {{$index+1}}
            </uib-tab-heading>
            <div class="btn-bar">
                <div class="btn-toolbar margin-top-small margin-left-none margin-bottom" role="toolbar">
                    <div class="btn-group" role="group">
                        <button class="btn btn-flat btn-success-fg"
                                tooltip-append-to-body="true"
                                uib-tooltip="Add an attribute to the organization"
                                tooltip-placement="top" ng-click="addAttribute(organization)">
                            <span class=" fa fa-comment-o fa-fw "></span>
                        </button>
                        <button class="btn btn-flat btn-danger-fg"
                                uib-tooltip="Delete the organization"
                                tooltip-append-to-body="true"
                                tooltip-placement="top"
                                ng-click="deleteItem($index, data)">
                            <i class="fa fa-trash-o fa-fw"></i>
                        </button>

                    </div>
                </div>
            </div>

            <div class="row" ng-repeat="attribute in organization.attributes" ng-form name="formOrg">
                <div class="col-sm-3 margin-right margin-left">
                    <div class="form-group margin-bottom-none" bs-show-errors>
                        <div class="has-error">
                            <span ng-show="formOrg.annotationKey.$error.required" class="help-block span-error margin-bottom-none">Key is required</span>
                            <span ng-show="!formOrg.annotationKey.$error.required" class="help-block-empty-2 margin-bottom-none"></span>
                        </div>


                        <input autocomplete="off" type="text" name="annotationKey" ng-model="attribute.name"
                               uib-typeahead="item.name for item in typeHead | filter:$viewValue:$emptyOrMatch | limitTo:30"
                               typeahead-focus
                               typeahead-append-to-body="true" typeahead-min-length="0"
                               class="form-control"
                               placeholder="Type a key" ng-required="true">
                    </div>

                </div>
                <div class="col-sm-8 padding-right-25">
                    <div class="form-group margin-bottom-none" bs-show-errors>
                        <div class="has-error">
                            <span ng-show="formOrg.annotationValue.$error.required" class="help-block span-error margin-bottom-none has-error">This field is required</span>
                            <span ng-show="!formOrg.annotationValue.$error.required" class="help-block-empty-2 margin-bottom-none has-error"></span>
                        </div>

                        <p class="input-group">
                            <input type="text" ng-model="attribute.value" class="form-control"
                                   placeholder="Enter a value" name="annotationValue" ng-required="true">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger  btn-flat"
                            ng-click="deleteItem($index, organization.attributes)">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </button>
                </span>
                        </p>
                    </div>

                </div>
            </div>


        </uib-tab>
    </uib-tabset>

</uib-accordion-group>