<div class="panel panel-info" ms-check-validity error-class="panel-danger"
     default-class="panel-info" ng-if="data.model.length > 0" ng-form name="formContacts">
    <div class="panel-heading">{{title}}<span class="badge">{{data.model.length}}</span>
        <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group ">
                <button class="btn btn-xs btn-success"
                        uib-tooltip="Add a new contact"
                        tooltip-append-to-body="true"
                        tooltip-placement="bottom"
                        ng-click="data.add()">Add</i></button>
            </div>
        </div>
    </div>

    <uib-tabset>
        <uib-tab heading="Preview">
            <div class="table-responsive">
                <table class="table table-condensed" style="width:100%">
                    <thead>
                    <th>
                    </th>
                    <th class="">

                    </th>
                    <th ng-repeat="(key, val) in data.attributesKey" class="">
                        <span class="text-muted has-error error">{{key}}</span>
                    </th>
                    </thead>

                    <tbody>
                    <tr ng-repeat="author in data.model" ng-form name="previewAuthorForm">

                        <td class="">
                            {{$index+1}}
                        </td>
                        <td class="">
                            <button class="btn btn-primary btn-sm" type="button" ng-click="data.ui.activeTabs[$index]=true"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-warning btn-sm" type="button" ng-click="data.remove($index)"><i class="fa fa-trash"></i> </button>
                        </td>

                        <td class="form-group-sm row col-lg-{{(data.attributesKeyArray().length >6? 2: (12/data.attributesKeyArray().length) )}}"  ng-repeat="(key, val) in data.attributesKey">
                            <input type="text" name="attrValuePreview" ng-model="author.attributes[key].value"
                                   class="form-control input-sm form-control-auto" placeholder="Enter a value" ng-required="true"
                                   ng-if="author.attributes[key]" ms-input-val data-check-pristine="true">
                            <button class="btn btn-default btn-xs" ng-if="!author.attributes[key]"
                                    ng-click="author.createAttribute(key)">
                                <i class="fa fa-fw fa-plus"></i>
                            </button>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>

        </uib-tab>
        <uib-tab ng-repeat="author in data.model" heading="Contact {{$index+1}}"  active="data.ui.activeTabs[$index]" ng-form name="authorForm">
            <p class="pull-right padding-right-small">
                <button class="pull-right btn btn-danger btn-xs" ng-click="data.remove($index)"
                        uib-tooltip="Delete this author"
                        tooltip-append-to-body="true"
                        tooltip-placement="bottom"><i class="fa fa-trash"></i>
                </button>

            </p>

            <table class="table table-condensed">
                <thead>
                <th>Key</th>
                <th>Value</th>
                </thead>
                <tbody>

                <tr ng-repeat="attribute in author.attributes" ng-form name="atrAuthorForm1">

                    <td class="col-md-3 nopadding border-none form-group-sm " ms-form-group-validator>

                        <input autocomplete="off" type="text" name="attrKey" ng-model="attribute.name"
                               uib-typeahead="item.name as item.name for item in typeHead | filter:$viewValue:$emptyOrMatch | limitTo:30"
                               typeahead-append-to-body="true"
                               typeahead-show-hint="true"
                               typeahead-min-length="0"
                               ng-blur="author.changeAttr(attribute);"
                               class="form-control control-label input-sm"
                               placeholder="Type a key" ng-required="true" ng-if="!data.requiredAttributes[attribute.name]" autofocus>
                        <p class="form-control-static pull-right" name="attrKey" ng-if="data.requiredAttributes[attribute.name]">{{attribute.name}}</p>
                    </td>
                    <td class="col-md-9 nopadding border-none form-group-sm" ms-form-group-validator>

                        <p ng-class="{'input-group' : !data.requiredAttributes[attribute.name]}">
                            <input type="text" name="attrValue" ng-model="attribute.value"
                                   class="form-control input-sm"
                                   placeholder="Enter a value" ng-required="true" uib-tooltip="This field is required" tooltip-class="customClass" tooltip-placement="top-left"
                                   tooltip-trigger="mouseenter" tooltip-enable="!attribute.value">
                                <span class="input-group-btn" ng-if="!data.requiredAttributes[attribute.name]">
                                    <button type="button" class="btn btn-sm btn-danger btn-flat"
                                            ng-click="author.removeAttribute($index, attribute)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </span>
                        </p>

                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="">
                        <p class="pull-right">
                            <button class="btn btn-primary btn-xs" ng-click="author.createAttribute();"
                                    uib-tooltip="Add a new description"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="bottom">Add a description
                            </button>

                        </p>
                    </td>
                </tr>
                </tbody>
            </table>


        </uib-tab>

    </uib-tabset>


</div>

