<p>
    <input type="text" name="{{field.name}}" class="form-control input-sm"
           placeholder="{{field.placeholder || 'Enter a value'}}"
           ng-model="data[field.name]"
           ng-required="true"
           uib-tooltip="This field is required"
           tooltip-class="customClass"
           tooltip-placement="top-left"
           tooltip-trigger="mouseenter focus"
           tooltip-is-open="attrItemForm.field.$error.required"
           tooltip-enable="!data[field.name]"
           ng-change="onAttributeChange()">
</p>

