<uib-tabset>
    <uib-tab heading="All links">
        <div class="table-responsive">
            <table class="table table-condensed" style="width:100%">
                <thead>
                <th></th>
                <th></th>
                <th ng-repeat="field in dict.fields" class="">
                    <span class="text-muted has-error error">{{field.label}}</span>
                </th>
                <th ng-repeat="key in attributeKeys" class="">
                    <span class="text-muted has-error error">{{key}}</span>
                </th>
                </thead>

                <tbody>
                <tr ng-repeat="item in data.items" ng-form name="previewItemForm">
                    <td>
                        {{$index+1}}
                    </td>
                    <td>
                        <button uib-tooltip={{dict.actions.edit.popup}}
                                class="btn btn-primary btn-sm" type="button"
                                ng-click="data.ui.activeTabs[$index]=true"><i class="fa fa-edit"></i></button>
                        <button uib-tooltip={{dict.actions.delete.popup}}
                                class="btn btn-warning btn-sm" type="button" ng-click="data.remove($index, item)">
                            <i class="fa fa-trash"></i></button>
                    </td>
                    <td ng-repeat="field in dict.fields" class="form-group-sm row ng-class:data.colSizeCss">
                        <div ng-class="{'has-error' : previewItemForm[field.name].$invalid}">
                            <bs-preview-header data-ng-model="item" data-field="field"
                                               data-dict="dict"></bs-preview-header>
                        </div>
                    </td>
                    <td class="form-group-sm row" ng-class="colSizeCss"
                        ng-repeat="key in attributeKeys">
                        <div ng-repeat="attr in item.attributes.attributes">
                            <input type="text" name="attrValuePreview" ng-model="attr.value"
                                   class="form-control input-sm form-control-auto" placeholder="Enter a value"
                                   ng-required="true"
                                   ng-if="attr.name==key" ms-input-val data-check-pristine="true"
                                   uib-typeahead="value for value in typeaheadValues(attr.name, item.$index) | filter:$viewValue:$emptyOrMatch | limitTo:10"
                                   typeahead-append-to-body="true"
                                   typeahead-show-hint="true"
                                   typeahead-min-length="0"
                                   ng-change="onAttributeChange()">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </uib-tab>

    <uib-tab ng-repeat="item in data.items" active="data.ui.activeTabs[$index]" ng-form name="itemForm">
        <uib-tab-heading ng-class="{'text-danger': authorForm.$invalid}">
            {{dict.tabHeading + ($index+1)}}
        </uib-tab-heading>
        <p class="pull-right padding-right-small padding-top-small">
            <button class="pull-right btn btn-danger btn-xs" ng-click="data.remove($index, item);"
                    uib-tooltip={{dict.actions.delete.popup}}
                    tooltip-append-to-body="true"
                    tooltip-placement="bottom"><i class="fa fa-lg fa-trash"></i>
            </button>
        </p>

        <bs-section-item data-ng-model="item"
                         data-template-url="templates/bsng/sectionItem/sectionItem.html"
                         data-type="{{dataType}}"
                         data-change="onAttributeChange()">
        </bs-section-item>
    </uib-tab>

</uib-tabset>


