<a class="list-group-item">Author {{$index+1}}
    <p class="pull-right">
        <button class="pull-right btn btn-danger btn-xs" ng-click="deleteItem($index, data)"
                uib-tooltip="Delete this author"
                tooltip-append-to-body="true"
                tooltip-placement="bottom">Delete this author
        </button>
    </p>

    <table class="table table-condensed">
        <tbody>
        <tr>
            <td colspan="2" class="border-none form-group-sm">
            </td>
        </tr>
        <tr id="author{{$index}}" ng-repeat="attribute in author.attributes" ng-form name="atrLinkForm">
            <td class="col-md-3 nopadding border-none form-group" ms-form-group-validator>
                <label class="control-label">Key<span
                        ng-show="atrLinkForm.attrKey.$error.required">: cannot be blank</span></label>

                <input autocomplete="off" type="text" name="attrKey" ng-model="attribute.name"
                       uib-typeahead="item as item.name for item in typeHead.attributes | filter:$viewValue:$emptyOrMatch | limitTo:30"
                       typeahead-append-to-body="true"
                       typeahead-show-hint="true"
                       typeahead-min-length="0"
                       class="form-control control-label"
                       placeholder="Type a key" ng-required="true">
            </td>
            <td class="col-md-9 nopadding border-none form-group" ms-form-group-validator>
                <label class="control-label">Value<span
                        ng-show="atrLinkForm.attrValue.$error.required">: cannot be blank</span></label>

                <p class="input-group">
                    <input type="text" name="attrValue" ng-model="attribute.value"
                           class="form-control"
                           placeholder="Enter a value" ng-required="true">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-danger btn-flat"
                                            ng-click="deleteItem($index, contact.attributes)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="">
                <p class="pull-right">
                    <button class="btn btn-primary btn-xs" ng-click="onAddAttr(data)"
                            uib-tooltip="Add information about the contact"
                            tooltip-append-to-body="true"
                            tooltip-placement="bottom">Add an contact description
                    </button>

                </p>
            </td>
        </tr>
        </tbody>
    </table>

</a>
