<aside class="left-side sidebar-offcanvas"
       ng-class="{'collapse-left' : collapseLeftSide}"
       style="position: fixed;">

    <section class="sidebar">
        <ul class="sidebar-menu">
            <bs-ng-toggle></bs-ng-toggle>
            <li class="success" bs-ng-item data-bs-click="showFileDlg();"
                data-toggle="collapseLeftSide" data-item-text="Add a file" data-item-class="fa-file-o">
            </li>
            <li class="success" bs-ng-item data-bs-click="addAnnotation()"
                data-toggle="collapseLeftSide" data-item-text="Add an annotation" data-item-class="fa-comment-o">
            </li>
            <li class="success" bs-ng-item data-bs-click="addLink()"
                data-toggle="collapseLeftSide" data-item-text="Add a link" data-item-class="fa-link">
            </li>
            <li class="success" bs-ng-item data-bs-click="addSection()"
                data-toggle="collapseLeftSide" data-item-text="Add a section"
                data-item-class="fa-th">
            </li>
            <li class="success" bs-ng-item data-bs-click="addSource()"
                data-toggle="collapseLeftSide" data-item-text="Add a source"
                data-item-class="fa-database">
            </li>
            <li class="success" bs-ng-item data-bs-click="addAuthor()"
                data-toggle="collapseLeftSide" data-item-text="Add an author"
                data-item-class="fa-user">
            </li>
            <li class="warning" bs-ng-item data-bs-click="submit(submissionForm)"
                data-toggle="collapseLeftSide" data-item-text="Submit the submission"
                data-item-class="fa-save">
            </li>

        </ul>

    </section>

</aside>
