<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Select or Upload</h5>
    <button type="button" class="close" aria-label="Close" (click)="onCancelCloseClick()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card bg-light mb-3">
      <div class="card-header">
        Select file{{allowFolders ? '/folder' : ''}}
      </div>
      <div class="card-body overflow-auto" style="max-height: 400px">
        <st-file-tree (fileTreeSelect)="onFileSelect($event)" [allowFolders]="allowFolders" ></st-file-tree>
      </div>
    </div>
    <div class="input-group">
      <div class="custom-file">
        <input id="inputGroupFile" class="custom-file-input" type="file" (change)="onInputChange($event)" />
        <label class="custom-file-label" for="inputGroupFile">
          {{fileToUploadName.length === 0 ? 'Upload file' : fileToUploadName}}
        </label>
      </div>
    </div>
    <div *ngIf="isUploading && uploadProgressValue < 100" class="pt-2">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Uploading file...</span>
      </div>
      Uploading file {{uploadProgressValue}}%
    </div>
    <div *ngIf="uploadProgressValue < 0" class="text-danger pt-2">
      <i class="fa fa-times-circle"></i>
      {{error}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" (click)="onCancelCloseClick()">Cancel</button>
  </div>
</div>
