<div class="container-fluid container-scroll">
    <div class="row" [style.width]="rowWidth" style="border-bottom:1px solid #ccc">
        <div class="col-xs-1 col-md-1">
            <button *ngIf="!readonly"
                    type="button"
                    class="btn btn-xs btn-primary btn-block"
                    tooltip="Add Column"
                    container="body"
                    (click)="feature.addColumn()">
                <i class="fa fa-plus"></i>
                <span class="pull-right"><i class="fa fa-angle-double-right"></i></span>
            </button>
        </div>
        <div class="col-xs-3 col-md-2" *ngFor="let column of feature.columns">
            <feature-column
                    [column]="column"
                    [required]="false"
                    (remove)="onColumnRemove(column)"></feature-column>
        </div>
    </div>
    <div class="row" [style.width]="rowWidth" *ngFor="let row of feature.rows; let idx=index">
        <div class="col-xs-1 col-md-1">
            <span style="width:20px;">{{idx+1}}</span>
            <button *ngIf="!readonly"
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="feature.removeRow(idx)"
                    [tooltip]="'Delete ' + feature.name"
                    container="body">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <div class="col-xs-3 col-md-2" *ngFor="let column of feature.columns">
            <div [ngClass]="{'has-error' : false}">
                <input *ngIf="column.type === 'text'"
                       type="text" class="form-control input-sm form-control-auto"
                       [name]="'value_' + column.id"
                       placeholder="Enter a value"
                       tooltip="This field is required"
                       [required]="true"
                       [(ngModel)]="row.valueFor(column.id).value"
                       [readonly]="readonly">
                <!--
                                               [typeahead]="typeaheadValues(column.id)"
                       typeaheadAppendToBody="true"
                       typeaheadMinlength="0"
                       typeaheadOptionsLimit="10"
-->

                <!--input-file *ngIf="column.type === 'file'"
                            [name]="column.id"
                            [(ngModel)]="row.getValue(column.id).value"
                            [required]="true">
                </input-file-->
            </div>
        </div>
    </div>
    <div class="row" [style.width]="rowWidth">
        <div class="col-xs-1 col-md-1">
            <button *ngIf="!readonly"
                    type="button"
                    class="btn btn-xs btn-primary btn-block"
                    tooltip="Add Row"
                    container="body"
                    (click)="feature.addRow()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>