<input *ngIf="type === 'text'"
       type="text"
       class="form-control input-sm"
       [(ngModel)]="value"
       [readonly]="readonly"
       [required]="required">
<!--
                               [typeahead]="typeaheadAttrValues(attr.name)"
           typeaheadAppendToBody="true"
           typeaheadMinLength="0"
           typeaheadOptionsLimit="30"

-->
<file-input *ngIf="type === 'file'"
            [(ngModel)]="value"
            [required]="required"
            [readonly]="readonly">
</file-input>