<form *ngIf="sectionForm" class="form-horizontal"
      [formGroup]="sectionForm.form"
      (ngSubmit)="onSubmit($event)">

    <div *ngFor="let field of sectionForm.fields"
         class="form-group row"
         [ngClass]="{'has-error': sectionForm.fieldControl(field.id).invalid}">
        <div class="col-sm-12">
            <label class="control-label">{{field.name}}:
                <span>
                    <span>{{sectionForm.formErrors[field.id]}}</span>
                </span>
            </label>
            <subm-field
                    [type]="field.valueType"
                    [name]="field.name"
                    [readonly]="readonly"
                    [(ngModel)]="field.value"
                    [formControl]="sectionForm.fieldControl(field.id)">
            </subm-field>
        </div>
    </div>

    <p></p>

    <div *ngFor="let feature of sectionForm.features">
        <label class="control-label" *ngIf="feature.size() > 0">{{feature.type.name}}:</label>
        <subm-feature [featureForm]="sectionForm.featureForm(feature.id)"
                      [readonly]="readonly">
        </subm-feature>
    </div>
</form>