<form *ngIf="sectionForm" class="form-horizontal"
      [formGroup]="sectionForm.form"
      (ngSubmit)="onSubmit($event)">

    <div *ngFor="let field of sectionForm.fields"
         class="form-group row">
        <div class="col-xs-12"
             [ngClass]="{'has-error': get(field.id).invalid && get(field.id).touched}">
            <label class="control-label">
                <span class="text-black">{{field.name}}</span>
                <span *ngIf="get(field.id).invalid && get(field.id).touched">
                    {{sectionForm.formErrors[field.id] ? sectionForm.formErrors[field.id] : ''}}
                </span>
                <span [hidden]="readonly ||
                                (get(field.id).valid && get(field.id).value) ||
                                (get(field.id).invalid && get(field.id).touched)"
                      class="text-muted">

                    <span *ngIf="(get(field.id, 'minlength') > 0) && (get(field.id, 'maxlength') < 0)">
                         (at least {{get(field.id, 'minlength')}}
                    </span>
                    <span *ngIf="(get(field.id, 'minlength') < 0) && (get(field.id, 'maxlength') > 0)">
                         (at most {{get(field.id, 'maxlength')}}
                    </span>
                    <span *ngIf="(get(field.id, 'minlength') > 0) && (get(field.id, 'maxlength') > 0)">
                         (between {{get(field.id, 'minlength')}} and {{get(field.id, 'maxlength')}}
                    </span>
                    <span *ngIf="(get(field.id, 'minlength') > 0) || (get(field.id, 'maxlength') > 0)">
                         characters long)
                    </span>
                </span>
            </label>
            <span *ngIf="!readonly && !field.type.required" class="text-muted pull-right"><i>Optional</i></span>
            <div [ngClass]="{'input-group': !readonly && !field.readonly,
                             'readonly': field.readonly}">
                <span *ngIf="!readonly && !field.readonly" class="input-group-addon">
                    <i class="fa {{get(field.id, 'icon')}}"></i>
                </span>
                <subm-field class="subm-field"
                    [type]="field.valueType"
                    [readonly]="readonly || field.readonly"
                    [required]="field.type.required"
                    [(ngModel)]="field.value"
                    [formControl]="get(field.id)"
                    [autosuggest]="field.type.values"
                    [isSmall]="false"
                    validate-onblur>
                </subm-field>
            </div>
        </div>
    </div>

    <div *ngFor="let feature of sectionForm.features"
        [ngClass]="{'form-group row': feature.size() > 0}">
        <div *ngIf="feature.size() > 0" class="col-xs-12">
            <label class="control-label">{{feature.pluralName()}}</label>
            <span *ngIf="!readonly && (!feature.type.required || sectionForm.groupForm.get(feature.id))"
                  class="text-muted pull-right">
                <i>
                    Optional{{sectionForm.groupForm.get(feature.id) ? ': ' + section.type.group.join(' or ') : ''}}
                </i>
            </span>
            <subm-feature [isMenu]="false"
                          [featureForm]="sectionForm.featureForm(feature.id)"
                          [readonly]="readonly">
            </subm-feature>
        </div>
    </div>
</form>