<form *ngIf="sectionForm"
      [formGroup]="sectionForm.form"
      (ngSubmit)="onSubmit($event)">

    <div *ngFor="let fieldControl of sectionForm.fieldControls"
         [ngClass]="{'form-group row': !readonly}">
        <subm-field [fieldControl]="fieldControl"
                    [readonly]="readonly">
        </subm-field>
    </div>

    <div *ngFor="let featureForm of sectionForm.featureForms"
         [ngClass]="{'form-group row': !featureForm.isEmpty}">
        <subm-feature [featureForm]="featureForm"
                      [readonly]="readonly">
        </subm-feature>
    </div>
</form>