<div bsModal class="modal fade" role="dialog" aria-hidden="true"
     #bsModal="bs-modal"
     (onShown)="onShown(focusBtn)">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form novalidate autocomplete="off"
                  #form="ngForm"
                  (ngSubmit)="onSubmit(projectName)">
                <div class="modal-header bg-primary">
                    Add new submission
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please select a project from the list below. Leave the default option if the new submission is
                    a standalone study or its project is not in the list.
                    <div class="form-group">
                        <label class="control-label">What is the study's parent project?</label>
                        <div *ngFor="let name of projectNames" class="radio">
                            <label>
                                <input type="radio"
                                       [name]="name"
                                       [value]="name"
                                       [(ngModel)]="projectName">
                                {{name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary btn-sm"
                                #focusBtn>
                            Add
                        </button>
                        <button type="button"
                                class="btn btn-default btn-sm"
                                (click)="onCancel()">Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>