<div bsModal #bsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-2"><h4>Add:</h4></div>
                        <div class="col-xs-8">
                            <select class="form-control"
                                    [(ngModel)]="itemType">
                                <option value="AttributeList">Attribute List</option>
                                <option value="AttributeGrid">Attribute Grid</option>
                                <option value="Section">Section</option>
                            </select>
                        </div>
                        <div class="col-xs-2"></div>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div *ngIf="itemType === 'AttributeList' || itemType === 'AttributeGrid' || itemType == 'Section'">
                    <div class="form-group">
                        <label class="control-label">Name:</label>
                        <input type="text" class="form-control"
                               placeholder="Enter a name"
                               [(ngModel)]="name"
                               [required]="true">
                    </div>
                </div>

            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            (click)="ok();bsModal.hide()">OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>