.alert-container {
  z-index: 1000;
  position: absolute;
  max-width: 80%;
  overflow: hidden;
  margin-top: 3.5px;
  margin-left: -100%;
  padding: 0 7px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: margin-left .5s ease-in-out;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.18);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.18);
}

.close {
  position: static;
  float: none;
  display: inline-block;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  background: #d99997;
  border-radius: 4px 0 0 4px;
}

.slide-in {
  margin-left: 3.5px;
}
