.alert-container {
  align-items: center;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.18);
  display: flex;
  margin-left: -100%;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  transition: margin-left .5s ease-in-out;
  white-space: nowrap;
  z-index: 1000;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.18);
}

.close {
  padding: 15px;
  background: #d99997;
}

.slide-in {
  margin-left: 3.5px;
}

.message {
  padding: 0 20px;
}
