<table class="table table-condensed">
    <thead>
    <th>Key</th>
    <th>Value</th>
    </thead>
    <tbody>
    <tr ng-repeat="field in dict.fields" ng-form name="attrItemForm">
        <td class="nopadding border-none form-group-sm">
            <p class="form-control-static pull-right">{{field.label}}</p>
        </td>
        <td class="nopadding border-none form-group-sm" ms-form-group-validator
            ng-class="{'has-error' : attrItemForm[field.name].$invalid}">
            <bs-details-header data-ng-model="item" data-field="field" data-dict="dict"></bs-details-header>
        </td>
    </tr>
    <tr ng-repeat="attr in item.attributes.attributes" ng-form name="attrItemForm">
        <td class="col-md-3 nopadding border-none form-group-sm " ms-form-group-validator
            ng-class="{'has-error' : attrItemForm.attrKey.$invalid}">
            <input autocomplete="off" type="text" name="attrKey" ng-model="attr.name"
                   uib-typeahead="key for key in typeaheadKeys | filterDifference:typeaheadKeys:item.attributes.attributes | filter:$viewValue:$emptyOrMatch | limitTo:30"
                   typeahead-append-to-body="true"
                   typeahead-show-hint="true"
                   typeahead-min-length="0"
                   ms-duplicate="item.attributes.attributes"
                   ms-attr="attr"
                   ms-view-model="item.attributes"
                   class="form-control control-label input-sm"
                   placeholder="Type a key" ng-required="true"
                   uib-tooltip="Empty or duplicate value" tooltip-class="customClass" tooltip-placement="top-left"
                   tooltip-enable="attrItemForm.attrKey.$invalid"
                   ng-change="onAttributeChange()"
                   ng-if="!attr.required" autofocus
                   ng-readonly="readOnly">
            <p class="form-control-static pull-right" name="attrKey" ng-if="attr.required">{{attr.name}}</p>
        </td>
        <td class="col-md-9 nopadding border-none form-group-sm" ms-form-group-validator>
            <p ng-class="{'input-group' : !readOnly && !attr.required}">
                <input type="text" name="attrValue" ng-model="attr.value"
                       class="form-control input-sm"
                       placeholder="Enter a value"
                       uib-typeahead="value for value in typeaheadValues(attr.name, item.$index) | filter:$viewValue:$emptyOrMatch | limitTo:10"
                       typeahead-append-to-body="true"
                       typeahead-show-hint="true"
                       typeahead-min-length="0"
                       ng-required="true" uib-tooltip="This field is required" tooltip-class="customClass"
                       tooltip-placement="top-left"
                       tooltip-enable="!attr.value"
                       ng-change="onAttributeChange()"
                       ng-readonly="readOnly">
                                <span class="input-group-btn" ng-if="!readOnly && !attr.required">
                                    <button type="button"
                                            class="btn btn-sm btn-danger btn-flat"
                                            ng-click="item.attributes.remove(attr)"
                                            uib-tooltip={{dict.actions.deleteAttr.popup}}>
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </span>
            </p>
        </td>
    </tr>

    <tr ng-if="sectionBinding && !readOnly">
        <td colspan="2">
            <p class="pull-right">
                <button type="button" class="btn btn-primary btn-xs"
                        ng-click="item.attributes.addNew()"
                        uib-tooltip={{dict.actions.addAttr.popup}}
                        tooltip-append-to-body="true"
                        tooltip-placement="bottom">{{dict.actions.addAttr.title}}
                </button>
            </p>
        </td>
    </tr>
    </tbody>
</table>