/* Makes sure container is not outgrown by input when displayed */
.inline-edit-wrapper {
    height: 32px;
}

.simple-box {
    height: 32px;
    padding-left: 0;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.editable-value {
    overflow: hidden;
    display: inline-block;
    width: 60%;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.editable:hover .editable-value {
    color: #000;
}

.inline-edit-wrapper .icons {
    opacity: .3;
}
.icons {
    position: absolute;
    top: 0;
    right: 2.5px;
    height: 20px;
}

.editable:hover .icons {
    opacity: 1;
}

.pointer {
    cursor: pointer;
}
