/* Makes the control appear as standard text, even when not on read-only mode */
.form-control {
    padding: 0;
    height: auto;
    color: inherit;
    border: none;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/* Truncates text when not editing */
.editable .form-control[readonly] {
    width: 70%;
}

/* Shows pointer over field only if changeable */
.changeable .form-control[readonly] {
    cursor: pointer;
}

/* Positions toolbar on the far right and highlights it on hover */
.icons {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .3;
}
.editable:hover .icons {
    opacity: 1;
}

/* Prevents outline on focus */
.btn-link {
    outline: none !important;
}

