<div class="inline-edit-wrapper"
     [ngClass]="{'editable': canEdit, 'text-muted': !editing}">
    <input class="form-control form-control-auto" type="text"
           [required]="required"
           [(ngModel)]="value"
           [placeholder]="placeholder"
           (blur)="onEditBoxBlur($event)"
           (keyup)="onEditBoxKeyUp($event)"
           (click)="canEdit && onEditClick()"
           [readonly]="!editing"
           name="inline-edit-box"
           #inlineEditBox/>
    <div *ngIf="!editing" class="icons">
        <button class="btn btn-xs btn-link"
                *ngIf="canEdit"
                (click)="onEditClick()">
            <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-xs btn-link"
                *ngIf="canEdit"
                (click)="onRemoveClick($event)">
            <i class="text-danger fa fa-trash-o"></i>
        </button>
    </div>
</div>
