<div style="width:100%;height:30px">
    <div *ngIf="editing">
        <input type="text"
               class="form-control input-sm form-control-auto"
               style="width:100%"
               name="inline-edit-box"
               [required]="required"
               [(ngModel)]="value"
               [placeholder]="placeholder"
               (blur)="onEditBoxBlur($event)"
               (keyup)="onEditBoxKeyUp($event)"
               #inlineEditBox/>
    </div>
    <div *ngIf="!editing"
         class="inline-edit-wrapper">
        <span class="text-muted">{{value || emptyValue}}</span>
        <div class="icons">
            <i *ngIf="canEdit"
               class="fa fa-pencil-square-o"
               aria-hidden="true"
               (click)="onEditClick()"></i>
            <i *ngIf="canEdit"
               class="fa fa-times"
               aria-hidden="true"
               (click)="onRemoveClick($event)"></i>
        </div>
    </div>
</div>