<div class="row-offcanvas row-offcanvas-left">
    <direct-submit-sidebar
            (toggle)="onToggle($event)"
            [collapsed]="collapseSideBar">
    </direct-submit-sidebar>
    <div class="navbar-default navbar-subm-fixed"
         [ngClass]="{'collapse-left': collapseSideBar}">
        <nav>
            <div class="col-xs-12 nav-block">
                <a routerLink="/submissions">Submission list</a>
                &nbsp;<i class="fa fa-angle-right font-bold"></i>&nbsp;
                <strong>Direct upload</strong>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <aside class="right-side navbar-subm-margin"
               [ngClass]="{'collapse-left': collapseSideBar}">
            <div class="help-msg panel">
                <div *ngIf="!request" class="panel-body">
                    <h4>New direct submission</h4>
                    <p>Please fill in the form on the left. A data file must be provided and may be attached
                        to one or multiple projects. If updating an existing study, the filename must match the study's
                        accession number.</p>
                </div>
                <div *ngIf="request && request.inprogress" class="panel-body">
                    <h4>Submitting study...</h4>
                    <p>Please wait while the data file is being submitted and validated. Any invalid sections in the file
                        will be listed below.</p>
                </div>
                <div *ngIf="request && request.failed" class="panel-body">
                    <h4>Error while submitting study</h4>
                    <p>The submitted data file is invalid or an unexpected error was encountered. Try to correct at least the
                    issues highlighted in red and submit again.</p>
                </div>
                <div *ngIf="request && request.successful" class="panel-body">
                    <h4>Submitted study</h4>
                    <p>The study has been added to the BioStudies database with accession number <strong>{{request.accno}}</strong>.</p>
                </div>
            </div>
            <div *ngIf="request" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="fa fa-2x" aria-hidden="true"
                       [ngClass]="{ 'fa-times-circle text-danger': request.failed,
                                    'fa-check text-success': request.successful,
                                    'fa-cog fa-spin': request.inprogress
                       }"></i>
                    <div class="panel-description">
                        <p class="panel-title">
                            <strong>{{request.filename}}</strong>
                        </p>
                        {{request.created | date: 'd MMM y, H:mm'}}
                    </div>
                </div>
                <div *ngIf="request.failed" class="panel-body container-fluid">
                    <subm-results-tree [log]="request.log"></subm-results-tree>
                </div>
            </div>
        </aside>
    </div>
</div>