<div class="row-offcanvas row-offcanvas-left">
    <direct-submit-sidebar
            (toggle)="onToggle($event)"
            [collapsed]="collapseSideBar">
    </direct-submit-sidebar>
    <div class="navbar-default navbar-subm-fixed"
         [ngClass]="{'collapse-left': collapseSideBar}">
        <div class="col-xs-12">
            <a routerLink="/submissions">Submission list</a>
            &nbsp;<i class="fa fa-angle-right font-bold"></i>&nbsp;
            <strong>Direct upload</strong>
        </div>
    </div>
    <div class="container-fluid">
        <aside class="right-side navbar-subm-margin"
               [ngClass]="{'collapse-left': collapseSideBar}">
            <div *ngIf="!request" class="help-msg panel">
                <div class="panel-body">
                    <h4>Please fill out the form on the left</h4>
                    <p>All fields are required. Upon submission, the data file will be validated and any errors shown below.</p>
                </div>
            </div>
            <div *ngIf="request" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <i class="fa fa-2x" aria-hidden="true"
                       [ngClass]="{ 'fa-times-circle text-danger': request.failed,
                                    'fa-check text-success': request.successful,
                                    'fa-circle-o-notch fa-spin': request.inprogress
                       }"></i>
                    <div class="panel-description">
                        <p class="panel-title">
                            {{request.failed ? 'Please review at least the issues marked in red below for ' : ''}}
                            <strong>{{request.filename}}</strong>
                            {{request.failed ? ' and submit again.' : ''}}
                        </p>
                        {{request.created | date: 'd MMM y, h:mm a'}}
                    </div>
                </div>
                <div class="panel-body container-fluid">
                    <div *ngIf="request.inprogress">
                        Loading...
                    </div>
                    <div>
                        <div *ngIf="request.successful"
                             class="alert alert-success">
                            The study was submitted <strong>successfully</strong>! It should appear in the list of
                            'Submitted' studies. Thanks!
                        </div>
                        <subm-results-tree [log]="request.log"></subm-results-tree>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>