<form *ngIf="sectionForm" class="needs-validation mt-4" [formGroup]="sectionForm.form" (ngSubmit)="onSubmit($event)" novalidate>
  <ng-container *ngFor="let fieldControl of sectionForm.fieldControls" [ngClass]="{'form-group row': !readonly}">
    <st-subm-field [fieldControl]="fieldControl" [readonly]="readonly"></st-subm-field>
  </ng-container>

  <ng-container *ngFor="let featureForm of sectionForm.featureForms"
    [ngClass]="{'form-group row': !featureForm.isEmpty}">
    <st-subm-feature [featureForm]="featureForm" [readonly]="readonly"></st-subm-feature>
  </ng-container>
</form>
