<div *ngIf="isUploading && value >= 0" class="progress" style="min-width: 150px;">
  <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{ 'width': value + '%'}"
    [attr.aria-valuenow]="value" aria-valuemin="0%" aria-valuemax="100%">
    <span>{{value}}%</span>
  </div>
</div>
<div *ngIf="!isUploading && value === 100" class="text-success text-center">
  <i class="fa fa-check"></i>
</div>
<div class="text-danger">
  <button *ngIf="value < 0" type="button" class="btn btn-danger btn-sm" (click)="onErrorClick()">
    <i class="fa fa-times-circle"></i>
    {{errorTitle}}
  </button>
</div>
