.modal-header {
  font-size: 2.2rem;
  font-weight: bold;
  color: #fafafa;
  background: #82b0bc;
}

.modal-body {
  max-width: 400px;
  margin: 0 auto;
  font-size: 1.6rem;

  .media-left {
    font-size: 4rem;
    padding-right: 2rem;
    color: #82b0bc;
    opacity: .7;
  }
}

.modal-footer {
  border-top: none;

  .btn {
    padding: .6rem 1rem;
    font-size: 1.35rem;
    text-transform: uppercase;
  }
}