/* Styles that modify default Bootstrap behaviour or relies on Bootstrap's variables */

@left-side-width: 200px;
@left-side-width-collapse: 40px;

@sidebar-light-bg: #6db1c1;
@sidebar-light-hover-bg: @brand-primary;
@sidebar-light-font: white;
@sidebar-light-border: none;

@navbar-subm-height: 46px;

/* Navbar submission */
.navbar-subm-fixed {
  position: fixed !important;
  top: @navbar-height;
  width: 100%;
  min-height: 54px;
  display: flex;
  align-items: center;
  z-index: @zindex-navbar;
  padding: 13px 0 12px @left-side-width;

  & > div {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .readonly & {
    padding: 0;
  }
}

.navbar-subm-margin {
  padding-top: calc(@navbar-subm-height + 16px);
}

/* Layout */

//Top spacing to make room for top bar on login-related screens */
//TODO: Untangle the styling used for the authentication screens, which is spread over "container-md" and the auth component in question
.auth-content {
  margin-top: calc(@navbar-height + 20px);
}

//Top spacing for screens past the login-related ones */
aside {
  margin-top: @navbar-height;
}

/*right side - main content*/
.right-side {
  margin-left: @left-side-width;
}

/*left side - contains sidebar*/
.left-side {
  position: fixed;
  top: 0;
  bottom: 0;
  width: @left-side-width;
  background: @sidebar-light-bg;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
  -webkit-transition: width .3s ease;
  -moz-transition: width .3s ease;
  transition: width .3s ease;
}

.right-side.collapse-left {
  margin-left: @left-side-width-collapse;
  display: block !important;
}

.navbar-subm-fixed.collapse-left {
  padding-left: @left-side-width-collapse;
}

.left-side.collapse-left {
  width: @left-side-width-collapse;
}

@media screen and (max-width: @screen-md) {
  .right-side {
    margin-left: 0;
  }

  .navbar-subm-fixed {
    padding-left: 0;
  }
}

/* Content */
.content {
  background-color: transparent;
  padding-top: 10px;
}

/* Off-canvas side menu */
.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: @zindex-navbar + 1;
}

.sidebar-offcanvas {
  .menu-toggle {
    overflow: hidden;
    padding-top: 12px;
    background: #fafafa;

    .minimise-btn {
      padding: 6px 7px;
      color: #5792a0;
      outline: none;
      background: none;
    }

    .nav-tabs > li > a {
      padding: 10px 12px;
    }
  }

  .vertical-text {
    position: absolute;
    top: 50%;
    left: -50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    white-space: nowrap;
  }

  &.collapse-left .menu-toggle {
    height: 54px;
  }

  .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 3px solid #6db1c1;

    .sidebar-item {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid @sidebar-light-border;

      &.menu-toggle > a {
        background-color: #e3fdec;
        color: @link-color;
      }
      &.warning > a {
        color: @brand-warning;
      }
      &.success > a {
        color: @brand-success;
      }
      &.danger > a {
        color: @brand-danger;
      }
      &.info > a {
        color: @brand-info;
      }

      > a > span {
        color: #737373;
      }

      > a:hover, &.active > a {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        background: @sidebar-light-hover-bg;
        > .fa, > .glyphicon, span {
          color: #fff;
        }
      }

      > a {
        padding: 12px 10px 12px 10px;
        display: block;
        color: #fff;
        > .fa, > .glyphicon {
          width: 20px;
        }
      }

      > a.disabled-link {
        cursor: not-allowed;
        pointer-events: none;
        > span {
          color: lightgrey;
        }
      }
    }
  }
}

//Ensures text inside panel headings flushes against any other element on the left.
.panel-heading .fa {
  vertical-align: middle;
}
.panel-description {
  display: inline-block;
  margin: 0 .5rem;
  width: 83%;
  vertical-align: middle;
}

//Makes unselected tabs be on a plane behind selected ones with a permanent shaded appearance. Also bumps up their weight
.nav-tabs > .nav-item > .nav-link {
  font-weight: 500;
}
.nav-tabs > .nav-item > .nav-link:not(.active) {
  background: @gray-lighter;
}
.nav-tabs > .nav-item > .nav-link.active {
  z-index: 100;
}

//Gives readonly inputs and features the appearance of standard text
input[readonly], textarea[readonly] {
  font-size: @font-size-base;
  text-overflow: ellipsis;
  background: #fff !important;
}
.readonly .form-control, .readonly .feature {
  border: none !important;
  box-shadow: none !important;
}
.readonly .feature .form-control {
  padding-left: 0;
}

//Makes labels' size to reflect font-size without compromising spacing between form element
.control-label {
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}
.form-group {
  padding-top: 7px;
}

//Convenience classes for top-right-corner badge indicators
.badge-parent {
  position: relative;
}
.badge-corner {
  position: absolute;
  top: -7px;
  right: -7px;
}
.badge-half-danger {
  background: -webkit-linear-gradient(to right, #777777 49%, @brand-danger 50%, @brand-danger 100%);
  background: -o-linear-gradient(to right, #777777 49%, @brand-danger 50%, @brand-danger 100%);
  background: -moz-linear-gradient(to right, #777777 49%, @brand-danger 50%, @brand-danger 100%);
  background: linear-gradient(to right, #777777 49%, @brand-danger 50%, @brand-danger 100%);
}
.badge-danger {
  background: @brand-danger !important;
}

//Convenience class for bold typography
.font-bold {
  font-weight: bold;
}

//Convenience text for vertical clockwise text
.vertical-text {
  transform: rotate(-90deg);
}

//Brings date picker's styles in line with the app's and removes pointer over inactive/disabled day cells
.bs-datepicker {
  z-index: 2000;
  border-radius: 4px;
}
.bs-datepicker .bs-datepicker-head {
  background: @brand-primary;
}
.bs-datepicker .selected {
  background: @brand-primary !important;
}
.bs-datepicker-container {
  padding: 0;
}
.bs-datepicker-body table td {
  color: @link-color;
}
.bs-datepicker-body table td span:not(.disabled):not(.is-other-month) {
  font-weight: 500;
}
.bs-datepicker-body table td span.disabled,
.bs-datepicker-body table td span.is-other-month,
.bs-datepicker-body table td.disabled span {
  cursor: default;
}
.bs-datepicker-head button[disabled] {
  background: transparent !important;
  color: #979797 !important;
}

//Restores the border radius applied to right corners on fields inside input-groups
.input-group .subm-field .form-control {
  border-top-right-radius: @border-radius-base !important;
  border-bottom-right-radius: @border-radius-base !important;
}