<st-auth-container>
  <div class="alert" [ngClass]="{'alert-danger': hasError, 'invisible': !hasError}">
    {{hasError ? message : '&nbsp;'}}
  </div>
  <div class="card">
    <div *ngIf="showSuccess" class="card-body">
      <h4 class="card-title">Your password has been changed</h4>
      <h6 class="card-subtitle mb-2 text-muted">You may log in with your new password from now on.</h6>
    </div>
    <div *ngIf="!showSuccess" class="card-body">
      <h4 class="card-title">{{isPassSetup ? 'Set up your password' : 'Change your password' }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">Please provide a {{isPassSetup ? 'password' : 'new password'}}. All fields are required.</h6>
      <form id="pwdForm" name="pwdForm" (ngSubmit)="onSubmit(pwdForm)" #pwdForm="ngForm" novalidate>
        <div class="form-group" [ngClass]="{'was-validated': pwd1.invalid && pwd1.touched}">
          <label for="password1">Password</label>
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            [(ngModel)]="model.password"
            minlength="6"
            #pwd1="ngModel"
            required
          />
          <div class="invalid-feedback" *ngIf="pwd1.invalid && pwd1.touched">
            <span *ngIf="pwd1.errors?.required">Please enter your password</span>
            <span *ngIf="pwd1.errors?.minlength">Please use at least 6 characters</span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'was-validated': pwd2.invalid && pwd2.touched}">
          <label for="password2">Re-enter password</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            [(ngModel)]="model.passwordRepeat"
            [stEquals2]="pwd1"
            minlength="6"
            #pwd2="ngModel"
            required
          />
          <div class="invalid-feedback" *ngIf="pwd2.invalid && pwd2.touched">
            <span *ngIf="pwd2.errors?.required">Please confirm your password</span>
            <span *ngIf="!pwd2.errors?.required && pwd2.errors?.equals2">Please enter the same password as above</span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="isLoading || !pwdForm.valid">
          {{isPassSetup? 'Send' : 'Reset' }}
          <span *ngIf="isLoading"><i class="fa fa-cog fa-spin"></i></span>
        </button>
        <re-captcha
          (resolved)="onRecaptchaResolved($event)"
          name="captcha"
          required
          class="captcha-root"
          #recaptchaEl
        ></re-captcha>
      </form>
    </div>
    <div class="card-footer text-muted">
      <a routerLink="/signin">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Back to Log in
      </a>
    </div>
  </div>
</st-auth-container>
