<st-auth-container>
  <div class="alert" [ngClass]="{'alert-danger': hasError, 'invisible': !hasError}">
    <span [innerHTML]="message"></span>
  </div>
  <div class="card">
    <div *ngIf="showSuccess" class="card-body">
      <h4 class="card-title">Password reset accepted</h4>
      <h6 class="card-subtitle mb-2 text-muted">
        The link to reset your password has been sent to <strong>{{model.email}}</strong>.
        Please check your email, including the spam/trash folder.
      </h6>
    </div>
    <div *ngIf="!showSuccess" class="card-body">
      <h4 class="card-title">Set new password</h4>
      <h6 class="card-subtitle mb-2 text-muted">
        Please enter your email and we will send you a link to set your new password.
      </h6>
      <form name="pwdReqForm" (ngSubmit)="onSubmit(pwdReqForm)" #pwdReqForm="ngForm" data-testid="resetReqForm" novalidate>
        <div class="form-group" [ngClass]="{'was-validated': email.invalid && email.touched}">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" email="true" [(ngModel)]="model.email" #email="ngModel" autofocus required>
          <div class="invalid-feedback" *ngIf="email.invalid && email.touched">Please enter a valid email</div>
        </div>
        <button type="submit" class="btn btn-primary my-2" [disabled]="isLoading">
          Get reset link
          <span *ngIf="isLoading"><i class="fa fa-cog fa-spin"></i></span>
        </button>
        <re-captcha
          (resolved)="onRecaptchaResolved($event)"
          name="captcha"
          required
          class="captcha-root"
          #recaptchaEl
        ></re-captcha>
      </form>
    </div>
    <div class="card-footer text-muted">
      <a routerLink="/signin">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Back to Log in
      </a>
    </div>
  </div>
</st-auth-container>
