<container-root>
    <container-md>
        <div class="auth-content">
            <div class="alert" [ngClass]="{'alert-danger': hasError, 'invisible': !hasError}">
                {{hasError ? message : '&nbsp;'}}
            </div>
        </div>
        <p>
            <a routerLink="/signin"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to Log in</a>
        </p>
        <div *ngIf="showSuccess">
            <h4 class="text-success">Your password has been changed</h4>
            <p>You may log in with your new password from now on.</p>
        </div>
        <div *ngIf="!showSuccess">
            <h4>Change your password</h4>
            <p>Please provide a new password. All fields are required.</p>
        </div>
        <div *ngIf="!showSuccess" class="panel panel-default">
            <div class="panel-body">
                <form id="pwdForm" novalidate name="pwdForm" role="form"
                      (ngSubmit)="onSubmit(pwdForm)" #pwdForm="ngForm">

                    <div class="form-group" [ngClass]="{'has-error': pwd1.invalid && pwd1.touched}">
                        <label class="control-label" for="password1">
                            <span class="text-black">New password</span>
                            <span *ngIf="pwd1.invalid && pwd1.touched">
                                <span *ngIf="pwd1.errors?.required">Please enter your new password</span>
                                <span *ngIf="pwd1.errors?.minlength">Please use at least 6 characters</span>
                            </span>
                            <span [hidden]="pwd1.valid || (pwd1.invalid && pwd1.touched)" class="text-muted">
                                (at least 6 characters long)
                            </span>
                        </label>
                        <input type="password" id="password1" name="password1" autofocus
                               class="form-control"
                               [(ngModel)]="model.password"
                               (change)="resetGlobalError()"
                               required
                               validate-onblur
                               minlength="6"
                               #pwd1="ngModel"
                               #focusEl>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': pwd2.invalid && pwd2.touched}">
                        <label class="control-label" for="password2">
                            <span class="text-black">Re-enter new password</span>
                            <span *ngIf="pwd2.invalid && pwd2.touched">
                                <span *ngIf="pwd2.errors?.required">Please confirm your new password</span>
                                <span *ngIf="!pwd2.errors?.required && pwd2.errors?.equals2">Please enter the same password as above</span>
                            </span>
                        </label>
                        <input type="password" name="password2" id="password2"
                               class="form-control"
                               [(ngModel)]="model.passwordRepeat"
                               (change)="resetGlobalError()"
                               required
                               validate-onblur
                               [stEquals2]="pwd1"
                               #pwd2="ngModel">
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': captcha.invalid && (captcha.dirty || captcha.touched)}">
                        <label class="control-label">
                            <span class="text-black">Verify you are a human</span>
                            <span [hidden]="captcha.valid || (captcha.pristine && captcha.untouched)">Please confirm you are not a robot</span>
                        </label>
                        <re-captcha (resolved)="onRecaptchaResolved($event)"
                                    [(ngModel)]="model.captcha"
                                    name="captcha"
                                    #captcha="ngModel"
                                    required
                                    siteKey="6Lcmlv0SAAAAAHofnIcb29l1LMZsnGFcSlH8Reve"
                                    class="captcha-root"
                                    #recaptchaEl></re-captcha>
                    </div>
                    <div class="row-submit">
                        <button type="submit" class="btn btn-primary btn-submit"
                                [disabled]="isLoading || !pwdForm.valid">Reset</button>
                        <div class="text-muted col-md-10">
                            <span *ngIf="isLoading"><i class="fa fa-cog fa-spin"></i> Resetting password...</span>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </container-md>
</container-root>
