<container-root>
    <container-md>
        <div class="auth-content">
            <div class="alert alert-danger" [ngClass]="{'invisible': !hasError}">
                {{hasError ? message : '&nbsp;'}}
            </div>
        </div>
        <p>
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            <a routerLink="/signin">Back to Log in</a>
        </p>
        <div class="panel panel-default">
            <div *ngIf="showSuccess" class="panel-body">
                <h4 class="text-success">
                    If there is an account associated with <a href="mailto:{{model.email}}">{{model.email}}</a>
                    you will receive an email with a link to reset your password.
                </h4>
            </div>

            <div *ngIf="!showSuccess" class="panel-body">
                <h4>
                    Forgotten password
                </h4>
                <p>Please enter your email address and we will send you a link to reset your password.</p>
                <form id="pwd-req-form" novalidate name="pwdReqForm" role="form"
                      (ngSubmit)="pwdReqForm.valid && onSubmit($event)" #pwdReqForm="ngForm">

                    <div class="form-group" [ngClass]="{'has-error': emailInput.invalid && emailInput.dirty}">
                        <label class="control-label" for="email">Email address
                            <span *ngIf="emailInput.invalid && emailInput.dirty">: cannot be blank</span>
                        </label>
                        <input type="email" id="email" name="email" autofocus
                               class="form-control"
                               [(ngModel)]="model.email"
                               (change)="onFieldChange()"
                               required
                               #emailInput>
                    </div>
                    <div class="form-group">
                        <re-captcha (resolved)="onRecaptchaResolved($event)"
                                   siteKey="6Lcmlv0SAAAAAHofnIcb29l1LMZsnGFcSlH8Reve"
                                   #recaptcha></re-captcha>
                    </div>
                    <div class="form-group margin-top-large">
                        <button type="submit" class="btn btn-primary btn-submit">Get reset link</button>
                    </div>
                </form>

            </div>
        </div>
    </container-md>
</container-root>
