<container-root>
    <container-md>
        <div class="auth-content">
            <div class="alert" [ngClass]="{'alert-danger': hasError, 'invisible': !hasError}">
                {{hasError ? message : '&nbsp;'}}
            </div>
        </div>
        <p>
            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            <a routerLink="/signin">Back to Log in</a>
        </p>
        <div class="panel panel-default">
            <div *ngIf="showSuccess" class="panel-body text-center">
                <h4 class="text-success">
                    Your password has been changed.
                </h4>
            </div>
            <div *ngIf="!showSuccess" class="panel-body">
                <form id="pwdForm" novalidate name="pwdForm" role="form"
                      (ngSubmit)="pwdForm.valid && onSubmit($event)" #pwdForm="ngForm">

                    <div class="form-group" [ngClass]="{'has-error': pwd1.invalid && pwd1.dirty}">
                        <label class="control-label" for="password1">New password
                            <span *ngIf="pwd1.errors && pwd1.dirty">
                                <span *ngIf="pwd1.errors.required">: cannot be blank</span>
                                <span *ngIf="pwd1.errors.minlength">: must be 6 symbols at least</span>
                            </span>
                        </label>
                        <input type="password" id="password1" name="password1" autofocus
                               class="form-control"
                               [(ngModel)]="model.password"
                               required
                               minlength="6"
                               #pwd1="ngModel"
                               #focusEl>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': pwd2.invalid && pwd2.dirty}">
                        <label class="control-label" for="password2">Retype password
                            <span *ngIf="pwd2.errors && pwd2.dirty">
                                <span *ngIf="pwd2.errors.required">: cannot be blank</span>
                                <span *ngIf="!pwd2.errors.required && pwd2.errors.equals2">: does not match</span>
                            </span>
                        </label>
                        <input type="password" name="password2" id="password2"
                               class="form-control"
                               [(ngModel)]="model.passwordRepeat"
                               required
                               [equals2]="pwd1"
                               #pwd2="ngModel">
                    </div>
                    <div class="form-group">
                        <re-captcha (resolved)="onRecaptchaResolved($event)"
                                    siteKey="6Lcmlv0SAAAAAHofnIcb29l1LMZsnGFcSlH8Reve"
                                    #recaptcha></re-captcha>
                    </div>
                    <div class="form-group margin-top-large">
                        <button type="submit" class="btn btn-primary btn-submit"
                                [disabled]="pwdForm.invalid">Get reset link</button>
                    </div>
                </form>
            </div>

        </div>
    </container-md>
</container-root>