<div class="btn-group">
  <label class="btn btn-primary" [(ngModel)]="selection" btnRadio="after" tabindex="0" role="button"
    (ngModelChange)="onSelectionChange($event)">After</label>
  <label class="btn btn-primary" [(ngModel)]="selection" btnRadio="before" tabindex="0" role="button"
    (ngModelChange)="onSelectionChange($event)">Before</label>
  <label class="btn btn-primary" [(ngModel)]="selection" btnRadio="between" tabindex="0" role="button"
    (ngModelChange)="onSelectionChange($event)">Between</label>
</div>
<div class="mt-1" *ngIf="after || between">
  <st-date-input id="date-from" [allowPast]="true" [(ngModel)]="date.from"></st-date-input>
</div>
<div class="mt-1" *ngIf="between">
  and
</div>
<div class="mt-1" *ngIf="before || between">
  <st-date-input id="date-to" [allowPast]="true" [(ngModel)]="date.to"></st-date-input>
</div>
<div class="mt-3">
  <button class="btn btn-sm btn-primary" type="submit" [disabled]="isInvalidRange" (click)="onApplyClick()">
    Filter
  </button>
  <button class="btn btn-sm btn-link" type="button" (click)="onClearClick()">
    Clear
  </button>
</div>
