<button type="button" class="btn btn-primary btn-sm" (click)="openModal(template)">FTP/Aspera</button>

<ng-template #template>
    <div class="modal-header bg-primary">
        FTP/Aspera Upload
    </div>
    <div class="modal-body">
        <markdown ngPreserveWhitespaces>
            Your secret directory is: `{{secretId}}`

            ## FTP
            The FTP server is `ftp-private.ebi.ac.uk`, FTP user is `bsftp`, and the password is `bsftp1`.
            You can use any FTP client such as *FileZilla*, or issue FTP commands via a common line, e.g.,

            ```
            ftp ftp-private.ebi.ac.uk
            Name: bsftp
            Password: bsftp1
            ftp> cd xx/xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxx
            ftp> put testFile
            ```

            ## Aspera
            The **Aspera** `ascp` command line client is distributed as part of the **Aspera Connect**
            high-performance transfer browser plug-in which can be downloaded from
            <a target="_blank" href="https://asperasoft.com/software/clients/connect">https://asperasoft.com/software/clients/connect</a>

            Your command for uploading a directory can be:
            ```
            ascp -P33001 -i &lt;path to asperaweb_id_dsa.openssh file&gt; -d &lt;directory to upload&gt;
            bsaspera_w@hx-fasp-1.ebi.ac.uk:.dropbox/&lt;secret directory&gt;
            ```
            where
            - `-P33001` and `bsaspera_w@hx-fasp-1.ebi.ac.uk` defines port, user and server for **Aspera** connection
            - `&lt;directory to upload&gt;` is the path of the directory to be uploaded
            - `&lt;secret directory&gt;` looks like `xx/xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxx`. Available at the top of this
            window.
        </markdown>
        <markdown *ngIf="osName === 'macos'">
            - `&lt;path to asperaweb_id_dsa.openssh file&gt;` is the public key for **Aspera** connection. It's available in `~/Applications/Aspera\ Connect.app/Contents/Resources`.

            ---
            The **Aspera Connect** installer doesn't make the command line client (`ascp`) available in the terminal by default.

            To use it go to `~/Applications/Aspera\ Connect.app/Contents/Resources` and execute it from there, like so:

            ```
            $ cd ~/Applications/Aspera\ Connect.app/Contents/Resources
            $ ./ascp -P33001 -i &lt;path to asperaweb_id_dsa.openssh file&gt; -d &lt;directory to upload&gt;
            bsaspera_w@hx-fasp-1.ebi.ac.uk:.dropbox/&lt;secret directory&gt;
            ```
        </markdown>
        <markdown *ngIf="osName === 'windows'">
            - `&lt;path to asperaweb_id_dsa.openssh file&gt;` is the public key for **Aspera** connection. It's available in
            `%APPDATA%\..\Local\Lxss\Programs\Aspera\Aspera Connect\etc\asperaweb_id_dsa.openssh`.

            ---
            The **Aspera Connect** installer doesn't make the command line client (`ascp`) available in the terminal by default.

            To use it go to `%APPDATA%\..\Local\Lxss\Programs\Aspera\Aspera Connect\etc` and execute it from there, like so:

            ```
            $ cd %APPDATA%\..\Local\Lxss\Programs\Aspera\Aspera Connect\etc
            $ ascp.exe -P33001 -i &lt;path to asperaweb_id_dsa.openssh file&gt; -d &lt;directory to upload&gt;
            bsaspera_w@hx-fasp-1.ebi.ac.uk:.dropbox/&lt;secret directory&gt;
            ```
        </markdown>
        <markdown *ngIf="osName === 'linux' || osName === 'unknown'">
            - `&lt;path to asperaweb_id_dsa.openssh file&gt;` is the public key for **Aspera** connection. It's available in `&lt;aspera connect installation directory&gt;/etc/asperaweb_id_dsa.openssh`.
        </markdown>
    </div>
    <div class="modal-footer">
        <form class="pull-right">
            <button type="button" class="btn btn-primary btn-xs" (click)="modalRef.hide()" autofocus>Ok</button>
        </form>
    </div>
</ng-template>
