<button type="button"
        class="btn btn-primary btn-sm"
        (click)="openModal(template)">FTP/Aspera</button>

<ng-template #template>
    <div class="modal-header bg-primary">
        FTP Upload
    </div>
    <div class="modal-body" >
                <p>
                    Your secret directory is: <code>{{secretId}}</code></p>
                <p>
                    The FTP server is <code>ftp-private.ebi.ac.uk</code>, FTP user is <code>bsftp</code>,
                    and
                    the password is <code>bsftp1</code>. You can use any FTP client such
                    as FileZilla, or issue FTP commands via a command line, e.g.,</p>
                <pre>
                                ftp ftp-private.ebi.ac.uk
                                Name: bsftp
                                Password: bsftp1
                                ftp&gt; cd xx/xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxx
                                ftp&gt; put testFile
                            </pre>

                <p>The Aspera <span class="mono">ascp</span> command line client is distributed as part of the ‘Aspera
                    Connect’ high-performance transfer browser plug-in which can be downloaded from <a
                        target="_blank"
                        href="http://www.asperasoft.com/downloads/connect">http://www.asperasoft.com/downloads/connect</a>.
                    Your command for uploading a directory can be:</p>
                <pre>
    ascp -P33001 -i &lt;path to asperaweb_id_dsa.openssh file&gt; -d &lt;local directory to upload&gt; bsaspera_w@hx-fasp-1.ebi.ac.uk:.dropbox/&lt;secret directory&gt;</pre>
                where
                <ul>
                    <li><span class="mono">-P33001</span> and <span class="mono">bsaspera@fasp-beta.ebi.ac.uk</span>
                        defines port, user and server for Aspera connection
                    </li>
                    <li><span class="mono">-d</span> tells the server to create the directory if it does not
                        exist
                    </li>
                    <li><span class="mono">asperaweb_id_dsa.openssh</span> is the public key for Aspera
                        connection. <span class="mono">&lt;path to asperaweb_id_dsa.openssh file&gt;</span>
                        might be:
                        <ol>
                            <li> on Linux: <span class="mono">&lt;aspera connect installation directory&gt;/etc/asperaweb_id_dsa.openssh</span>
                            </li>
                            <li> on Mac OSX: <span class="mono">&lt;aspera connect installation directory&gt;/asperaweb_id_dsa.openssh</span>
                            </li>
                            <li> on Windows: <span class="mono">"%userprofile%\AppData\Local\Programs\Aspera\Aspera
                Connect\etc\asperaweb_id_dsa.openssh"</span>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <span class="mono">&lt;secret directory&gt;</span> looks like <span class="mono">xx/xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx-xxxx</span>
                    </li>
                </ul>
    </div>
    <div class="modal-footer">
        <form class="pull-right">
            <button type="button" class="btn btn-primary btn-xs" (click)="modalRef.hide()" autofocus>Ok</button>
        </form>
    </div>
</ng-template>
