<ng-include src="'templates/partials/header.html'"></ng-include>


<div class="wrapper row-offcanvas row-offcanvas-left">

    <!--<aside class="right-side" ng-class="{strech: toggleSidebar}">-->
    <aside class="right-side strech">

        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-book"></i>
                            <h3 class="box-title">BioStudies Submission Tool Help</h3>
                        </div><!-- /.box-header -->
                        <div class="help box-body">
                            <dl class="dl-horizontal">
                                <dt>Starting a new submission</dt>
                                <dd>Click on <img src="images/help/btn_create_submission.png" /> to create a new BioStudy
                                    Previous submissions can be deleted and edited (such as changing release date) using
                                    <img src="images/help/btn_edit_submission.png" /></dd>
                                <dd><img src="images/help/screen_submission_list.png"/></dd>
                                <dt>Creating a Biostudy</dt>
                                <dd><img src="images/help/screen_creating_biostudy.png" /></dd>
                                <dd>All information for creating a BioStudy uses the toolbar on left side of screen.</dd>
                                <dd>All submissions require a title and a release date for the study.</dd>
                                <dd>The BioStudy will remain private and will only be accessed using login credentials until the release date.</dd>
                                <dt>Study description</dt>
                                <dd><img src="images/help/screen_study_description.png" /></dd>
                                <dd>Add more information using <img src="images/help/btn_add.png" /> such as “description, key words, organism, experimental variables and experiment type”</dd>
                                <dt>Adding contacts</dt>
                                <dd><img src="images/help/screen_adding_contacts.png" /></dd>
                                <dd>Describe people involved in the study. More information such as “address, department and role” can be added using <img src="images/help/btn_create_description.png" /></dd>
                                <dd>More contacts can be added using <img src="images/help/btn_create.png" /></dd>
                                <dd>The summary of contacts is displayed using “All links”</dd>
                                <dt>Adding links</dt>
                                <dd><img src="images/help/screen_adding_links.png" /></dd>
                                <dd>Links are an excellent resource to link data held in other databases to enable a complete overview of a study</dd>
                                <dd>Similar to adding contacts more information such as “experiment type and description can be added using <img src="images/help/btn_create_description.png" /></dd>
                                <dd>More links can be added using <img src="images/help/btn_create.png" /></dd>
                                <dd>The summary of contacts is displayed using “All links”</dd>
                                <dt>Publications</dt>
                                <dd><img src="images/help/screen_publications.png" /></dd>
                                <dd>Adding Pub Med Id will enable autofill of publication details. Publications can be manually added using <img src="images/help/btn_create_description.png" /></dd>
                                <dt>Adding data</dt>
                                <dd><img src="images/help/screen_adding_data.png" /></dd>
                                <dd>Click paths to select the location of your file, description describes the file added
                                    More files can be added using <img src="images/help/btn_create.png" /></dd>
                                <dt>Saving and Submiting a BioStudy</dt>
                                <dd>Using the toolbar on the left side of the screen. Studies can be saved when partly completed.</dd>
                                <dd>Submit to receive an accession and to load submission into BioStudies</dd>
                            </dl>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- ./col -->
            </div><!--./row-->

        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div><!-- ./wrapper -->

