<ng-include src="'templates/partials/header.html'"></ng-include>


<div class="wrapper row-offcanvas row-offcanvas-left">

    <!--<aside class="right-side" ng-class="{strech: toggleSidebar}">-->
    <aside class="right-side strech">

        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header">
                            <i class="fa fa-book"></i>
                            <h3 class="box-title">BioStudies Submission Tool Help</h3>
                        </div><!-- /.box-header -->
                        <div class="help box-body">
                            <dl class="dl-horizontal">
                                <dt>Starting a new submission</dt>
                                <dd>Click on <img src="images/help/btn_create_submission.png" /> to create a new BioStudy.
                                    Previous submissions can be deleted and edited (such as changing release date) using
                                    <img src="images/help/btn_edit_submission.png" /></dd>
                                <dd><img src="images/help/screen_submission_list.png"/></dd>
                                <dt>Creating a Biostudy</dt>
                                <dd><img src="images/help/screen_creating_biostudy.png" /></dd>
                                <dd>Use the toolbar on left side of screen for completing information about the BioStudy.</dd>
                                <dd>All submissions require a title, a release date for the study, and a description.</dd>
                                <dd>The BioStudy will remain private and will only be accessed using login credentials until the release date.</dd>
                                <dt>Study description</dt>
                                <dd><img src="images/help/screen_study_description.png" /></dd>
                                <dd>Add more information using <img src="images/help/btn_add.png" /> such as keywords, organism, experimental variables and experiment type.</dd>
                                <dt>Adding contacts</dt>
                                <dd><img src="images/help/screen_adding_contacts.png" /></dd>
                                <dd>Describe people involved in the study. More information such as address, department and role can be added using <img src="images/help/btn_create_description.png" /></dd>
                                <dd>More contacts can be added using <img src="images/help/btn_create.png" /></dd>
                                <dd>The summary of contacts is displayed using "All contacts"</dd>
                                <dt>Adding links</dt>
                                <dd><img src="images/help/screen_adding_links.png" /></dd>
                                <dd>The Links mechanism is for pointing to data held in other databases, or to associated information on the web, to enable a complete overview of a study.</dd>
                                <dd>Similar to contacts, more information on a link, such as description, can be added using <img src="images/help/btn_create_description.png" /></dd>
                                <dd>More links can be added using <img src="images/help/btn_create.png" /></dd>
                                <dd>The summary of all links is displayed using "All links"</dd>
                                <dt>Publications</dt>
                                <dd><img src="images/help/screen_publications.png" /></dd>
                                <dd>Adding PubMed Identifier will enable autofill of publication details. Publication details can be manually added using <img src="images/help/btn_create_description.png" /></dd>
                                <dt>Uploading files</dt>
								<dd>All files must be uploaded first, before being used in a BioStudy. The files for each user are stored in a central repository and are available for all submissions.</dd>
                                <dd><img src="images/help/screen_files.png" /></dd>
								<dd>To load files select <img src="images/help/btn_files.png" /> from the toolbar. This displays all the files that have been uploaded by the user.</dd>
								<dd>Files can be directly uploaded using <img src="images/help/btn_upload.png" /></dd>
								<dd>Multiple files can be selected using shift key.</dd>
								<dd>Progress indicates if the file has been successfully uploaded.</dd>
                                <dt>Associating a File with a BioStudy</dt>
								<dd>Files can be associated with a BioStudy submission using <img src="images/help/btn_add_file.png" />.</dd>
								<dd><img src="images/help/screen_add_file.png" /></dd>								
                                <dd>Path selects the relevant file for the submission.</dd>
								<dd>Description allows to describe what the file contains.</dd>
								<dd>Further information such as the type of file can be supplied using <img src="images/help/btn_create_description.png" />.</dd>
                                <dd>More files can be added using <img src="images/help/btn_create.png" />.</dd>
                                <dt>Saving and Submitting a BioStudy</dt>
                                <dd>Studies are automatically saved, so you can leave an incomplete submission and return to it later.</dd>
                                <dd>Press "Submit" to receive an accession number and load the submission into BioStudies.</dd>
                            </dl>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- ./col -->
            </div><!--./row-->

        </section>
        <!-- /.content -->
    </aside>
    <!-- /.right-side -->
</div><!-- ./wrapper -->

