<form novalidate autocomplete="off" (ngSubmit)="hide(); ok()">
  <div class="modal-header">
    <h3 class="modal-title">New submission</h3>
    <button type="button" class="close" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      To create a new submission, please select from the list of BioStudies collections available to you - e.g., to
      submit an imaging dataset, choose "BioImages".<br />
    </p>
    <fieldset>
      <ng-container *ngFor="let tmpl of templates; index as i" >
        <div class="form-check">
          <input id="template_{{i}}" type="radio" class="form-check-input" name="template" [value]="tmpl.name"
                 [checked]="tmpl.collection === 'Default'"  (change)="changeTemplate(tmpl)">
          <label class="form-check-label" for="template_{{i}}" [tooltip]="tmpl.description"
            placement="right">{{tmpl.collection}}</label>
        </div>
      </ng-container>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-sm">Add</button>
    <button type="button" class="btn btn-default btn-sm" (click)="hide()">Cancel</button>
  </div>
</form>
