<ul class="treeview" *ngIf="loaded; else loadingBlock">
    <li *ngFor="let node of nodes">
        <a (click)="onNodeClick(node)">
            <span>{{node.icon}}</span>{{node.name}}
        </a>
        <div *ngIf="node.expanded">
            <file-tree [root]="node" (select)="onChildTreeClick($event)"></file-tree>
        </div>
    </li>
</ul>
<ng-template #loadingBlock>
    <div class="treeview loading">
        <i class="fa fa-refresh fa-spin" style="font-size:10px"></i> Loading...
    </div>
</ng-template>