<div style="display:flex;align-items:center;height:100%;width:100%;padding:0 10px">
    <div>
        <h5>{{accno}}</h5>
    </div>
    <div style="margin-left:10px;">
        <span *ngFor="let sec of sectionPath">
            <i *ngIf="!lst" class="fa fa-angle-double-right"></i>
            &nbsp;<a (click)="onSectionClick(sec)">{{sec.type}}</a>
        </span>
    </div>
    <div style="margin-left: auto;">
        <span class="label label-danger">7 Errors</span>
    </div>
</div>
<!--span calss="danger" *ngIf="!readonly && !submValid"> << There are some validation errors. Please correct them before to proceed to submit >> </span-->
<!--div *ngIf="readonly" class="pull-right">
    <a class="pull-right btn btn-success btn-xs"
       (click)="onEditSubmission()">Edit</a>
</div-->
