<nav>
    <div class="col-xs-8 col-md-9 breadcrumbs nav-block">
        <a *ngIf="isTemp" routerLink="/submissions">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Pending
        </a>
        <a *ngIf="!isTemp" routerLink="/submissions/sent">
            <i class="fa fa-database" aria-hidden="true"></i> Sent
        </a>
        <span *ngFor="let secForm of sectionPath; let idx = index; let last = last;">
            &nbsp;<i class="fa fa-angle-right font-bold"></i>&nbsp;
            <a href="javascript:void(0)"
               [ngClass]="{'current-section': last}"
               (click)="onSectionClick(secForm)">
                <span>
                    <span *ngIf="idx == 0">{{accno}}{{isDiscardable? ' (revised)' : ''}}</span>
                    <span *ngIf="idx > 0">{{secForm.accno ? secForm.accno : secForm.typeName}}</span>
                </span>
            </a>
        </span>
    </div><!--
    --><div class="col-xs-4 col-md-3 btn-toolbar nav-block">
        <button *ngIf="!readonly" class="button-link btn btn-primary btn-sm btn-submit pull-right"
                tooltip="Send to the BioStudies database"
                placement="bottom"
                container="body"
                (click)="onSubmit($event)">
            {{isTemp ? 'S' : 'Re-s'}}ubmit
        </button>
        <button  *ngIf="!readonly && !isTemp && isRevised" class="button-link btn btn-primary btn-sm btn-danger pull-right"
                 tooltip="Revert to last released version"
                 placement="bottom"
                 container="body"
                (click)="onRevert($event)">
            <i class="fa fa-undo" aria-hidden="true"></i>
            Revert
        </button>
        <button *ngIf="readonly" class="btn btn-default btn-sm pull-right"
                (click)="onEdit($event)"
                tooltip="Edit this submission"
                placement="bottom"
                container="body"
                [disabled]="isBusy">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit
        </button>
        <button *ngIf="readonly" class="btn btn-primary btn-sm pull-right"
                (click)="onNewSubmClick($event)"
                tooltip="Create a new submission"
                placement="bottom"
                container="body"
                [disabled]="isBusy">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add new
        </button>
    </div>
</nav>
<subm-add-dialog #addDialog
                 [projectNames]="allowedPrj"
                 [onSubmit]="createSubmission.bind(this)">
</subm-add-dialog>