<div class="d-none d-md-block px-0 sidebar-expanded" [ngClass]="{'sidebar-collapsed' : collapsed}">
  <button class="btn btn-sm mt-2 float-right"
      [ngClass]="{'inactive': !collapsed}"
      (click)="onToggleCollapse($event)"
      tooltip="{{collapsed ? 'Expand sidebar' : 'Collapse sidebar'}}"
      container="body"
      placement="auto">
    <i class="fa fa-fw fa-lg" [ngClass]="{'fa-angle-double-left': !collapsed, 'fa-angle-double-right': collapsed}"></i>
  </button>
  <div class="sidebar-container">
    <ng-content></ng-content>
  </div>
</div>
