<div class="d-md-block sidebar overflow-auto sidebar-expanded border-right" [ngClass]="{
    'sidebar-collapsed' : collapsed
  }">
  <div class="sidebar-container">
    <ng-content></ng-content>
  </div>
  <div class="sidebar-closer">
    <button class="btn btn-sm btn-light text-right rounded-0 w-100 mt-2" [ngClass]="{'inactive': !collapsed}" (click)="onToggleCollapse($event)"
      tooltip="{{collapsed ? 'Expand sidebar' : 'Collapse sidebar'}}" container="body" placement="left" aria-label="Collapse Sidebar" title="Collapse Sidebar">
      <i class="fa fa-fw fa-lg" [ngClass]="{'fa-angle-double-left': !collapsed, 'fa-angle-double-right': collapsed}" aria-hidden="true"></i>
    </button>
  </div>
</div>
