<nav class="navbar navbar-light border-bottom page-navbar bg-white sticky-top">
  <div class="mr-auto">
    <a *ngIf="isTemp" routerLink="/submissions/draft">
      <i class="fa fa-clock-o" aria-hidden="true"></i> Drafts
    </a>
    <a *ngIf="!isTemp" routerLink="/submissions">
      <i class="fa fa-database" aria-hidden="true"></i> Submissions
    </a>
    <span *ngFor="let secForm of sectionPath; let idx = index; let last = last;">
      &nbsp;<i class="fa fa-angle-right font-bold"></i>&nbsp;
      <a href="javascript:void(0)"
         [ngClass]="{'current-section': last}"
         (click)="onSectionClick(secForm)">
        <span>
          <span *ngIf="idx == 0">{{accno}}{{isDiscardable? ' (revised)' : ''}}</span>
          <span *ngIf="idx > 0">{{secForm.accno ? secForm.accno : secForm.typeName}}</span>
        </span>
      </a>
    </span>
    <span class="text-muted ml-2" *ngIf="isSaving">
      <i class="fa fa-cog fa-spin"></i>
      Backing up study data...
    </span>
  </div>
  <div class="btn-toolbar">
    <button *ngIf="!readonly"
        [disabled]="isSaving"
        class="btn btn-primary btn-sm"
        tooltip="Send to the BioStudies database"
        placement="bottom"
        container="body"
        (click)="onSubmit($event)">
      {{isTemp ? 'S' : 'Re-s'}}ubmit
    </button>
    <button *ngIf="!readonly && !isTemp && isRevised"
        [disabled]="!isEditing"
        class="btn btn-primary btn-sm btn-danger ml-2"
        tooltip="Revert to last released version"
        placement="bottom"
        container="body"
        (click)="onRevert($event)">
      <i class="fa fa-undo" aria-hidden="true"></i>
      Revert
    </button>
    <button *ngIf="readonly" class="btn btn-secondary btn-sm ml-2"
        (click)="onEdit($event)"
        tooltip="Edit this submission"
        placement="bottom"
        container="body">
      <i class="fas fa-pencil-alt" aria-hidden="true"></i>
      Edit
    </button>
    <button *ngIf="readonly" class="btn btn-primary btn-sm ml-2"
        tooltip="Create a new submission"
        placement="bottom"
        container="body"
        stNewSubmissionButton>
      Add new
    </button>
  </div>
</nav>
