<div class="row-offcanvas row-offcanvas-left">

    <user-dirs-sidebar
            name="userDirsSidebar"
            [(ngModel)]="rootPath"
            (select)="onRootPathSelect($event)"
            (toggle)="sideBarCollapsed=!sideBarCollapsed"
            [collapsed]="sideBarCollapsed">
    </user-dirs-sidebar>

    <div class="navbar-default navbar-subm-fixed"
         [ngClass]="{'collapse-left': !readonly && sideBarCollapsed}">
        <div class="col-xs-10">
            Path: <directory-path [path]="path.rel" (change)="onRelativePathChange($event)"></directory-path>
        </div><!--
        --><div class="col-xs-2 clearfix">
            <file-upload-badge class="upload-count"
                               (select)="onUploadSelect($event)"></file-upload-badge>
            <file-upload-button class="pull-right"
                                title="Upload files..."
                                [multiple]="true"
                                (select)="onUploadFilesSelect($event)"></file-upload-button>
        </div>
    </div>
    <div class="container-fluid navbar-subm-margin">
        <aside class="right-side" [ngClass]="{'collapse-left' : sideBarCollapsed}">
            <section class="content">
                <button class="btn btn-default btn-link"
                        (click)="onBackButtonClick()"
                        *ngIf="backButton">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                    Back to submission
                </button>
                <div class="panel">
                    <div class="row">
                        <div class="col-xs-12">
                            <ag-grid-angular #agGrid style="width: 100%; height: 450px;" class="ag-fresh"
                                             [gridOptions]="gridOptions"
                                             [columnDefs]="columnDefs"
                                             enableSorting
                                             enableColResize
                                             rowHeight="30"
                                             (rowDoubleClicked)="onRowDoubleClick($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>
</div>
