:root {
  --header-height:              64px;
  --page-navbar-height:         50px;
  --sidebar-collapsed-width:    65px;
  --sidebar-expanded-width:     260px;
  --border-radius-small:        3px;

  // Colors
  --blue: #3c739f;
  --core-blue: #6d9fc1;
}
