:root {
  --header-height: 64px;
  --page-navbar-height: 50px;
  --sidebar-collapsed-width: 65px;
  --sidebar-expanded-width: 260px;
  --border-radius-small: 3px;
  --toast-width: 800px;

  // Colors
  --blue: #3c739f;
  --core-blue: #6d9fc1;
  --yellow-100: #fff3cd;
  --teal-200: #a6e9d5;
}
