.container-scroll {
    overflow-x: auto;
    margin-bottom: 10px;
    white-space: nowrap;
}
.cell:not(.canton) {
    float: none;
    display: inline-block;
    padding: 0 0.5vw;
}

/* Heading row */
.cell.row-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: left;
}
.canton, .column-heading {
    border-bottom: 1px solid #CCC;
}
.column-heading.has-error {
    border-bottom-color: #C05F5D;
}
.canton .btn-add {
    overflow: hidden;
    width: 100%;
    padding: 0;
    vertical-align: baseline;
    text-overflow: ellipsis;
    border: none;
}

/* Other rows */
.row {
    margin-top: 16px;
}
.row:last-of-type {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .container-scroll .col-md-2 {
        width: 16.66666667vw;
    }
    .container-scroll .col-md-1 {
        width: 8.33333334vw;
    }
}
@media (max-width: 768px) {
    .container-scroll .col-xs-3 {
        width: 25vw;
    }
    .container-scroll .col-xs-1 {
        width: 8.33333334vw;
    }
}
