<div class="container-fluid" [formGroup]="featureForm.form">
    <div class="headings row text-muted">
        <div class="cell heading col-xs-3">Key</div>
        <div class="cell heading col-xs-9">Value</div>
    </div>
    <div class="row" #rowEl *ngFor="let column of columns; let idx = index; let first = first; let last = last">
        <div class="cell col-xs-3">
            <!-- NOTE: required columns cannot be edited => will never be the one causing name collision -->
            <div class="form-group key-field"
                 [ngClass]="{'has-error': !column.required &&
                                          featureForm.columnControl(column.id).invalid &&
                                          featureForm.columnControl(column.id).touched}">
                <div class="input-group">
                    <span *ngIf="!readonly && !column.required && !column.displayed"
                          class="input-group-btn">
                          <button type="button" tabindex="-1"
                                  class="btn btn-sm btn-danger btn-flat"
                                  (click)="feature.removeRowAt(idx)"
                                  [disabled]="!feature.canRemoveRowAt(idx)"
                                  [tooltip]="'Delete &quot;' + column.name + '&quot; entry'"
                                  placement="bottom"
                                  container="body">
                               <i class="fa fa-trash-o"></i>
                          </button>
                    </span>
                    <input type="text" class="form-control input-sm"
                           placement="{{first && !last ? 'bottom' : 'top'}}"
                           triggers="focus"
                           containerClass="validation-pop text-danger"
                           popover="Please use a unique key name"
                           [ngModel]="column.name"
                           [formControl]="featureForm.columnControl(column.id)"
                           [readonly]="readonly || column.required || column.displayed"
                           [typeahead]="colNames"
                           [typeaheadMinLength]="0"
                           [typeaheadOptionsLimit]="15"
                           #ahead="bs-typeahead"
                           [unique]="feature.uniqueCols"
                           validate-onblur
                           (keyup.enter)="ahead._container ? $event.stopPropagation() : return"
                           (change)="column.name = $event.target.value"
                           (blur)="featureForm.columnControl(column.id).value ||
                                   featureForm.columnControl(column.id).setValue(feature.typeName + ' ' + (idx + 1))">
                </div>
            </div>
        </div>
        <div class="cell col-xs-9">
            <div class="form-group"
                 [ngClass]="{'has-error': featureForm.rowValueControl(0,column.id).invalid &&
                                          featureForm.rowValueControl(0,column.id).touched}">
                <subm-field placement="{{first && !last ? 'bottom' : 'top'}}"
                            triggers="focus"
                            containerClass="validation-pop text-danger"
                            popover="{{featureForm.rowErrors[0][column.id]}}"
                            [type]="column.valueType"
                            [(ngModel)]="feature.rows[0].valueFor(column.id).value"
                            [readonly]="readonly"
                            [required]="column.required"
                            isSmall="true"
                            [formControl]="featureForm.rowValueControl(0,column.id)"
                            [autosuggest]="column.values"
                            [suggestLength]="15"
                            validate-onblur>
                </subm-field>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-1 col-md-1">
        <button *ngIf="!readonly"
                type="button"
                class="btn-add btn btn-link"
                [tooltip]="'Add a new ' + feature.typeName.toLowerCase()"
                container="body"
                (click)="feature.addColumn()">
            <i class="fa fa-lg fa-plus-circle"></i>
            Add {{feature.typeName.toLowerCase()}} row
        </button>
    </div>
</div>