.headings {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.heading {
    padding-left: 0;
}
.key-field {
    margin-right:15px;
}
.add-btn:hover, .add-btn:active, .add-btn:focus {
    text-decoration: none;
    outline: 0;
}