<div class="container-fluid container-scroll" [formGroup]="featureForm.form">
    <div class="row headings" [style.width]="rowWidth">
        <div class="col-xs-1 col-md-1 text-center">
            <button class="add-column-btn btn btn-link btn-md"
               *ngIf="!readonly"
               [tooltip]="'Add a new ' + feature.typeName.toLowerCase() + ' attribute'"
               container="body"
               (click)="feature.addColumn()">
                <i class="fa fa-plus" aria-hidden="true"></i> Column
            </button>
        </div>
        <div class="col-xs-3 col-md-2" *ngFor="let column of columns">
            <inline-edit
                    [(ngModel)]="column.name"
                    emptyValue="New Column"
                    [required]="featureForm.columnType(column.id).required"
                    (remove)="feature.removeColumn(column.id)"
                    [formControl]="featureForm.columnControl(column.id)"></inline-edit>
        </div>
    </div>
    <div class="row" [style.width]="rowWidth" *ngFor="let row of rows; let idx=index">
        <div class="col-xs-1 col-md-1 text-center">
            <span class="row-number">{{idx+1}}</span>
            <button *ngIf="!readonly"
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="feature.removeRowAt(idx)"
                    [tooltip]="'Delete ' + feature.typeName.toLowerCase() + ' ' + (idx + 1)"
                    container="body">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <div class="col-xs-3 col-md-2" *ngFor="let column of columns">
            <div [ngClass]="{'has-error' : false}">
                <subm-field
                        [type]="column.valueType"
                        [(ngModel)]="row.valueFor(column.id).value"
                        [readonly]="readonly"
                        isSmall="true"
                        [formControl]="featureForm.rowValueControl(idx, column.id)">
                </subm-field>
            </div>
        </div>
    </div>
</div>
<div class="row" [style.width]="rowWidth">
    <div class="col-xs-1 col-md-1">
        <button *ngIf="!readonly"
                type="button"
                class="btn btn-sm btn-primary"
                [tooltip]="'Add a new ' + feature.typeName.toLowerCase()"
                container="body"
                (click)="feature.addRow()">
            <i class="fa fa-plus" aria-hidden="true"></i> Row
        </button>
    </div>
</div>