<div class="container-fluid container-scroll" [formGroup]="featureForm.form">
    <div class="row">
        <div class="cell canton col-xs-1 col-md-1 text-center">
            <button class="btn-add btn btn-link btn-md" type="button" tabindex="-1"
                    [ngClass]="{'invisible': readonly || !userData.isPrivileged}"
                    [tooltip]="'Add a new ' + feature.typeName.toLowerCase() + ' attribute'"
                    container="body"
                    (click)="feature.addColumn()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Column
            </button>

        </div><!--
        --><div *ngFor="let column of columns; let idx = index" class="cell heading-cell column-heading col-xs-3 col-md-2"
                [ngClass]="{'optional': column.removable && !isColUIReq(column),
                            'has-error': !column.required &&
                                         featureForm.columnControl(column.id).invalid &&
                                         featureForm.columnControl(column.id).touched}">
            <inline-edit placement="bottom"
                         triggers="focus"
                         containerClass="validation-pop text-danger"
                         popover="Please use a unique column name"
                         [(ngModel)]="column.name"
                         emptyValue="{{'Column ' + (idx + 1)}}"
                         (remove)="feature.removeColumn(column.id)"
                         [formControl]="featureForm.columnControl(column.id)"
                         [required]="column.required"
                         [disableEdit]="readonly || column.readonly || !userData.isPrivileged"
                         [disableChange]="column.required || column.displayed"
                         [disableRemove]="!column.removable"
                         [autosuggest]="colNames"
                         [suggestLength]="15"
                         [unique]="feature.uniqueCols"
                         validate-onblur>
            </inline-edit>
        </div>
    </div>
    <div *ngFor="let row of rows; let rowIdx = index; let first = first; let last = last">
        <div *ngIf="!readonly || !row.isEmpty" class="row" #rowEl>
            <div class="cell heading-cell row-heading col-xs-1 col-md-1 text-center">
                <span container="body"
                      [tooltip]="feature.canRemoveRowAt(index) ? '' : 'The table must contain one row at least'">
                    <button class="btn btn-danger btn-sm" type="button"
                            [ngClass]="{'invisible': readonly}"
                            [disabled]="!feature.canRemoveRowAt(index)"
                            (click)="feature.removeRowAt(rowIdx)"
                            [tooltip]="feature.canRemoveRowAt(index) ? 'Delete ' + feature.typeName.toLowerCase() + ' ' + (rowIdx + 1) : ''"
                            placement="bottom"
                            container="body">
                        <i class="fa fa-trash"></i>
                    </button>
                </span>
                {{rowIdx+1}}
            </div>
            <div class="cell body-cell column-entry col-xs-3 col-md-2" #colEl *ngFor="let column of columns">
                <div [ngClass]="{'readonly': column.readonly,
                                 'optional': !isColUIReq(column),
                                 'has-warning': !featureForm.feature.type.required &&
                                                featureForm.rowValueControl(rowIdx, column.id).invalid &&
                                                featureForm.rowValueControl(rowIdx, column.id).touched,
                                 'has-error': featureForm.feature.type.required &&
                                              featureForm.rowValueControl(rowIdx, column.id).invalid &&
                                              featureForm.rowValueControl(rowIdx, column.id).touched}">
                    <subm-field placement="{{first && !last && !column.values.length ? 'bottom' : 'top'}}"
                                triggers="focus"
                                containerClass="validation-pop text-danger"
                                popover="{{featureForm.rowErrors[rowIdx][column.id]}}"
                                [type]="column.valueType"
                                [(ngModel)]="row.valueFor(column.id).value"
                                [readonly]="readonly || column.readonly"
                                [required]="column.required"
                                [formControl]="featureForm.rowValueControl(rowIdx, column.id)"
                                [allowPast]="column.allowPast"
                                [autosuggest]="column.values"
                                [suggestLength]="15"
                                (async)="addOnAsync($event, rowIdx)"
                                validate-onblur>
                    </subm-field>
                </div>
            </div>
        </div>
    </div>
</div>
<button *ngIf="!readonly" type="button" class="btn-add btn btn-link" tabindex="-1"
        [tooltip]="'Add a new ' + feature.typeName.toLowerCase()"
        container="body"
        (click)="feature.addRow()">
    <i class="fa fa-lg fa-plus-circle"></i>
    Add {{feature.typeName.toLowerCase()}} row
</button>
