<div class="container-fluid container-scroll" [formGroup]="featureForm?.form">
    <div class="row">
        <div class="cell canton col-xs-1 col-md-1 text-center">
            <button class="btn-add btn btn-link btn-md" type="button" tabindex="-1"
                    [ngClass]="{'invisible': readonly || !userData.isPrivileged}"
                    [tooltip]="'Add a new ' + featureForm.featureTypeName.toLowerCase() + ' attribute'"
                    container="body"
                    (click)="featureForm.onColumnAdd()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Column
            </button>

        </div>
        <div *ngFor="let column of columns; let idx = index" class="cell heading-cell column-heading col-xs-3 col-md-2"
             [ngClass]="{'optional': !readonly && column.isRemovable,
                            'has-error': column.hasErrors}">
            <inline-edit placement="bottom"
                         container="body"
                         containerClass="text-danger"
                         popover="{{column.hasErrors ? column.errors : ''}}"
                         emptyValue="{{'Column ' + (idx + 1)}}"
                         (remove)="featureForm.onColumnRemove(column.id)"
                         [formControl]="column.control"
                         [readonly]="readonly || !column.canEditName || !userData.isPrivileged"
                         [removable]="column.isRemovable"
                         [autosuggestSource]="featureForm.columnNamesTypeaheadFunc()"
                         validate-onblur>
            </inline-edit>
        </div>
    </div>
    <div *ngFor="let row of rows; let rowIdx = index; let first = first; let last = last">
        <div *ngIf="!readonly || !row.isEmpty" class="row" #rowEl>
            <div class="cell heading-cell row-heading col-xs-1 col-md-1 text-center">
                <span container="body"
                      [tooltip]="featureForm.canRemoveRow ? '' : 'The table must contain one row at least'">
                    <button class="btn btn-danger btn-sm" type="button"
                            [ngClass]="{'invisible': readonly}"
                            [disabled]="!featureForm.canRemoveRow"
                            (click)="featureForm.onRowRemove(rowIdx)"
                            [tooltip]="featureForm.canRemoveRow ? 'Delete ' + featureForm.featureTypeName.toLowerCase() + ' ' + (rowIdx + 1) : ''"
                            placement="bottom"
                            container="body">
                        <i class="fa fa-trash"></i>
                    </button>
                </span>
                {{rowIdx+1}}
            </div>
            <div class="cell body-cell column-entry col-xs-3 col-md-2" #colEl *ngFor="let column of columns">
                <div [ngClass]="{'readonly': column.isReadonly,
                                 'optional': !column.isRequired,
                                 'has-error': row.hasErrorsAt(column.id)}">
                    <input-value placement="top"
                                 container="body"
                                 containerClass="{{featureForm.isRequired ? 'text-danger' : 'text-warning'}}"
                                 popover="{{row.hasErrorsAt(column.id) ? row.errorsAt(column.id) : ''}}"
                                 [valueType]="column.valueType"
                                 [readonly]="readonly || column.isReadonly"
                                 [formControl]="row.cellControlAt(column.id).control"
                                 [autosuggestSource]="featureForm.columnValuesTypeaheadFunc(rowIdx, column.id)">
                    </input-value>
                </div>
            </div>
        </div>
    </div>
</div>
<button *ngIf="!readonly" type="button" class="btn-add btn btn-link" tabindex="-1"
        [tooltip]="'Add a new ' + featureForm.featureName"
        container="body"
        (click)="featureForm.onRowAdd()">
    <i class="fa fa-lg fa-plus-circle"></i>
    Add {{featureForm.featureName}} row
</button>