<div class="panel"
     [ngClass]="{'panel-danger': !valid, 'panel-default': valid}"
     *ngIf="feature.size() > 0">

    <div class="panel-heading clearfix">
        <div class="btn-toolbar pull-left" role="toolbar" *ngIf="!readonly">
            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-xs btn-default" dropdownToggle>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li *ngFor="let act of actions" role="menuitem">
                        <a class="dropdown-item" (click)="act.invoke()">{{act.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <span class="panel-description col-md-11">{{feature.type.description}}</span>
        <span class="badge pull-right">{{feature.size()}}</span>
    </div>

    <div class="panel-body">
        <subm-feature-grid *ngIf="!feature.singleRow"
                           [featureForm]="featureForm"
                           [readonly]="readonly">
        </subm-feature-grid>
        <subm-feature-list *ngIf="feature.singleRow"
                           [featureForm]="featureForm"
                           [readonly]="readonly">
        </subm-feature-list>
    </div>
</div>
