<!-- TODO: This is almost equivalent to feature-value.component.html. Merge the two? -->
<input *ngIf="type === 'text'"
       type="text" class="form-control"
       placeholder="Enter a {{name}}"
       [(ngModel)]="value"
       [readonly]="readonly"
       [required]="required">

<date-input *ngIf="type === 'date'"
                [(ngModel)]="value"
                [required]="required"
                bsstDateFormat></date-input>

<textarea *ngIf="type === 'textblob'"
          class="form-control input-sm"
          [(ngModel)]="value"
          [readonly]="readonly"
          [required]="required"
          autosize="200"></textarea>