<div *ngIf="!readonly || !isEmpty" class="col-xs-12"
     [ngClass]="{'has-error': hasErrors}">
    <label class="control-label">
        <span class="text-black">{{name | camelcase2label}}</span>
        <span *ngIf="hasErrors"> ??? </span>
        <span class="text-muted"
              [hidden]="readonly || (isValid && !isEmpty) || (isInvalid && isTouched)">
                    <span *ngIf="valueLength.isAtLeast">
                         (at least {{valueLength.min}}
                    </span>
                    <span *ngIf="valueLength.isAtMost">
                         (at most {{valueLength.max}}
                    </span>
                    <span *ngIf="valueLength.isBetween">
                         (between {{valueLength.min}} and {{valueLength.max}}
                    </span>
                    <span *ngIf="valueLength.isDefined">
                         characters long)
                    </span>
        </span>
    </label>
    <span *ngIf="!readonly && !isRequired"
          class="text-muted pull-right">
                <i>Optional</i>
    </span>
    <div [ngClass]="{'input-group': !readonly, 'readonly': readonly}">
                <span *ngIf="!readonly" class="input-group-addon">
                    <i class="fa {{fieldType.icon}}"></i>
                </span>

        <input-value class="subm-field"
                     [type]="valueType"
                     [readonly]="isReadonly"
                     [required]="field.type.required"
                     [formControl]="fieldControl.control"
                     [isSmall]="false"
                     (ngModelChange)="onValueChange($event)"
                     validate-onblur>
        </input-value>

    </div>
</div>