<st-auth-container>
  <div class="alert" [ngClass]="{'alert-danger': hasError, 'invisible': !hasError }">
    <span [innerHTML]="message"></span>
  </div>
  <div class="card">
    <div *ngIf="success" class="card-body">
      <h4 class="card-title">Thank you for registering</h4>
      <h6 class="card-subtitle mb-2 text-muted">An email has been sent with a link to activate your new account.</h6>
    </div>
    <div *ngIf="!success" class="card-body">
      <h4 class="card-title">Registration</h4>
      <p class="card-subtitle mb-2 text-muted">
        Please provide the information below to create a new account. <br />
        <mark>Note that both the <strong>Full name</strong> and <strong>ORCID</strong> fields are optional.</mark>
      </p>
      <form name="signUpForm" (ngSubmit)="onSubmit(signUpForm)" #signUpForm="ngForm" data-testid="signUpForm" novalidate>
        <div class="form-group">
          <label for="name">Full name</label>
          <span class="text-muted float-right"><i>Optional</i></span>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" autocomplete="off" autofocus/>
        </div>
        <div class="form-group" [ngClass]="{'was-validated': email.invalid && email.touched}">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" autocomplete="off" email="true" required/>
          <div class="invalid-feedback" *ngIf="email.invalid && email.touched">Please enter a valid email</div>
        </div>
        <div class="form-group" [ngClass]="{'was-validated': password.invalid && password.touched}">
          <label for="password">Password</label>
          <span *ngIf="password.invalid && password.touched" class="text-muted"><i>(at least 6 characters long)</i></span>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" minlength="6" required/>
          <div class="invalid-feedback" *ngIf="password.invalid && password.touched">
            <span *ngIf="password.errors?.required">Please enter your new password</span>
            <span *ngIf="password.errors?.minlength">Please use at least 6 characters</span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'was-validated': orcid.invalid && orcid.touched}">
          <label for="orcid">ORCID</label>
          <span class="text-muted float-right"><i>Optional</i></span>
          <span *ngIf="(orcid.invalid && orcid.touched) || orcid.errors?.pattern" class="text-muted">
            <i>(use 4x4 digit format)</i>
          </span>
          <st-orcid-input-box
            #orcid="ngModel"
            [(ngModel)]="model.orcid"
            [isSmall]="false">
          </st-orcid-input-box>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="terms" name="terms" [(ngModel)]="model.terms" #terms="ngModel" required />
            <label for="terms">
              I have read and agree to the
              <a target="_blank" href="https://www.ebi.ac.uk/data-protection/privacy-notice/biostudies-database">Privacy Notice</a> and
              <a target="_blank" href="https://www.ebi.ac.uk/about/terms-of-use">Terms of Use</a>,
              including the limited processing of personal data.
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="isLoading || terms.invalid">
          Register
          <span *ngIf="isLoading"><i class="fa fa-cog fa-spin"></i></span>
        </button>
        <re-captcha
          (resolved)="onRecaptchaResolved($event)"
          name="captcha"
          required
          class="captcha-root"
          #recaptchaEl
        ></re-captcha>
      </form>
    </div>
    <div class="card-footer text-muted">
      <a routerLink="/signin">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Back to Log in
      </a>
    </div>
  </div>
</st-auth-container>
