<div *ngIf="!isReadonly || !isEmpty" class="form-group" [ngClass]="{'was-validated': hasErrors}">
  <label>
    {{fieldName}}
    <i *ngIf="hasHelpText" [tooltip]="fieldHelpText" class="fa fa-question-circle" aria-hidden="true"></i>
    <!-- <span *ngIf="hasErrors">{{errors}}</span>
    <span class="text-muted" [hidden]="isReadonly || isValid || (isInvalid && isTouched)">
      <span *ngIf="valueLength.isAtLeast">
        (at least {{valueLength.min}}
      </span>
      <span *ngIf="valueLength.isAtMost">
        (at most {{valueLength.max}}
      </span>
      <span *ngIf="valueLength.isBetween">
        (between {{valueLength.min}} and {{valueLength.max}}
      </span>
      <span *ngIf="valueLength.isDefined">
        characters long)
      </span>
    </span> -->
  </label>
  <!-- <span *ngIf="!isReadonly && !isRequired" class="text-muted pull-right">
    <i>Optional</i>
  </span> -->
  <div [ngClass]="{'input-group': !isReadonly, 'readonly': isReadonly}">
    <div *ngIf="!isReadonly" class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa {{fieldType.icon}}"></i>
      </span>
    </div>
    <st-input-value [inputId]="fieldId" [valueType]="valueType" [readonly]="isReadonly" [formControl]="fieldControl.control"
      [isSmall]="false" stValidateOnblur stRemoveHostTag>
    </st-input-value>
  </div>
</div>
