<div class="form-group">
    <select class="form-control"
            (change)="onSelectionChange($event)">
        <option value="after" [selected]="after">From (inclusive)</option>
        <option value="before" [selected]="before">To (exclusive)</option>
        <option value="between" [selected]="between">Range</option>
    </select>
</div>
<div *ngIf="after || between" class="form-group">
    <label  *ngIf="between" class="control-label" for="date-from">
        From
        <span class="text-muted">(including date)</span>
    </label>
    <date-input id="date-from"
                [canUsePastDates]="true"
                [(ngModel)]="date.from">
    </date-input>
</div>
<div *ngIf="before || between" class="form-group">
    <label  *ngIf="between" class="control-label" for="date-to">
        To
        <span class="text-muted">(excluding date)</span>
    </label>
    <date-input id="date-to"
                [canUsePastDates]="true"
                [(ngModel)]="date.to">
    </date-input>
</div>
<button class="btn btn-sm btn-primary btn-submit" type="submit"
        (click)="onApplyClick($event)">
    Filter
</button>
<button class="btn btn-sm btn-default btn-submit" type="button"
        (click)="onClearClick($event)">
    Clear
</button>
