<div class="panel {{panelClass || 'panel-default'}}">
    <div class="panel-heading">
        <h4 class="panel-title">
            <div tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
                    ng-class="{'text-muted': isDisabled}">{{heading}}</span>
            </div>
            <div class="pull-right">
                <button class="btn btn-danger btn-xs"><i class=""></i> </button>
            </div>
        </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
    </div>
</div>
