<div *ngIf="!isReadonly || !isEmpty" class="form-group">
  <label>
    <h6 class="m-0">
      {{fieldName}}
      <st-help-link class="ml-1" [text]="fieldHelpText" [href]="fieldHelpLink" ></st-help-link>
      <span class="small text-muted" [hidden]="isReadonly || isValid">
        <span *ngIf="valueLength.isAtLeast">
          (at least {{valueLength.min}}
        </span>
        <span *ngIf="valueLength.isAtMost">
          (at most {{valueLength.max}}
        </span>
        <span *ngIf="valueLength.isBetween">
          (between {{valueLength.min}} and {{valueLength.max}}
        </span>
        <span *ngIf="valueLength.isDefined">
          characters long)
        </span>
      </span>
    </h6>
  </label>
  <span *ngIf="!isReadonly && !isRequired" class="text-muted float-right"><i>Optional</i></span>
  <div [ngClass]="{'input-group': !isReadonly, 'readonly': isReadonly, 'is-invalid': isInvalid && isTouched }">
    <div *ngIf="!isReadonly" class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa {{fieldType.icon}}"></i>
      </span>
    </div>
    <st-input-value class="flex-fill" [valueType]="valueType" [readonly]="isReadonly" [formControl]="fieldControl.control"
      [isSmall]="false" [isInputGroup]="true" stValidateOnblur>
    </st-input-value>
  </div>
  <st-field-errors class="invalid-feedback" [errors]="errors"></st-field-errors>
  <st-unique-submission-warning *ngIf="!isReadonly" [fieldControl]="fieldControl"></st-unique-submission-warning>
</div>
