<div class="overflow-auto container-fluid" *ngIf="tableForm" [formGroup]="tableForm.form">
  <div class="row flex-nowrap mt-0">
    <div class="col-sm-1 col-md-1 border-bottom">
      <button *ngIf="tableForm.canAddColumn() && !isReadOnly"
          class="btn btn-link btn-sm text-truncate" type="button" tabindex="-1"
          [ngClass]="{'invisible': isReadOnly || !userData.isPrivileged}"
          [tooltip]="'Add a new ' + tableForm.tableTypeName.toLowerCase() + ' attribute'"
          container="body"
          placement="right"
          (click)="tableForm.addColumn()">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Column
      </button>
    </div>
    <div *ngFor="let column of tableForm.columns; let idx = index" class="col-sm-1 col-md-1 col-lg-3 col-xl-3 border-bottom"
      [ngClass]="{'optional': tableForm.canRemoveColumn(column), 'has-error': column.hasErrors}">
      <st-inline-edit placement="bottom"
              container="body"
              containerClass="text-danger"
              popover="{{column.hasErrors ? column.errors : ''}}"
              triggers="focus"
              emptyValue="{{'Column ' + (idx + 1)}}"
              [autosuggestSource]="tableForm.columnNamesAvailable"
              [canEdit]="column.canEditName && userData.isPrivileged && !isReadOnly"
              [formControl]="column.control"
              [isOptional]="!column.isRequired"
              [readonly]="isReadOnly"
              [removable]="tableForm.canRemoveColumn(column) && !isReadOnly"
              (remove)="tableForm.removeColumn(column)"
              [helpText]="column.helpText"
              [helpLink]="column.helpLink"
              stValidateOnblur>
      </st-inline-edit>
    </div>
  </div>
  <div *ngIf="!isReadOnly; else table" [sortablejs]="tableForm.rows" [sortablejsOptions]="sortableJsOptions">
    <ng-container *ngTemplateOutlet="table"></ng-container>
  </div>
  <ng-template #table>
    <div *ngFor="let row of tableForm.rows; let rowIdx = index;">
      <div
        *ngIf="!isReadOnly || !row.isEmpty"
        class="row flex-nowrap"
        (mouseenter)="onMouseEnterRow(rowIdx)"
        (mouseleave)="onMouseLeaveRow()">
        <div class="col-sm-1 col-md-1">
          <div class="row-heading">
            <i class="fas fa-grip-vertical grip" [ngClass]="{ 'grip-visible': rowIdx === hoveredRowIndex && isSortable }"></i>
            <span container="body" [tooltip]="tableForm.canRemoveRow() ? '' : 'The table must contain one row at least'">
              <button class="btn btn-danger btn-sm" type="button"
                  [ngClass]="{'invisible': isReadOnly}"
                  [disabled]="!tableForm.canRemoveRow()"
                  (click)="tableForm.removeRow(rowIdx)"
                  [tooltip]="tableForm.canRemoveRow ? 'Delete ' + tableForm.tableTypeName.toLowerCase() + ' ' + (rowIdx + 1) : ''"
                  placement="right"
                  container="body"
                  aria-label="Delete row {{rowIdx}}"
                  title="Delete row {{rowIdx}}">
                <i class="far fa-trash-alt" aria-hidden="true"></i>
              </button>
            </span>
            {{rowIdx+1}}
          </div>
        </div>
        <div class="column-entry col-sm-1 col-md-1 col-lg-3 col-xl-3" *ngFor="let column of tableForm.columns">
          <div [ngClass]="{'readonly': isReadOnly || column.isReadonly, 'has-error': row.hasErrorsAt(column.id)}">
            <st-input-value placement="top"
                    container="body"
                    containerClass="{{tableForm.isRequired ? 'text-danger' : 'text-warning'}}"
                    popover="{{row.hasErrorsAt(column.id) ? row.errorsAt(column.id) : ''}}"
                    triggers="focus"
                    [autosuggestSource]="tableForm.cellValuesTypeaheadFunc(rowIdx, column.id)"
                    [autosuggest]="column.autosuggest"
                    [formControl]="row.cellControlAt(column.id).control"
                    [isSmall]="false"
                    [readonly]="isReadOnly || column.isReadonly"
                    [valueType]="column.valueType"
                    (inputValueSelect)="onInputValueSelect($event, rowIdx)"
                    stValidateOnblur>
            </st-input-value>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<button *ngIf="tableForm && tableForm.canAddRow() && !isReadOnly" type="button" class="btn btn-add btn-link btn-sm" tabindex="-1"
    [tooltip]="'Add a new ' + tableForm.prettyName"
    container="body"
    (click)="tableForm.addRow()">
  <i class="fa fa-lg fa-plus-circle"></i>
  Add {{tableForm.prettyName}} row
</button>
