/* Turns global navigation links into buttons when active/hovered over */
.navbar-btn.active, .btn-link:hover {
    color: #fff;
    background-color: #82b0bc;
}
.nav li {
    margin: 0 5px;
}

/* Indeterminate progress bar */
.navbar-fixed-top {
    border-width: 0 0 2px;
}
.loading-bar {
    position: absolute;
    background: #25a9e0 /*#5fafd0*/;
    height: 2px;
    width: 0%;
}
.animate {
    -webkit-animation: progress 10s infinite linear;
    -moz-animation: progress 10s infinite linear;
    animation: progress 10s infinite linear;
}
@-webkit-keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
