<ul class="list-group">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onApplyChanges()" novalidate>
    <li *ngFor="let item of items; let i = index">
      <button class="list-group-item list-group-item-action border-0 bg-transparent text-white" *ngIf="isEditModeOff"
        (click)="onItemClick(item)">
        <span tooltip="{{ collapsed ? '' : item.description | stripHtml}}" placement="auto" container="body">
          <i class="fa {{item.icon}}"></i>
          {{!collapsed ? '&nbsp;&nbsp;' + item.prettyName : ''}}
        </span>
      </button>
      <div class="list-group-item border-0 bg-transparent text-white pl-1" *ngIf="isEditModeOn && !item.deleted">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text bg-transparent border-0 text-white">
              <i class="fa {{item.icon}}"></i>
            </span>
          </div>
          <input type="text" class="form-control input-sm form-control-auto" [formControl]="item.control"
            [ngClass]="{'is-invalid': item.control.invalid && item.control.touched}"
            stValidateOnblur />
          <div class="input-group-append">
            <button class="item-delete btn btn-danger btn-sm btn-flat" [disabled]="item.isReadonly" tooltip="delete"
              (click)="onItemDelete(item)">
              <i class="fas fa-trash-alt fa-fw"></i>
            </button>
          </div>
          <div class="invalid-feedback text-white pl-4">
            <span [hidden]="!item.control.errors?.unique || !item.control.touched">
              Please use a unique type name
            </span>
            <span [hidden]="!item.control.errors?.required || !item.control.touched">
              Please enter a type name
            </span>
          </div>
        </div>
      </div>
    </li>
    <li class="pl-2" *ngIf="isEditModeOn && !collapsed">
      <button class="btn btn-primary btn-submit" type="submit">
        Save
      </button>
      <button class="btn btn-default btn-cancel" (click)="onCancelChanges($event)">
        Cancel
      </button>
    </li>
  </form>

  <li *ngIf="!collapsed && isEditModeOff && userData.isPrivileged && isAdvancedVisible">
    <div class="d-flex justify-content-end">
      <button class="btn btn-link btn-sm text-white" (click)="onAdvancedToggle()">
        <i class="far fa-lg" aria-hidden="true"
          [ngClass]="{'fa-caret-square-down': isAdvancedClosed, 'fa-caret-square-up': isAdvancedOpen}"></i>
        Advanced
      </button>
    </div>
    <ul class="list-group" *ngIf="!isAdvancedOpen">
      <li>
        <button class="list-group-item list-group-item-action bg-dark text-white border-0"
          (click)="onEditModeToggle($event)">
          <i class="fas fa-pen"></i>
          Edit types
        </button>
      </li>
      <li *ngIf="isEditModeOff">
        <button class="list-group-item list-group-item-action bg-dark text-white border-0"
          (click)="onNewTypeClick($event)">
          <i class="fas fa-plus"></i>
          Add type
        </button>
      </li>
    </ul>
  </li>
</ul>
