<div class="list-group">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onApplyChanges()" novalidate>
    <ng-container *ngFor="let item of items; let i = index">
      <button class="btn btn-light list-group-item d-flex justify-content-between align-items-center border-0 rounded-0 w-100" *ngIf="isEditModeOff"
        (click)="onItemClick(item)">
        <span tooltip="{{ collapsed ? '' : item.description | stripHtml}}" placement="auto" container="body">
          <i class="fa {{item.icon}}"></i>
          {{!collapsed ? '&nbsp;&nbsp;' + item.prettyName : ''}}
        </span>
      </button>
      <div class="list-group-item border-0 bg-transparent pl-1" *ngIf="isEditModeOn && !item.deleted">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text bg-transparent border-0">
              <i class="fa {{item.icon}}"></i>
            </span>
          </div>
          <input type="text" class="form-control input-sm form-control-auto" [formControl]="item.control"
            [ngClass]="{'is-invalid': item.control.invalid && item.control.touched}"
            stValidateOnblur />
          <div class="input-group-append">
            <button class="item-delete btn btn-danger btn-sm btn-flat" [disabled]="item.isReadonly" tooltip="delete"
              (click)="onItemDelete(item)">
              <i class="fas fa-trash-alt fa-fw"></i>
            </button>
          </div>
          <div class="invalid-feedback pl-4">
            <span [hidden]="!item.control.errors?.unique || !item.control.touched">
              Please use a unique type name
            </span>
            <span [hidden]="!item.control.errors?.required || !item.control.touched">
              Please enter a type name
            </span>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="pl-2" *ngIf="isEditModeOn && !collapsed">
      <button class="btn btn-primary btn-submit" type="submit">
        Save
      </button>
      <button class="btn btn-default btn-cancel" (click)="onCancelChanges($event)">
        Cancel
      </button>
    </div>
  </form>

  <div *ngIf="!collapsed && isEditModeOff && userData.isPrivileged && isAdvancedVisible">
    <div class="d-flex justify-content-end">
      <button class="btn btn-link btn-sm" (click)="onAdvancedToggle()">
        <i class="far fa-lg" aria-hidden="true"
          [ngClass]="{'fa-caret-square-down': isAdvancedClosed, 'fa-caret-square-up': isAdvancedOpen}"></i>
        Advanced
      </button>
    </div>
    <div class="list-group" *ngIf="!isAdvancedOpen">
      <button class="list-group-item bg-dark text-white text-left border-0 w-100 rounded-0"
        (click)="onEditModeToggle($event)">
        <i class="fas fa-pen"></i>
        Edit types
      </button>
      <div *ngIf="isEditModeOff">
        <button class="list-group-item bg-dark text-white text-left border-0 w-100 rounded-0"
          (click)="onNewTypeClick($event)">
          <i class="fas fa-plus"></i>
          Add type
        </button>
      </div>
    </div>
  </div>
</div>
