<div class="wrapper">
   <input id="{{inputId}}" class="form-control {{inputId}}" placeholder="Choose a date" type="text"
      [ngClass]="{'input-sm': isSmall, 'is-grouped': isInputGroup }" [ngModel]="inputDateValue" [required]="required"
      (click)="onInputClick()" (change)="onInputChange($event)" [readonly]="readonly" stBootstrapValidation>
   <!--
      This is a hack to show dates out of min/max dates. bsDatePicker has a validation which checks if the provided
      date is out of min/max dates and if so, it automatically overrides the value for the predefined min date.
      To bypass it, two inputs have been defined, the form-control above which only visualizes the value and this hidden
      input which displays the date picker.
   -->
   <label class="sr-only" aria-hidden="true" for="date-picker-hidden-input">Hidden date picker</label>
   <input id="date-picker-hidden-input" class="hidden-input" (bsValueChange)="onPickerSet($event)" (onShown)="onPickerShown()"
      #dp="bsDatepicker" [bsConfig]="{ showTodayButton: true, todayPosition: 'center' }" aria-hidden="true" readonly bsDatepicker>
</div>
