.wrapper {
  display: flex;
  position: relative;
  max-width: 15rem;
}

.hidden-input {
  position: absolute;
  height: 100%;
  top: 0;
  visibility: hidden;
}

.dropdown {
  position: relative;
}

/* Ensures the control is understood as a select-like interactive element */
.dropdown:after {
  content: "\25BC";
  position: absolute;
  right: .75rem;
  top: .5rem;
  z-index: 100;
}

.form-control {
  cursor: pointer;
}

/* Do not display interactivity cues if datepicker is meant to be read-only */
.readonly.dropdown:after {
  display: none;
}

.readonly .form-control {
  cursor: default;
}

.is-grouped {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
