<span class="root" *ngIf="isEmpty">
  <span *ngIf="isGroupRoot">
    <i class="fa fa-fw fa-folder"></i>
    {{groupName}}
  </span>
  <span *ngIf="!isGroupRoot">
    <i class="fa fa-home"></i>
    Home
  </span>
</span>
<span class="root" *ngIf="!isEmpty">
  <a *ngIf="!last"
    href="javascript:void(0)"
    (click)="onDirectoryClick('root')">
    <span *ngIf="isGroupRoot">
      <i class="fa fa-fw fa-folder"></i>
      {{groupName}}
    </span>
    <span *ngIf="!isGroupRoot">
      <i class="fa fa-home"></i>
      Home
    </span>
  </a>
  <i class="fa fa-angle-right chevron"></i>
</span>
<span *ngFor="let dir of dirs; let last = last; let index = index" class="dir">
  <a *ngIf="!last"
     href="javascript:void(0)"
     (click)="onDirectoryClick(index)">
    {{dir}}
  </a>
  <span *ngIf="!last">
    <i class="fa fa-angle-right chevron"></i>
  </span>
  <span *ngIf="last">{{dir}}</span>
</span>
