<div class="input-group">
  <input id="{{inputId}}" class="form-control {{inputId}}" type="text" placeholder="{{!readonly ? 'Find by PubMed ID' : ''}}"
    [(ngModel)]="value" (keyup)="keyUp.next($event.target.value)" [readonly]="readonly"
    [required]="required">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" [disabled]="isBusy || !pubMedId || readonly"
      (click)="togglePreviewPub()">
      <i class="fa fa-fw fa-lg" aria-hidden="true" [ngClass]="{ 'fa-cog fa-spin': isBusy, 'fa-search': !isBusy}"></i>
    </button>
  </div>
</div>
