<div class="container-fluid">
  <div class="row">
    <st-sidebar (toggle)="onSideBarCollapsed()">
      <st-directory-sidebar name="userDirsSidebar" [(ngModel)]="absolutePath"
        (directorySidebarSelect)="onRootPathSelect($event)" [collapsed]="sideBarCollapsed">
      </st-directory-sidebar>
    </st-sidebar>
    <main class="col" [ngClass]="{
      'sidebar-expanded': !sideBarCollapsed,
      'sidebar-collapsed': sideBarCollapsed
    }">
      <nav class="navbar navbar-light border-bottom page-navbar bg-white sticky-top">
        <st-directory-path [path]="absolutePath" (directoryPathChange)="onPathChange($event)"></st-directory-path>
        <div class="row btn-group" role="group">
          <div class="col pr-1">
            <st-file-upload-button [multiple]="true" [isDirOnly]="false"
              (fileUploadSelect)="onUploadFilesSelect($event)" title="File upload" tooltip="Select files"
              placement="bottom" #fileEl>
            </st-file-upload-button>
          </div>
          <div class="col-4 pr-1 pl-1">
            <st-file-upload-button [multiple]="false" [isDirOnly]="true" title="Folder upload"
              (fileUploadSelect)="onUploadFilesSelect($event)" tooltip="Select a folder" placement="bottom" #fileEl>
            </st-file-upload-button>
          </div>
          <div class="col pl-1">
            <st-ftp-upload-button></st-ftp-upload-button>
          </div>
        </div>
      </nav>
      <div class="p-3">
        <ag-grid-angular style="width: 100%; height: 580px;" class="ag-theme-fresh" [gridOptions]="gridOptions"
          [columnDefs]="columnDefs" enableSorting (rowDoubleClicked)="onRowDoubleClick($event)">
        </ag-grid-angular>
      </div>
    </main>
  </div>
</div>
