<div class="panel panel-info" ng-if="data.files.length > 0">
    <!-- Default panel contents -->
    <div class="panel-heading">Files
        <!--<h4 tabindex="0" class="panel-title accordion-toggle">Panel heading
        </h4>-->
        <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group ">
                <button class="btn btn-xs btn-success"
                        uib-tooltip="Add a new file"
                        tooltip-append-to-body="true"
                        tooltip-placement="bottom"
                        ng-click="onAdd(data);">Add a file </button>
            </div>
        </div>

    </div>

    <ul class="list-group" ng-repeat="file in data.files" ng-form name="fileForm">
        <a class="list-group-item">
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td colspan="2" class="border-none">
                        <p class="pull-right">
                            <button class="pull-right btn btn-danger btn-xs" ng-click="deleteItem($index, data.files)"
                                    uib-tooltip="Delete this author"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="bottom">Delete this file
                            </button>

                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-3 nopadding border-none" ng-class="{'has-error':linkForm.url.$error.required}">
                        <label class="control-label pull-right">File path</label>
                    </td>
                    <td class="col-md-9 nopadding border-none form-group" ms-form-group-validator>

                        <input type="text" ng-model="file.path"
                               name="linkUrl{{$index}}"
                               class="form-control"
                               required
                               readonly
                               placeholder="File path">

                    </td>

                </tr>
                <tr ng-repeat="attribute in file.attributes" ng-form name="atrFileForm">
                    <td class="col-md-3 nopadding border-none form-group" ms-form-group-validator>
                        <label class="control-label">Key<span
                                ng-show="atrFileForm.attrKey.$error.required">: cannot be blank</span></label>

                        <input autocomplete="off" type="text" name="attrKey" ng-model="attribute.name"
                               uib-typeahead="item as item.name for item in typeHead | filter:$viewValue:$emptyOrMatch | limitTo:30"
                               typeahead-append-to-body="true"
                               typeahead-show-hint="true"
                               typeahead-min-length="0"
                               class="form-control control-label input-sm"
                               placeholder="Type a key" ng-required="true">
                    </td>
                    <td class="col-md-9 nopadding border-none form-group" ms-form-group-validator>
                        <label class="control-label">Value<span
                                ng-show="atrFileForm.attrValue.$error.required">: cannot be blank</span></label>

                        <p class="input-group">
                            <input type="text" name="attrValue" ng-model="attribute.value"
                                   class="form-control input-sm"
                                   placeholder="Enter a value" ng-required="true">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-danger btn-flat"
                                            ng-click="deleteItem($index, data.attributes)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="">
                        <p class="pull-right">
                            <button class="btn btn-primary btn-xs" ng-click="addAttribute(file)"
                                    uib-tooltip="Add information about file"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="bottom">Add a description
                            </button>

                        </p>
                    </td>
                </tr>
                </tbody>
            </table>

        </a>
    </ul>



</div>



