<uib-tabset>
    <uib-tab ng-repeat="section in data.sections" >
        <uib-tab-heading>
            <span ng-bind="section.name"></span>
        </uib-tab-heading>


        <div class="btn-bar">
            <div class="btn-toolbar margin-top-small margin-left-small margin-bottom" role="toolbar">
                <div class="btn-group" role="group">
                    <button class="btn btn-flat btn-success-fg"
                            tooltip-append-to-body="true"
                            uib-tooltip="Add an annotation"
                            tooltip-placement="top" ng-click="bsAddAnnotation(section)">
                        <span class=" fa fa-comment-o fa-fw "></span> <span></span>
                    </button>
                    <button class="btn btn-flat btn-success-fg"
                            tooltip-append-to-body="true"
                            uib-tooltip="Add an author"
                            tooltip-placement="top" ng-click="addAuthor(section)">
                        <i class="fa fa-user fa-fw"></i> <span></span>
                    </button>
                    <button class="btn btn-flat btn-success-fg"
                            uib-tooltip="Add a link"
                            tooltip-append-to-body="true"
                            tooltip-placement="top" ng-click="addLink(section)">
                        <i class="fa fa-link fa-fw"></i> <span></span>
                    </button>
                    <button class="btn btn-flat btn-success-fg"
                            tooltip-append-to-body="true"
                            uib-tooltip="Add a source"
                            tooltip-placement="top" ng-click="addSource(section)">
                        <i class="fa fa-database fa-fw"></i> <span></span>
                    </button>

                    <button class="btn btn-flat btn-success-fg"
                            ng-click="showFileDlg(section)"
                            tooltip-append-to-body="true"
                            uib-tooltip="Add a file"
                            tooltip-placement="top">
                        <i class="fa fa-file-o fa-fw"></i>
                    </button>


                    <button class="btn btn-flat btn-success-fg"
                            tooltip-append-to-body="true"
                            uib-tooltip="{{tooltipAddSection}}"
                            tooltip-placement="top" ng-click="bsAddSection(section)">
                        <i class="fa fa-th fa-fw"></i> <span></span>
                    </button>
                    <button class="btn btn-flat btn-danger-fg"
                            uib-tooltip="Delete the section"
                            tooltip-append-to-body="true"
                            tooltip-placement="top"
                            ng-click="deleteItem($index, data)">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </button>

                </div>
            </div>

        </div>

        <div class="form-group" bs-show-errors>

            <label class="col-sm-2 control-label">Name</label>

            <div class="col-sm-8">
                <input type="text" name="sectionName{{$index}}" class="form-control"
                       ng-model="section.name"
                       placeholder="Enter name of the section" required>
            </div>

        </div>
        <div class="form-group" bs-show-errors>

            <label class="col-sm-2 control-label">Description</label>

            <div class="col-sm-8">
                <textarea name="sectionDesc{{$index}}" class="form-control" ng-model="section.description"
                          placeholder="Enter the title of the section" required>
                </textarea>
            </div>

        </div>
        <accordion id="ac1" class="col-lg-12" close-others="false">
            <bs-section-item-a ng-model="section"
                               data-template-name="bsAnnotation.html"
                               type-head="annotationKeys"
                               data-on-delete="deleteAnnotation">
            </bs-section-item-a>
            <bs-section-item-a ng-model="section"
                               data-template-name="bsSource.html"
                               type-head="sourceKeys"
                               data-on-delete="deleteSource">
            </bs-section-item-a>


            <bs-section-item-a ng-model="section"
                               data-template-name="bsLink.html"
                               data-on-delete="deleteLink">

            </bs-section-item-a>

            <bs-section-item-a ng-model="section"
                               data-template-name="bsAuthor.html"
                               data-on-delete="deleteAuthor">

            </bs-section-item-a>


            <bs-section-item-a ng-model="section"
                               data-template-name="bsFile.html"
                               data-on-delete="deleteFile">
            </bs-section-item-a>

            <p>{{section.sections}}</p>
           <accordion-group is-open="true" ng-if="section.sections.length > 0"
                             heading="Sections">
            <!--    <bs-section ng-model="section1"
                            data-on-delete="deleteSection">
                </bs-section>
            -->
            </accordion-group>

        </accordion>

    </uib-tab>
</uib-tabset>
