<uib-accordion-group id="ac1Source" is-open="true" ng-if="data.sources.length > 0"
                 heading="Sources">

<div class="col-lg-12" ng-repeat="source in data.sources">
    <div class="col-sm-3 margin-right">
        <div class="form-group" bs-show-errors>

            <input type="text" ng-model="source.identifier"
                   name="sourceIdentifier{{$index}}"
                   class="form-control"
                   required
                   placeholder="Type a identifier">
        </div>
    </div>

    <div class="col-sm-8">
        <div class="form-group" bs-show-errors>
            <p class="input-group">
                <input type="text" name="sourcesSource{{$index}}"
                       ng-model="source.source"
                       typeahead="item.name for item in typeHeadObj | filter:$viewValue | limitTo:30"
                       typeahead-append-to-body="true"
                       class="form-control"
                       placeholder="Enter a source" required>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger  btn-flat"
                            ng-click="deleteItem($index,data)">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>

</div>
</uib-accordion-group>
