<ng-container [ngSwitch]="valueType.name">
  <input *ngSwitchCase="valueTypeNameEnum.text"
      id="{{inputId}}"
      type="text"
      class="form-control"
      tooltip="{{isOverflow() && !ahead._container ? value : ''}}"
      container="body"
      placement="bottom"
      [formControl]="formControl"
      [(ngModel)]="value"
      [ngClass]="{'input-sm': isSmall}"
      [readonly]="readonly"
      [typeahead]="typeahead()"
      [typeaheadMinLength]="suggestThreshold"
      [typeaheadOptionsLimit]="200"
      [typeaheadScrollable]="true"
      [typeaheadOptionsInScrollableView]="suggestLength"
      (blur)="onBlur()"
      (keydown)="onKeyDown()"
      [disabled]="readonly"
      stBootstrapValidation/>

  <textarea *ngSwitchCase="valueTypeNameEnum.largetext"
      id="{{inputId}}"
      class="form-control"
      stAutosize="200"
      [formControl]="formControl"
      [readonly]="readonly"
      (keyup.enter)="$event.stopPropagation()"
      (blur)="onBlur()"
      stBootstrapValidation>
  </textarea>

  <st-select-input *ngSwitchCase="valueTypeNameEnum.select"
      [ngClass]="{'input-group-element': isInputGroup}"
      [formControl]="formControl"
      [values]="valueType.values"
      [multiple]="valueType.multiple"
      [readonly]="readonly"
      [isInputGroup]="isInputGroup">
  </st-select-input>

  <st-date-input *ngSwitchCase="valueTypeNameEnum.date"
      [inputId]="inputId"
      [isSmall]="isSmall"
      [formControl]="formControl"
      [readonly]="readonly"
      [maxDate]="nowInNyears()"
      [allowPast]="allowPast"
      (focusout)="onBlur()"
      [isInputGroup]="isInputGroup">
  </st-date-input>

  <st-id-link *ngSwitchCase="valueTypeNameEnum.idlink"
      [inputId]="inputId"
      [isSmall]="isSmall"
      [readonly]="readonly"
      [suggestThreshold]="suggestThreshold"
      [suggestLength]="suggestLength"
      [formControl]="formControl"
      (focusout)="onBlur()">
  </st-id-link>

  <st-orcid-input-box *ngSwitchCase="valueTypeNameEnum.orcid"
      [inputId]="inputId"
      [isSmall]="isSmall"
      [readonly]="readonly"
      [isPopupButton]="false"
      [formControl]="formControl"
      (focusout)="onBlur()">
  </st-orcid-input-box>

  <st-file-select *ngSwitchCase="valueTypeNameEnum.file"
      [inputId]="inputId"
      [formControl]="formControl"
      [readonly]="readonly"
      [isInputGroup]="isInputGroup">
  </st-file-select>

  <st-pubmedid-search *ngSwitchCase="valueTypeNameEnum.pubmedid"
      [inputId]="inputId"
      [formControl]="formControl"
      [readonly]="readonly"
      (found)="selectData($event)">
  </st-pubmedid-search>

  <st-dna-input *ngSwitchCase="valueTypeNameEnum.dna"
      [ngClass]="{'input-group-element': isInputGroup}"
      [inputId]="inputId"
      [formControl]="formControl"
      [readonly]="readonly"
      [isInputGroup]="isInputGroup">
  </st-dna-input>

  <st-protein-input *ngSwitchCase="valueTypeNameEnum.protein"
      [ngClass]="{'input-group-element': isInputGroup}"
      [inputId]="inputId"
      [formControl]="formControl"
      [readonly]="readonly"
      [isInputGroup]="isInputGroup">
  </st-protein-input>
</ng-container>
