<ng-select [items]="orgs$ | async"
  appendTo="body"
  (change)="onChange"
  (change)="onSelectChange($event)"
  (focus)="onTouched"
  [(ngModel)]="selectedOrgs"
  [addTag]="true"
  [hideSelected]="true"
  [inputAttrs]="{'class': inputId}"
  [labelForId]="inputId"
  [loading]="orgsLoading"
  [markFirst]="false"
  [minTermLength]="2"
  [multiple]="true"
  [ngClass]="{'is-grouped': isInputGroup, 'is-invalid': formControl.invalid && formControl.touched}"
  [readonly]="readonly"
  [trackByFn]="trackByFn"
  [typeahead]="orgsInput$"
  bindLabel="name"
  typeToSearchText="Please enter 2 or more characters">
</ng-select>
