<ng-select [items]="orgs$ | async"
           [(ngModel)]="selectedOrgs"
           [ngClass]="{'is-grouped': isInputGroup, 'is-invalid': formControl.invalid && formControl.touched}"
           bindLabel="name"
           [addTag]="true"
           [multiple]="true"
           [hideSelected]="true"
           [minTermLength]="2"
           [loading]="orgsLoading"
           typeToSearchText="Please enter 2 or more characters"
           [trackByFn]="trackByFn"
           [typeahead]="orgsInput$"
           [readonly]="readonly"
           [markFirst]="false"
           (change)="onChange"
           (change)="onSelectChange($event)"
           (focus)="onTouched"
           appendTo="body">
</ng-select>
