<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas"
       ng-show="toggle">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li ng-class="{active : submissionMenu}">
                <a href="#submissions">
                    <i class="fa fa-table"></i> <span>Submissions</span>
                </a>
            </li>
            <li ng-class="{active : importMenu}">
                <a href="#import">
                    <i class="fa fa-upload"></i> <span>Import</span>
                </a>
            </li>
            <li ng-class="{active : exportMenu}">
                <a href="#export">
                    <i class="fa fa-download"></i> <span>Export</span>
                    <small class="badge pull-right bg-green">new</small>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
