.modal-header {
  padding: 0;
}

.modal-footer {
  padding: 0 !important;
  border: none;
}

.modal-wrap-contents {
  width: fit-content;
}

.container {
  padding: 1rem 1rem 1rem 1rem;
  max-height: 90vh;
  overflow: auto;
}

.description {
  padding-top: 1rem;
}

.examples {
  padding: 2rem 0 0 0;
}

.examples ul {
  list-style: none;
  padding-left: 0;
}

.examples li:not(:first-child) {
  padding-top: 1rem;
}

.examples li {
  font-style: italic;
}
