<st-layout-auth>
  <div class="card">
    <div *ngIf="!message" class="card-body">
      <h4 class="card-title">Activating <i class="fa fa-cog fa-spin"></i></h4>
    </div>
    <div *ngIf="message" class="card-body">
      <h5 class="card-subtitle mb-2 text-muted">
        <i class="fa fa-exclamation-triangle"></i>
        {{message}}
      </h5>
    </div>
    <div class="card-footer text-muted">
      <a routerLink="/signin">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Back to Log in
      </a>
    </div>
  </div>
</st-layout-auth>
