<st-auth-container>
  <div class="alert" [ngClass]="{'alert-danger': hasError, 'invisible': !hasError}">
    <span [innerHTML]="message"></span>
  </div>
  <div class="card">
    <st-activation-link-success *ngIf="showSuccess" [email]="model.email" [comesFromEmail]="comesFromEmail"></st-activation-link-success>
    <div *ngIf="!showSuccess" class="card-body">
      <h4 class="card-title">Send activation email</h4>
      <h6 class="card-subtitle mb-2 text-muted">
        Please enter your email and we will send you a link to activate your account.
      </h6>
      <form name="raForm" (ngSubmit)="onSubmit(raForm)" #raForm="ngForm" data-testid="raForm" novalidate>
        <div class="form-group" [ngClass]="{'was-validated': email.invalid && email.touched}">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" #email="ngModel" [disabled]="isLoading" autofocus required/>
          <div class="invalid-feedback" *ngIf="email.invalid && email.touched">Please enter a valid email</div>
        </div>
        <button type="submit" class="btn btn-primary my-2" [disabled]="isLoading">
          {{isLoading ? 'Sending' : 'Send'}} activation
          <span *ngIf="isLoading"><i class="fa fa-cog fa-spin"></i></span>
        </button>
        <re-captcha
          (resolved)="onRecaptchaResolved($event)"
          name="captcha"
          required
          class="captcha-root"
          #recaptchaEl
        ></re-captcha>
      </form>
    </div>
    <div class="card-footer text-muted">
      <a routerLink="/signin">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Back to Log in
      </a>
    </div>
  </div>
</st-auth-container>
