<div class="d-flex align-content-center h-100" [ngClass]="{'editable': canEdit, 'text-muted': !editing}">
  <input class="form-control form-control-auto" type="text" tabindex="-1" autocomplete="off"
       name="inline-edit-box"
       container="body"
       placement="bottom"
       [tooltip]="isOverflow(inlineEditBox) ? value : ''"
       [(ngModel)]="value"
       [placeholder]="placeholder"
       [readonly]="!editing"
       [typeahead]="typeahead"
       [typeaheadMinLength]="suggestThreshold"
       [typeaheadOptionsLimit]="200"
       [typeaheadScrollable]="true"
       [typeaheadOptionsInScrollableView]="suggestLength"
       (blur)="onBlur()"
       (click)="canEdit && onEdit()"
       (keyup.enter)="onEnterKey($event, ahead._container)"
       (keydown)="onKeyDown()"
       #ahead="bs-typeahead"
       #inlineEditBox/>
  <div *ngIf="!editing" class="btn-group btn-group-sm">
    <button *ngIf="canEdit" class="btn btn-link" type="button"
        (click)="onEdit($event)">
      <i class="fas fa-pencil-alt"></i>
    </button>
    <button *ngIf="canRemove" class="btn btn-link" type="button"
        (click)="onRemove($event)">
      <i class="fas fa-trash-alt text-danger"></i>
    </button>
  </div>
</div>
