.st-direct-submit-sidebar {
  height: 100%;
}

.st-direct-submit-form-container {
  padding: 1.5rem;
  background: #fff;
}

.st-direct-submit-progress {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
}

.files-control {
  padding-top: 10px;
}

.mode-toggle {
  margin: 0;
}

.control-list {
  border-top: 1px solid #cadde8;
}

.has-error .control-list {
  border-color: #fbd9cb;
}

.progress {
  margin: 12px 5px 0;
}
