.st-direct-upload-files-grid {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 360px);
}

.panel-extra {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container-full {
  width: 100%;
}

.fa-caret-square-o-up {
  display: none;
}

.container-full .fa-caret-square-o-down {
  display: none;
}

.container-full .fa-caret-square-o-up {
  display: inline;
}

.panel.text-primary:hover {
  color: white;
  background: #3c739f;
  transition: background-color .25s ease-in;
}
