<ng-container *ngIf="file">
  <div class="card h-100" [ngClass]="{'panel-default': !accno, 'text-primary': accno}"
    [ngStyle]="{'cursor': accno || hasSubmitFailed ? 'pointer' : 'default'}"
    [tooltip]="accno ? 'Edit this study' : hasSubmitFailed ? 'Click to show error log' : ''"
    (click)="hasSubmitFailed || hasSubmitPassed ? handleOnFileClick($event, hasSubmitFailed, accno) : null"
    placement="top" container="body">
    <div class="card-body">
      <div class="card-title d-flex align-items-center">
        <div>
          <i class="fa fa-2x" *ngIf="!hasSubmitPassed" aria-hidden="true" [ngClass]="{
                'st-panel-description-icon': submitType != 'none',
                'fa-plus': !isPending && submitType == 'create',
                'fa-sync-alt': !isPending && submitType == 'update',
                'fa-caret-square-down text-danger': hasSubmitFailed,
                'fa-edit': hasSubmitPassed,
                'fa-exchange-alt': isSubmitting}">
          </i>
        </div>
        <h5 class="st-direct-submit-file-name m-0">{{file.name}}</h5>
      </div>
      <span *ngIf="!hasSubmitFailed && isStudy">
        {{project ? project : 'No project'}}
      </span>
      <span class="text-danger" *ngIf="hasSubmitFailed">
        {{error}}
      </span>
      <div class="overflow-auto" *ngIf="hasSubmitFailed">
        <st-subm-results-tree [log]="errorLog"></st-subm-results-tree>
      </div>
      <div *ngIf="hasSubmitPassed" class="text-right">
        <p class="card-title">
          <strong>{{accno}}</strong>
        </p>
        <span *ngIf="releaseDate">
          <i class="fa fa-bullhorn"></i>&nbsp; {{releaseDate | date: 'dd MMM yyyy'}}
        </span>
        <span *ngIf="!releaseDate">
          No release date
        </span>
      </div>
    </div>
    <div *ngIf="!hasSubmitFailed && !hasSubmitPassed" class="card-footer text-muted"
      (click)="handleOnIsStudyChange(!isStudy, fileName)">
      <input type="checkbox" [checked]="isStudy">
      Study File
    </div>
  </div>
</ng-container>
