<div class="st-direct-upload-page">
  <st-direct-submit-sidebar
      (toggle)="onToggle()"
      [collapsed]="collapseSideBar"
      #sidebar>
  </st-direct-submit-sidebar>
  <div class="st-direct-upload-body">
    <nav class="st-direct-upload-navbar navbar-default navbar-subm-fixed" [ngClass]="{'collapse-left': collapseSideBar}">
      <div class="col-xs-4 nav-block">
        <a routerLink="/submissions{{sidebar.hasRequests && sidebar.isStatus('successful') ? '' : '/draft'}}">
          <i *ngIf="sidebar.hasRequests && sidebar.isStatus('successful')" class="fa fa-database" aria-hidden="true"></i>
          {{sidebar.hasRequests && sidebar.isStatus('successful') ? 'Submitted' : 'Submission list'}}
        </a>
        &nbsp;<i class="fa fa-angle-right font-bold"></i>&nbsp;
        <strong>Direct upload</strong>
      </div>
      <div class="col-xs-4 nav-block text-center text-muted">
        <span *ngIf="sidebar.pendingFiles > 0">
          <strong>{{sidebar.pendingFiles}}</strong> {{pluralise('files')}} pending upload
        </span>
        <span *ngIf="sidebar.pendingFiles === 0 && sidebar.hasRequests && uploadedCount()">
          <strong>{{uploadedCount()}}</strong> {{pluralise('files')}} uploaded
        </span>
        <span *ngIf="sidebar.hasRequests && sidebar.isStatus('failed')" class="text-danger">
          <strong>{{sidebar.errorFiles}}</strong> failed
        </span>
      </div>
    </nav>
    <div class="st-direct-upload-container">
      <aside class="right-side clearfix">
        <div class="help-msg panel">
          <div *ngIf="!sidebar.hasRequests" class="panel-body">
            <h4>New direct {{sidebar.submitType == 'create' ? 'entry' : 'update'}}</h4>
            <p>Please fill in the form on the left-hand side to upload your study files:</p>
            <ol>
              <li>
                <strong>
                  {{sidebar.isBulkSupport ? 'Are all the files in a folder?' : 'Provide the study files'}}
                </strong>
                <p>
                    Use the <i>"Browse..."</i> button to select the relevant files.
                    <span *ngIf="sidebar.isBulkSupport">
                    If all of them are located under a certain folder, you can instead check the
                    <i>"Bulk folder"</i> option and select that folder.
                    </span>
                </p>
              </li>
              <li>
                <strong>Which projects are you attaching your studies to?</strong>
                <p>Choose the projects all your files will be attached to. If no project is selected, studies
                  will be uploaded as stand-alone and will be allocated an accession number with format
                  <i>S-BSST&lt;number&gt;</i>.
                </p>
              </li>
              <li>
                <strong>Are you updating existing studies?</strong>
                <p>Only select <i>"Update studies"</i> if the files are intented to overwrite
                  corresponding studies on the database.
                </p>
              </li>
            </ol>
            <div class="alert alert-warning">
              <div class="pull-left">
                <i class="fa fa-hand-o-right fa-lg"></i>
                <strong>Please note</strong>
              </div>
              <p class="text-block text-black">
                If updating existing studies, each study file must have the accession number as its first
                entry. In a spreadsheet, for example, the number would be in the first line.
              </p>
            </div>
          </div>
          <div *ngIf="sidebar.hasRequests">
            <div *ngIf="sidebar.isStatus('busy')" class="panel-body">
              <h4>{{sidebar.submitType == 'create' ? 'Creating' : 'Updating'}} {{pluralise('study')}}...</h4>
              <p>Please wait while the {{pluralise('studies')}} {{pluralise('is')}} being {{sidebar.submitType + 'd'}} and validated.
                Any invalid ones will be highlighted below. Click on them to reveal more details.</p>
            </div>
            <div *ngIf="sidebar.isStatus('failed') && sidebar.isStatus('done')" class="panel-body">
              <h4>Error while {{sidebar.submitType == 'create' ? 'creating' : 'updating'}} {{pluralise('study')}}</h4>
              <p>The {{pluralise('study')}} highlighted below {{pluralise('is')}} invalid or an unexpected
                error was encountered. Please try to correct any issues before uploading the affected {{pluralise('files')}} again.
                To show the error log, simply click on the relevant failed file.
              </p>
            </div>
            <div *ngIf="sidebar.isStatus('successful')" class="panel-body">
              <h4>{{pluralise('Study')}} {{sidebar.submitType + 'd'}}</h4>
              <p>
                The {{pluralise('study')}} specified below with accession {{pluralise('number')}}
                <span *ngFor="let file of sidebar.model.files; let i = index; let last = last">
                  <strong>{{getAccno(i)}}</strong>{{last ? '' : ', '}}
                </span>
                {{pluralise('has')}} been successfully
                {{sidebar.submitType == 'create' ? 'added to the BioStudies database' : 'updated'}}.
                {{sidebar.selectedFileCount > 1 ? 'They' : 'It'}}
                {{sidebar.submitType == 'create' ? 'will be available in the next 24 hours' : 'is available'}}
                at the following {{pluralise('address')}}:
                <span *ngFor="let file of sidebar.model.files; let i = index; let last = last">
                  <a target="_blank" href="{{location.origin}}/biostudies/studies/{{getAccno(i)}}">
                    {{location.hostname}}/biostudies/studies/{{getAccno(i)}}</a>{{last ? '' : ', '}}
                </span>.
              </p>
              <strong>
                <a target="_blank" href="https://www.ebi.ac.uk/biostudies/about.html">
                  Citing my {{pluralise('study')}}
                  <i class="fa fa-fw fa-external-link-square"></i>
                </a>
              </strong>
              <blockquote class="blockquote">
                Data are available in the BioStudies database (http://www.ebi.ac.uk/biostudies)
                under accession {{pluralise('number')}}
                <span *ngFor="let file of sidebar.model.files; let i = index; let last = last">
                  {{getAccno(i)}}{{last ? '' : ', '}}
                </span>.
              </blockquote>
              <strong>
                <a target="_blank" href="http://europepmc.org/abstract/MED/26700850">
                  Citing the BioStudies database
                  <i class="fa fa-fw fa-external-link-square"></i>
                </a>
              </strong>
              <blockquote class="blockquote">
                McEntyre J, Sarkans U, Brazma A (2015) The
                BioStudies database. <i>Mol. Syst. Biol.</i> 11(12):847.
                https://doi.org/10.15252/msb.20156658.
              </blockquote>
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let file of sidebar.model.files; let i = index">
            <div *ngIf="file" class="col-xs-12 col-md-6 col-lg-4">
              <div class="panel"
                  [ngClass]="{'panel-default': !getAccno(i), 'text-primary': getAccno(i)}"
                  [ngStyle]="{'cursor': getAccno(i) || isFail(i) ? 'pointer' : 'default'}"
                  [tooltip]="getAccno(i) ? 'Edit this study' : isFail(i) ? 'Show error log' : ''"
                  (click)="handleFileCardClick($event, isFail(i), getAccno(i))"
                  placement="top"
                  container="body">
                <div class="panel-heading">
                  <i class="fa fa-2x" aria-hidden="true"
                      [ngClass]="{ 'fa-plus': !sidebar.hasRequests && sidebar.submitType == 'create',
                          'fa-refresh': !sidebar.hasRequests && sidebar.submitType == 'update',
                          'fa-caret-square-down text-danger': isFail(i),
                          'fa-pencil': isSuccess(i),
                          'fa-exchange': isBusy(i)}">
                  </i>
                  <div class="panel-description"
                      [ngClass]="{'col-xs-6': sidebar.hasRequests && !isFail(i),
                            'col-xs-10': !sidebar.hasRequests || isFail(i)}">
                    <p class="panel-title">
                      <strong>{{file.name}}</strong>
                    </p>
                    <div class="panel-extra">
                      <span *ngIf="!isFail(i)">
                        {{sidebar.selectedProject ? sidebar.selectedProject : 'No project'}}
                      </span>
                      <span *ngIf="isFail(i)" class="text-danger">
                        {{getError(i)}}
                      </span>
                    </div>
                  </div>
                  <div *ngIf="isSuccess(i)" class="pull-right text-right">
                    <p class="panel-title">
                      <strong>{{getAccno(i)}}</strong>
                    </p>
                    <span *ngIf="getRelease(i)">
                      <i class="fa fa-bullhorn"></i>&nbsp; {{getRelease(i) | date: 'dd MMM yyyy'}}
                    </span>
                    <span *ngIf="!getRelease(i)">
                      No release date
                    </span>
                  </div>
                </div>
                <div *ngIf="isFail(i)" class="hidden panel-body container-fluid">
                  <st-subm-results-tree [log]="getLog(i)"></st-subm-results-tree>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
