<ng-container *ngIf="file">
  <div class="card h-100" [ngClass]="{'panel-default': !accno, 'text-primary': accno}"
    [ngStyle]="{'cursor': accno  ? 'pointer' : 'default'}"
    [tooltip]="accno ? 'Edit this study' : ''"
    (click)="hasSubmitPassed ? handleOnFileClick($event, hasSubmitFailed, accno) : null"
    placement="top" container="body">
    <div class="card-body">
      <div class="card-title d-flex align-items-center">
        <div>
          <i class="fa fa-2x" *ngIf="!hasSubmitPassed" aria-hidden="true" [ngClass]="{
                'st-panel-description-icon': submitType != 'none',
                'fa-plus': !isPending && submitType == 'create',
                'fa-sync-alt': !isPending && submitType == 'update',
                'fa-caret-square-down text-danger': hasSubmitFailed,
                'fa-edit': hasSubmitPassed,
                'fa-exchange-alt': isSubmitting}">
          </i>
        </div>
        <h5 class="st-direct-submit-file-name m-0">{{file.name}}</h5>
      </div>
      <div *ngIf="hasSubmitPassed">
        <p class="card-title">
          <strong>{{accno}}</strong>
        </p>
        <dl class="row mb-0">
          <dt class="col-sm-6" *ngIf="releaseDate">Release Date</dt>
          <dd class="col-sm-6" *ngIf="releaseDate">{{releaseDate | date: 'dd MMM yyyy'}}</dd>
          <dd class="col-sm-6" *ngIf="!releaseDate">No release date</dd>

          <dt class="col-sm-6" *ngIf="isStudy">Project</dt>
          <dd class="col-sm-6" *ngIf="isStudy">{{project ? project : 'No project'}}</dd>
        </dl>
      </div>
      <span class="text-danger" *ngIf="hasSubmitFailed">
        {{error}}
      </span>
      <div class="overflow-auto" *ngIf="hasSubmitFailed">
        <st-subm-results-tree [log]="errorLog"></st-subm-results-tree>
      </div>
    </div>
    <div *ngIf="!hasSubmitFailed && !hasSubmitPassed" class="card-footer text-muted"
      (click)="handleOnIsStudyChange(!isStudy, fileName)">
      <input type="checkbox" [checked]="isStudy">
      Study File
    </div>
  </div>
</ng-container>
