.st-panel-description {
  align-items: center;
  display: flex;
}

.st-panel-description-icon {
  padding-right: 10px;
}

.st-panel-description-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
