.st-panel-overflow {
  overflow: auto;
}

.st-panel-description {
  align-items: center;
  display: flex;
}

.st-panel-description-icon {
  padding-right: 10px;
}

.st-direct-submit-file-name {
  word-wrap: anywhere;
}
