<div *ngIf="file">
  <div class="panel"
      [ngClass]="{'panel-default': !accno, 'text-primary': accno}"
      [ngStyle]="{'cursor': accno || hasSubmitFailed ? 'pointer' : 'default'}"
      [tooltip]="accno ? 'Edit this study' : hasSubmitFailed ? 'Click to show error log' : ''"
      (click)="hasSubmitFailed || hasSubmitPassed ? handleOnFileClick($event, hasSubmitFailed, accno) : null"
      placement="top"
      container="body">
    <div class="panel-body">
      <div class="st-panel-description">
        <i class="fa fa-2x"
            *ngIf="!hasSubmitPassed"
            aria-hidden="true"
            [ngClass]="{
                'st-panel-description-icon': submitType != 'none',
                'fa-plus': !isPending && submitType == 'create',
                'fa-sync-alt': !isPending && submitType == 'update',
                'fa-caret-square-down text-danger': hasSubmitFailed,
                'fa-edit': hasSubmitPassed,
                'fa-exchange-alt': isSubmitting}">
          </i>
        <h4 class="st-direct-submit-file-name">{{file.name}}</h4>
      </div>
      <span *ngIf="!hasSubmitFailed && isStudy">
        {{project ? project : 'No project'}}
      </span>
      <span *ngIf="hasSubmitFailed" class="text-danger">
        {{error}}
      </span>
      <div *ngIf="hasSubmitFailed" class="hidden panel-body container-fluid log-container">
        <st-subm-results-tree [log]="errorLog"></st-subm-results-tree>
      </div>
      <div *ngIf="hasSubmitPassed" class="pull-right text-right">
        <p class="panel-title">
          <strong>{{accno}}</strong>
        </p>
        <span *ngIf="releaseDate">
          <i class="fa fa-bullhorn"></i>&nbsp; {{releaseDate | date: 'dd MMM yyyy'}}
        </span>
        <span *ngIf="!releaseDate">
          No release date
        </span>
      </div>
    </div>
    <div *ngIf="!hasSubmitFailed && !hasSubmitPassed" class="panel-footer" (click)="handleOnIsStudyChange(!isStudy, fileName)">
      <input type="checkbox" [checked]="isStudy">
      Study File
    </div>
  </div>
</div>
