@import "~@ng-select/ng-select/scss/default.theme.scss";
@import "~ag-grid-community/dist/styles/ag-grid.scss";
@import "~ag-grid-community/dist/styles/ag-theme-fresh/sass/ag-theme-fresh.scss";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import './theme/subtool-variables.scss';
@import './theme/subtool-theme.scss';
@import './theme/subtool-ag-grid-theme.scss';
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr-bs4-alert';

body {
  padding-top: var(--header-height);
  position: relative;
}

/* Selects dropdown are append to body so the reason of having this global style here. */
/* It ensures wide content in the dropdown is shown properly. */
.ng-dropdown-panel {
  width: auto !important;
}

/* Toast styles need to be global as the toast can be opened from any component */
.toast-top-left {
  top: 5px;
}

.toast-container .ngx-toastr {
  width: 800px;
  padding: 0.2rem 1.25rem 0.2rem 50px;
}
