:host ::ng-deep .ck-editor__editable_inline {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 6px 12px;
}

:host ::ng-deep .ck.ck-editor__editable_inline > :last-child {
  margin: 0;
}

:host ::ng-deep .ck.ck-editor__editable_inline > :first-child {
  margin: 0;
}

:host ::ng-deep .ck.ck-editor__editable_inline p {
  margin: 0;
}

:host ::ng-deep .is-readonly .ck-editor__editable_inline {
  border: 0;
}

.has-error :host ::ng-deep .ck-editor__editable_inline {
  border-color: #C05F5D;
}
