<container-root>
    <container-md>
        <div>
            <div [hidden]="error == null" class="alert alert-danger" style="margin-left:0">
                {{error?.message}}
            </div>
            <div [hidden]="error !== null" class="alert">
                &nbsp;
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-body">

                <form id="login-form" novalidate name="signInForm" role="form"
                      (submit)="signInForm.form.valid && onSubmit($event)" #signInForm="ngForm">
                    <div class="form-group" [ngClass]="{'has-error': login.invalid && login.dirty}">
                        <label class="control-label" for="login">Email/login name
                            <span [hidden]="login.valid || login.pristine">: cannot be blank</span>
                        </label>
                        <input type="text" id="login" name="login" tabindex="1"
                               class="form-control"
                               placeholder="Email or login name"
                               [(ngModel)]="model.login"
                               required
                               (change)="resetError()"
                               #login="ngModel"/>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': password.invalid && password.dirty}">
                        <label class="control-label" for="password">Password
                            <span [hidden]="password.valid || password.pristine">: cannot be blank</span>
                        </label>
                        <input type="password" name="password" id="password" tabindex="2"
                               class="form-control"
                               placeholder="Password"
                               [(ngModel)]="model.password"
                               required
                               (change)="resetError()"
                               #password="ngModel"/>

                        <div class="form-group" style="text-align: right">
                            <span><a routerLink="/password_reset_request">Forgot password?</a></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                        <span *ngIf="waiting"><i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                    <div class="form-group">
                        <span>Don't have an account? <a routerLink="/signup">Sign Up</a></span>
                    </div>
                    <div>
                        <span><a routerLink="/resend_activation_link">Resend activation link</a></span>
                    </div>
                </form>

            </div>
        </div>
    </container-md>
</container-root>